.article {
	&__title {
		margin: 0;
		padding: 0;
		width: 100%;
		position: relative;
		font-family: $font_title;
		font-weight: 800;
		font-size: 36px;
		text-transform: uppercase;
		line-height: 1;
		text-align: center;
		position: relative;
		background: #FFC121;
		color: #265A6D;
		&:before,
		&:after {
			content: '';
			border: 1px solid #000;
			position: absolute;
			left: -2%;
			z-index: 1;
			width: 104%;
			height: 0;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
		@include min-responsive($mxtablet) {
			padding: 0;
			font-size: 45px;
			width: 100%;
			margin: 20px 0 40px;
		}
		span {
			display: block;
			padding: 15px 10px;
			position: relative;
			&:before,
			&:after {
				content: '';
				border: 1px solid #000;
				position: absolute;
				top: -10%;
				z-index: 1;
				width: 0;
				height: 120%;
			}
			&:before {
				left: 0;
			}
			&:after {
				right: 0;
			}
		}
		&--chapter2 {
			color: #000;
			&:before,
			&:after {
				border: 1px solid #fff;
			}
			span {
				&:before,
				&:after {
					border: 1px solid #fff;
				}
			}
		}
		&--chapter4 {
			color: #000;
			background: #fff;
			&:before,
			&:after {
				border: 1px solid #265A6D;
			}
			span {
				&:before,
				&:after {
					border: 1px solid #265A6D;
				}
			}
		}
		// untuk matiin float di mobile
		@include max-responsive($mxtablet) {			
			&--nofloat {
				position: relative;
				width: 100%;
				left: 0;
				color: #000;
			}
		}
		&--inline {
			position: relative;
			bottom: 10%;
			left: 20px;
			color: #fff;
			width: 98%;
			margin: 0 -20px 30px;
			padding: 20px 0;
			@include min-responsive($mxtablet) {
				width: 100%;
			}
		}
	}
	&__subtitle {
		display: block;
		font-size: 21px;
		padding: 0 0 20px;
		margin: 10px 0 10px;
		font-style: italic;
		@include min-responsive($mxtablet) {
			font-size: 22px;
			margin: 0;
		}
	}
	&__imgtitle {
		text-align: center;
		position: relative;
		padding: 0 0 40px;
		&--sejarah {
			padding: 0;
		}
		@include min-responsive($mxtablet) {
			padding: 0 0 40px;
		}
		// &--top {
			
		// }
		&--left {
			display: none;
			// position: absolute;
			position: absolute;
			width: 30%;
			top: 40px;
			left: -10px;
			transform: rotate(-15deg);
			-moz-transform: rotate(-15deg);
			-webkit-transform: rotate(-15deg);
			-o-transform: rotate(-15deg);
			-ms-transform: rotate(-15deg);
			@include min-responsive($mxtablet) {
				top: 50px;
				left: -20px;
				width: auto;
				display: block;
			}
		}
		&--right {
			display: none;
			transform: rotate(20deg);
			-moz-transform: rotate(20deg);
			-webkit-transform: rotate(20deg);
			-o-transform: rotate(20deg);
			-ms-transform: rotate(20deg);
			position: absolute;
			top: 50px;
			right: -20px;
			@include min-responsive($mxtablet) {
				display: block;
			}
		}
		&--bottom {
			position: relative;
			top: -24px;
			@include min-responsive($mxtablet) {
				top: -45px;
			}
		}
	}
	&__dropcap:first-letter {
		font-size: 70px;
		line-height: 1;
		float: left;
		margin-right: 6px;
		font-weight: bold;
		@include min-responsive($mxtablet) {
			font-size: 90px;
		}
	}
	&__text {
		// color: #000;
		font-weight: 300;
		font-size: 18px;
		line-height: 1.4;
		position: relative;
		@include min-responsive($mxtablet) {
			line-height: 1.5;
			font-size: 18px;
		}
		& strong {
			font-weight: 700;
		}
		& a {
			text-decoration: none;
			font-weight: 700;
			color: #F04124;
			&:hover {
				color: #000;
				text-decoration: none;
			}
		}
		&--light {
			color: #fff;
		}
		&--float {
			color: #fff;
			// text-align: right;
			padding: 20px 0;
			margin: 50px 20px 0 20px;
			text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
			@include min-responsive($mxtablet) {
				color: #fff;
				background: #000;
				// text-align: left;
				padding: 20px;
				margin: 50px 40px 0;
			}
		}
	}
	&__highlight {
		font-weight: 700;
		background: #a2a2a2;
		color: #fff;
		font-size: 20px;
		line-height: 20px;
		@include min-responsive($mxtablet) {
			font-size: 24px;
			line-height: 24px;
		}
	}
	&__badge {
		position: absolute;
		top: -25px;
		left: -20px;
		width: 65px;
		height: 65px;
		font-size: 16px;
		font-weight: 300;
		line-height: 1;
		border-radius: 40px;
		background: #e10000;
		border: 1px solid #000;
		padding: 12px 0;
		text-align: center;
		z-index: 2;
		color: #fff;
		-moz-transform: rotate(-20deg);
		-webkit-transform: rotate(-20deg);
		-o-transform: rotate(-20deg);
		-ms-transform: rotate(-20deg);
		transform: rotate(-20deg);
		@include min-responsive($mxtablet) {
			top: -35px;
			left: -30px;
			width: 80px;
			height: 80px;
			font-size: 20px;
			padding: 15px 0;
		}
	}
}
