.footer {
	position: relative;
	&--top {
		background: $cl_mugos2;
		padding: 30px 0;
		// @include min-responsive($screen-sm-min) {
	    	// margin-top: 50px;
	    // }
	}
	&--bottom {
		background: $cl_mugos1;
		padding: 5px 0 20px;
		text-align: center;
		@include min-responsive($screen-sm-min) {
			text-align: left;
		}
	}
	&--right {
		text-align: center;
		@include min-responsive($screen-sm-min) {
			text-align: right;
		}
	}
	&__sosmed {
		padding: 35px 0;
	}
	&__logo {
		padding: 0 0 10px;
		text-align: center;
		img {
			width: 120px;
		}
	}
	&__content {
		color: #fff;
		text-align: center;
        @include range-responsive($screen-sm-min, $screen-md-min) {
			padding: 0 0 20px;
		}
	}
	&__menu {
		display: inline-block;
		padding: 10px 0;
		&--main {
			display: none;	
			@include min-responsive($screen-sm-min) {
				display: inline-block;
			}
		}
		&--right {
			text-align: right;
		}
		&item {
			display: inline-block;
		}
	}
	&__link {
		color: #fff;
		padding: 0 3px;
		font-family: $font_body_bold;
		font-size: 13px;
		@include min-responsive($screen-sm-min) {
			padding: 0 10px;
			font-size: 14px;
		}
		&--light {
			font-family: $font_body_medium;
		}
		&:hover {
			color: $cl_mugos2;
		}
	}
	&__copy {
		padding: 0 10px;
		color: #fff;
		display: inline-block;
	}
}
