
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	-webkit-tap-highlight-color: transparent;
}
body {
	font-family: $font_body;
	font-size: 14px;
	font-weight: 400;
	background: $bg_base;
	color: $cl_primary;
	line-height: 1.3;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility:hidden;
	margin: 0;
	padding: 0;
}
// html,body {
// 	@include display_full();
// }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
a {
	color: inherit;
	text-decoration: none;
	vertical-align: top;
	outline:0;
	@include base_transition(all);
	&:hover {
		color: $cl_mugos1;
		text-decoration: none;
	}
}
a:focus,
button:focus {
	outline: 0;
	outline: -webkit-focus-ring-color auto 0;
	outline-offset: 0
}
img {
	max-width: 100%;
	width: auto;
	height: auto;
	vertical-align: top;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
table {
	border-collapse: collapse;
}
iframe {
	border: none;
	vertical-align: top;
}
video {
	vertical-align: top;
}
ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
input,
button,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}

input:focus {
	outline: 0;
}

input:focus::-webkit-input-placeholder,
input:focus:-moz-placeholder,
input:focus::-moz-placeholder,
input:focus:-ms-input-placeholder {
	color: transparent;
}

h1, h2, h3 {
	margin: 0;
}

