.clearfix {
	*zoom: 1;
	&:after,
	&:before {
		display: table;
		content: "";
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}
.container {
	width: $grid_mobile;
	margin-right: auto;
	margin-left: auto;
	padding-right: $grid-gutter-width-edge;
	padding-left: $grid-gutter-width-edge;
	*zoom: 1;
	position: relative;
	@include min-responsive($screen-sm-min) {
		width: $container-sm;
	}
	@include min-responsive($screen-md-min) {
		width: $container-md;
	}
	@include min-responsive($screen-lg-min) {
		width: $container-lg;
	}
}
.col-offset-fluid {
	margin-right: -$grid-gutter-width-edge;
	margin-left: -$grid-gutter-width-edge;
}
.col-offset-0 {
	padding-right: 0px;
	padding-left: 0px;
}

.display-table {
	display: table;
	@include display_full();
	position: relative;
	z-index: 1;
}
.display-center {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	@include display_full();
}
