.header {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    background: #fff;
    width: 100%;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
    @include min-responsive($screen-sm-min) {
        padding-top: 0px;
        padding-bottom: 0px;
        // background: transparent; 
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    &--fixed {
        position: fixed;
        top: 0;
        z-index: 9;
        @include min-responsive($screen-sm-min) {
            position: relative;
        }
    }
    &__block {
        padding: 0;
        text-align: center;
        @include range-responsive($screen-sm-min, $screen-md-min) {
            padding: 20px 0;
            text-align: left;
        }
        @include min-responsive($screen-md-min) {
            padding: 30px 0 30px;
            text-align: left;
        }
    }
}
.logo {
    display: inline-block;
    @include min-responsive($screen-sm-min) {
        display: block;
        text-align: center;
    }
    @include min-responsive($screen-md-min) {
        text-align: left;
    }
    &__img {
        display: inline-block;
        img {
            width: 200px;
            @include min-responsive($screen-sm-min) {
                width: 300px;
            }
            @include min-responsive($screen-md-min) {
                width: 480px;
            }
        }
        &--small {
            img {
                display: none;
                @include min-responsive($screen-sm-min) {
                    display: inline-block;
                    width: 120px;
                }
            }
        }
    }
    &--small {
        visibility: hidden;
        opacity: 0;
        display: none;
        @include base_transition(all);
        @include min-responsive($screen-sm-min) {
            display: inline-block;
            position: absolute;
            padding: 14px 10px 18px;
            z-index: 1;
        }
        @include range-responsive($screen-sm-min, $screen-md-min) {
            padding: 10px 0;
        }
    }
}
