.menu {
	&--mobile {
        display: inline-block;
        float: left;
        @include min-responsive($screen-sm-min) {
            display: none;
        }
    }
    &--account {
		display: inline-block;
        float: right;
		@include min-responsive($screen-sm-min) {
			display: none;
		}
    }
    &--notification {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 9px;
            height: 9px;
            background: #d71345;
            border-radius: 10px;
            z-index: 1;
            left: 2px;
            top: 10px;
        }
    }
    &__main {
        display: inline-block;
        width:30px;
        height:30px;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        // place
        // position: absolute;
        // left: 15px;
        // top: 21px;
        text-align: center;
        padding: 7px 0 0;
        i {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 2px;
            color:#fff;
            font:bold 14px/.4 Helvetica;
            text-transform: uppercase;
            text-indent: -105px;
            background: #000;
            transition:all .2s ease-out;
        }
        i::before, i::after {
            content:'';
            width: 20px;
            height: 2px;
            background: #000;
            position: absolute;
            left:0;
            transition:all .2s ease-out;
        }
        i::before {
            top: -5px;
        }
        i::after {
            bottom: -5px;
        }
        // &:hover i::before {
        //     top: -10px;
        // }
        // &:hover i::after {
        //     bottom: -10px;
        // }
        // &.active i {
            // background: transparent;
        // }
        &.active i::before {
            width: 10px;
            top:-4px;
            -webkit-transform: rotateZ(-45deg);
            -moz-transform: rotateZ(-45deg);
            -ms-transform: rotateZ(-45deg);
            -o-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
        }
        &.active i::after {
            width: 10px;
            bottom:-4px;
            -webkit-transform: rotateZ(45deg);
            -moz-transform: rotateZ(45deg);
            -ms-transform: rotateZ(45deg);
            -o-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
        }
    }
    &__account {
        font-size: 25px;
        line-height: 1;
        display: inline-block;
        width:30px;
        height:30px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        padding: 8px 0 0;
    }
}

.nav {
	position: relative;
	padding: 0; 
	// menu
	&__menu {
		display: inline-block;
        @include min-responsive($screen-sm-min) {
            display: none;
        }
    }
    &__block {
        border-top: transparent;
        height: 0;
        overflow: hidden;
		@include min-responsive($screen-sm-min) {
            border-top: 1px solid $cl_mugos1;
            background: #fff;
            // background: #6b007d;
            height: auto;
            overflow: visible;
        }
    }
	// stack
	&__stack {
		position: relative;
		@include reset_ul();
        margin: 0 0 80px;
        // text-align: center;
        @include base_transition(all);
        @include range-responsive($screen-sm-min, $screen-md-min) {
            margin: 0;
            // text-align: left;
        }
        @include min-responsive($screen-md-min) {
            margin: 0 -10px;
            padding: 0 2px;
            // text-align: left;
        }
    }
    &__item {
        @include reset_ul();
        float: left;
        display: block;
        width: 100%;
        @include min-responsive($screen-sm-min) {
            width: auto;
            display: inline-block;
        }
    }
    &__icon {
        vertical-align: baseline;
        display: inline-block;
        padding: 0 15px 0 0;
    }
    &__link {
        color: $cl_mugos2;
        display: block;
        padding: 15px;
        font-size: 16px;
        text-transform: uppercase;
        font-family: $font_body_bold;
        border-bottom: 1px solid #cecece;
        @include range-responsive($screen-sm-min, $screen-md-min) {
            border-bottom: 2px solid transparent;
            // color: #fff;
            font-size: 12px;
            padding: 11px 0 12px;
            margin: 0 3px;
        }
        @include min-responsive($screen-md-min) {
            border-bottom: 2px solid transparent;
            // color: #fff;
            padding: 17px 0 15px;
            margin: 0 8px;
        }
        span {
            color: $cl_mugos1;
        }
        &--active,
        &:hover {
            color: $cl_mugos2;
            background: transparent;
            border-bottom: 1px solid #cecece;
            @include min-responsive($screen-sm-min) {
                border-bottom: 2px solid $cl_mugos1;
            }
        }
        &--active {
            //color: $cl_mugos1;
            border-left: 4px solid $cl_mugos1;
            border-bottom: 1px solid #cecece;
            @include min-responsive($screen-sm-min) {
                border-bottom: 2px solid $cl_mugos1;
                border-left: none;
            }
        }
    }
    &__sidr {
        text-align: center;
        display: block;
        @include min-responsive($screen-sm-min) {
            display: none;
        }
        &__menu {
            padding: 10px 20px;
            font-size: 30px;
            font-weight: 300;
            border-bottom: 1px solid $cl_mugos2;
            // margin-bottom: 20px;
            height: 65px;
            background: #e4e4e4;
            img {
                width: auto;
                height: 43px;
            }
        }
        &__close {
            position: relative;
        }
        &__button {
            display: inline-block;
            position: absolute;
            // right: 20px;
            bottom: 20px;
            font-size: 25px;
            line-height: 1;
            color: $cl_mugos1;
            &--left {
                left: 20px;
            }
            &--right {
                right: 15px;
                // font-size: inherit;
                // width: 35px;
                // span {
                //     font-size: 20px;
                //     display: inline-block;
                //     float: left;
                //     margin-right: 1px;
                //     color: #000;
                // }
            }
        }
    }

    &--account {
        position: relative;
        // padding: 18px 0 0;
        padding: 0;
        @include min-responsive($screen-sm-min) {
            padding: 10px 0 0;
            text-align: right;
        }
        @include range-responsive($screen-sm-min, $screen-md-min) {
            padding: 3px 0 0;
        }
        &__stack {
            position: relative;
            @include reset_ul();
            margin: 0;
            display: none;
            @include min-responsive($screen-sm-min) {
                display: inline-block;
            }
        }
        &__item {
            @include reset_ul();
            float: right;
            display: inline-block;
            margin: 0 10px;
            &:first-child {
                // border-left: 1px solid #333;
                margin: 0;
            }
        }
        &__link {
            display: block;
            font-family: $font_body_demi;
            font-size: 14px;
            color: #fff;
            border-radius: 5px;
            background: #e70c85;
            padding: 6px 8px;
            @include min-responsive($screen-md-min) {
                padding: 8px 15px;
            }
            &:hover {
                color: #fff;
                background: darken(#e70c85, 10%);
            }
            span {
                margin-right: 5px;
            }
        }

        // logged
        &__logged {
            &__button {
                display: inline-block;
            }
            &__img {
                width: 40px;
                height: 40px;
                overflow: hidden;
                border-radius: 40px;
                border: 2px solid #fff;
                margin-top: -3px;
                &--small {
                    width: 30px;
                    height: 30px;
                    border: none;
                    margin-top: -2px;
                }
            }
            &__menu {
                padding: 0;
                @include min-responsive($screen-sm-min) {
                    padding: 10px 15px;
                    background: rgba(239, 33, 120, .7);
                    position: absolute;
                    top: 51px;
                    right: -1px;
                    // min-width: 200px;
                    width: 220px;
                    z-index: 9;
                    border-radius: 5px;
                    // border: 1px solid #b1b1b1;
                    // -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
                    // box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
                    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .18);
                    box-shadow: 0 0 15px rgba(0, 0, 0, .18);
                }
                &--hide {
                    display: none;
                }
                &:before {
                    font-family: $font_icon;
                    color: rgba(239, 33, 120, .7);
                    position: absolute;
                    top: -13px;
                    right: 15px;
                    font-size: 20px;
                    line-height: 1;
                    @include min-responsive($screen-sm-min) {
                        content: '\f0d8';
                    }
                }
            }
            &__item {
                border-bottom: 1px solid #cecece;
                // border-bottom: 1px solid lighten($cl_mugos1, 5%);
                @include min-responsive($screen-sm-min) {
                    border-bottom: 1px solid #efa6ce;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
            &__link {
                padding: 25px 20px;
                font-size: 16px;
                display: block;
                font-family: $font_body_demi;
                text-align: left;
                line-height: 1;
                color: $cl_mugos2;
                @include min-responsive($screen-sm-min) {
                    padding: 15px 0;
                    font-size: 16px;
                    color: #fff;
                }
                &:hover {
                    color: $cl_mugos2;
                }
                span {
                    // vertical-align: middle;
                    font-size: 16px;
                    display: inline-block;
                    line-height: 1;
                    margin-right: 5px;
                    vertical-align: top;
                    @include min-responsive($screen-sm-min) {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
