.main {
	padding-top: 20px;
	// padding-bottom: 50px;
	margin-top: 65px;
    @include min-responsive($screen-sm-min) {
    	padding-top: 20px;
    	margin-top: 0px;
    	padding-bottom: 50px;
    }
    &--full {
		background-position: center center;
		background-size: cover;
		position: relative;
		background-image: url('../images/bg-register.jpg');
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			background: rgba(0,0,0,.3);
		}
    }
}

.page {
	position: relative;
	padding: 20px;
	margin: 0 -10px;
	background: rgba(255, 255, 255, 0.94);
    @include min-responsive($screen-sm-min) {
		padding: 40px 100px;
		margin: 0;
    }
	&__content {
		// background: #fff;
		background: none;
		ul,
		ol {
			margin: initial;
			list-style: initial;
			padding: 0 0 0 20px;
		}
		li {
			margin: 0 0 10px;
		}
		a {
			color: $cl_mugos1;
		}
		p {
			font-size: 14px;
			line-height: 1.7;
		}
	}
}