.parallax {
	position: relative;
	min-height: 300px;
	height: 380px;
	top: 0;
	overflow: hidden;
	z-index: 2;
	@include min-responsive($mdtablet) {
		min-height: 100%;
	}
	&--500 {
		min-height: 500%;
	}
	&--fluid {
		height: 100%;
		min-height: unset;
	}
	&--closing {
		height: 480px;
		@include min-responsive($mdtablet) {
			height: 380px;
		}
	}
	&--none {
		min-height: initial;
		height: auto;
		@include min-responsive($mdtablet) {
			min-height: 100%;
			height: 380px;
		}
	}
	&--video {
		padding: 20px 0;
		@include min-responsive($mdtablet) {
			padding: 0;
		}
	}
	&--page2 {
		min-height: 280px;	
		@include min-responsive($mdtablet) {
			min-height: 80%;
		}
	}
	&__img {
		width: 100%;
		position: absolute;
		background-position: center center;
		background-size: cover;
		height: 100%;
		top: 0;
		@include min-responsive($mdtablet) {
			min-height: 100%;
			position: absolute;
		}
		&--fluid {
			min-height: 100%;
			@include min-responsive($mdtablet) {
				min-height: 140%;
			}
		}
		&--maps {
			height: 100%;
			min-height: unset;
			@include min-responsive($mdtablet) {
				height: 100%;
			}
		}
		&--closing {
			height: 480px;
			@include min-responsive($mdtablet) {
				height: 380px;
			}
		}
		&--full {
			background-image: none;
			background-size: contain;
			background-repeat: no-repeat;
			min-height: auto;
			height: auto;
			position: relative;
			@include min-responsive($mdtablet) {
				background-repeat: no-repeat;
				position: absolute;
				min-height: 120%;
				& img {
					display: none;
				}
			}
		}
		&--fixed {
			background-attachment: auto;
			@include min-responsive($mdtablet) {
				background-attachment: fixed;
			}
		}
		&--500 {
			position: fixed;
			min-height: 100%;
			z-index: 1;
		}
	}
	&__item {
		position: absolute;
		&--fixie {
			position: absolute;
			bottom: 7%;
			left: 0%;
			z-index: 2;
			@include min-responsive($mdtablet) {
				bottom: 5%;
				left: -5%;
			}
			@include range-responsive($mntablet, $mdtablet) {
				left: 20%;
			}
			& img {
				height: 300px;
				@include min-responsive($mdtablet) {
					height: auto;
				}
			}
		}
	}
	&__caption {
		z-index: 1;
	}
}
