// Bootstrap
// @import 'vendors/bootstrap';
// @import "compass/css3";
// base sass, mixin + variable
@import 'base/vars';
@import 'base/mixin/mixin';
@import 'base/mixin/grid';
@import 'base/mixin/grid-framework';

// global
@import 'base/fonts';
// @import 'components/icon';
@import 'layout/global';
@import 'layout/grid_bootstrap';
@import 'layout/grid';

// header
@import 'layout/header';
@import 'layout/nav';

// main
// @import 'layout/parallax';
@import 'layout/page';
// @import 'layout/sidebar';
@import 'components/form';
// @import 'pages/intro';
// @import 'pages/background';

// content components
// @import 'components/video';
@import 'components/title';
@import 'components/trending';
@import 'components/video';
@import 'components/chatbox';
@import 'components/share';
@import 'components/schedule';
@import 'components/login';
@import 'components/register';
@import 'components/profile';
@import 'components/badge';
@import 'components/modal';

// @import 'components/setting';
// @import 'components/news';
// @import 'components/message';
@import 'components/button';
// @import 'components/paging';

// footer
@import 'layout/footer';
// @import 'pages/credit';

// plugin
// @import 'plugin/skrollr';
// @import 'plugin/slick';
@import 'plugin/slick-theme';
@import 'plugin/slick-custom';
@import 'plugin/magnific-popup';
@import 'plugin/sidr.dark';
@import 'plugin/selectize.default';

// override
@import 'modules/override';
@import 'modules/scroll';

// effects
@import 'modules/animate';

.chat-stamp-l {
	font-size: 12px;
    margin: 8px 0 0 12px;
    float: right;
    color: rgba(239, 33, 120, 0.6);
}

@import 'components/news';
@import 'components/most';
@import 'components/gift';
@import 'components/faq';
@import 'components/emoji';
@import 'components/balance';
@import 'components/paging2';
@import 'components/topup';
@import 'components/tooltips';

@import 'components/pensi';
