<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>

<!-- header -->
{{> header active="about"}}

<div id="overlay"></div>
<!-- main -->
<div class="main main--full clearfix">
	<div class="row col-offset-fluid-0 clearfix">
		<div class="col-md-offset-1 col-md-10 clearfix">
			<div class="page clearfix">
				<div class="title title--clear title--inline"><span>About</span></div>
				<div class="page__content">
					<p>Selamat datang di MUGOS!</p>
					<p>“WE BRING INDONESIA TO THE WORLD” adalah visi MUGOS sebagai visual radio dengan penyajian unik
					pertama di Indonesia. Dengan semangat ini, konten yang disajikan MUGOS dikemas dengan sentuhan
					urban, mengedepankan keberagaman dan kekayaan Indonesia, serta berita-berita positif yang ter up to
					date.</p>
					<p>NOW YOU CANT WATCH THE RADIO adalah salah satu tagline MUGOS dalam memberikan sajian kepada
					Mugos Frentos dengan kekuatan radio sekaligus tampilan visual yang menarik. Selain itu, Mugos Frentos
					juga dapat mengaktualisasikan diri secara live di MUGOS. Karena hanya di MUGOS, EVERYBODY CAN BE
					ON TV.</p>
					<p>Dengan tayangan real time melalui website streaming, mobile application serta sindikasi Teresterial
					Radio di beberapa kota di Indonesia, MUGOS hadir dengan memberikan konten-konten yang fresh,
					percakapan interaktif melalui layanan chat box dengan penyiar, terkini dan entertaining tanpa
					melupakan ciri khas kekayaan Indonesia.</p>
					<p>&nbsp;</p>
					<p>Welcome to MUGOS!</p>
					<p>&quot;WE BRING INDONESIA TO THE WORLD&quot; is a vision from MUGOS as the first visual radio with a unique
					presentation in Indonesia. Through this spirit, the content of MUGOS are packed with urban touches,
					emphasizes the diversity and the richness of Indonesia, as well as the updated positive news.
					“NOW YOU CAN WATCH THE RADIO” is one of MUGOS’s tagline in delivering content to Mugos Frentos
					with the power of radio and an attractive visual appearance at the same time. Aside that, Mugos
					Frentos also can actualize themselves by doing live report in MUGOS. Because only in MUGOS,
					“EVERYBODY CAN BE ON TV”.</p>
					<p>With the real-time content through streaming website, mobile applications as well as syndicated
					Terrestrial Radio in several cities in Indonesia, MUGOS appears to provide the content that is fresh,
					interactive conversation with announcer through chat box services, up to date and entertaining without
					put aside the richness of identity of Indonesia.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- footer -->
{{> footer}}
</body>
</html>
