<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>

<!-- header -->
{{> header active="index" state="logged"}}

<div id="overlay"></div>
<!-- main -->
<div class="main clearfix">
	<div class="row container clearfix">
		<div class="col-md-offset-1 col-md-3 clearfix">
			<div class="register clearfix">
				<div class="register__top">
					<div class="title title--page text-center"><span>Profile</span></div>
				</div>
				<div class="register__row text-center">
					<div class="form__group clearfix">
						<div class="profile__img">
							<img src="images/avatar-female.png" alt="">
						</div>
					</div>
					<div class="form__group clearfix">
						<span>Last logged in</span>
						23th, September 2017, 12.33 PM
					</div>
					<div class="form__group clearfix">
						<div class="badge__item">
							<i class="icon-user"></i> Newbie
						</div>
					</div>
					<div class="register--line--bottom"></div>
				</div>
			</div>
		</div>
		<div class="col-md-5 clearfix">
			<div class="register clearfix">
					<div class="register__row">
					<form action="#" class="form--register">
						<div class="form__group clearfix">
							<span>Email address</span>
							<input type="text" class="form__input form--disabled col-xs-12" placeholder="Email address" value="danilla@gmail.com" readonly="readonly" />
						</div>
						<div class="form__group clearfix">
							<span>Full name</span>
							<input type="text" class="form__input col-xs-12" placeholder="Full name" value="Danilla Riyadi" />
						</div>
						<div class="form__group clearfix">
							<span>New password</span>
							<input type="password" class="form__input col-xs-12" placeholder="Password" value="Danilla Riyadi" />
						</div>
						<div class="form__group clearfix">
							<span>Re-type new password</span>
							<input type="password" class="form__input col-xs-12" placeholder="Re-type password" value="Danilla Riyadi" />
						</div>
						<div class="form__group clearfix">
							<span>Gender</span>
							<div class="col-md-4 col-xs-5">
								<label class="form__radio"><input type="radio" name="gender" value="other"><i></i> Male</label>
							</div>
							<div class="col-md-4 col-xs-5">
								<label class="form__radio"><input type="radio" name="gender" value="other" checked="checked"><i></i> Female</label>
							</div>
						</div>
						<div class="form__group clearfix">
							<span>Birthday</span>
							<select name="year" id="" class="form__option col-xs-4">
								<option value="">Year</option>
								<option value="1987">1987</option>
								<option value="1988">1988</option>
							</select>
							<select name="month" id="" class="form__option col-xs-3">
								<option value="">Month</option>
								<option value="01">01</option>
								<option value="02">02</option>
							</select>
							<select name="date" id="" class="form__option col-xs-3">
								<option value="">Date</option>
								<option value="1">1</option>
								<option value="2">2</option>
							</select>
						</div>
						<div class="form__group clearfix">
							<span>Mobile phone</span>
							<input type="text" class="form__input col-xs-12" placeholder="Mobile phone" value="098875765" />
						</div>
						<div class="form__group clearfix">
							<span>Photo</span>
							<input type="file" class="form__file" />
						</div>
						<div class="form__group clearfix">
							<input type="submit" name="submit" class="form__button col-xs-4" value="Save" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- footer -->
{{> footer}}
</body>
</html>
