<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>

<!-- header -->
{{> header active="faq"}}

<div id="overlay"></div>
<!-- main -->
<div class="main container clearfix">
	<div class="row col-offset-fluid clearfix">
		<div class="col-md-12">
			<!-- title section -->
			<div class="title title--page title--inline">FAQ</div>
		</div>
	</div>
	<div class="row col-offset-fluid clearfix">
		<div class="col-md-8 clearfix">
			<!-- faq -->
			<div class="faq clearfix">
				<div class="faq__wrap">
					<div class="faq__item">
						<div class="faq__question">Q: What is Mugos?</div>
						<div class="faq__answer"><span>A:</span> Dengan tayangan real time melalui website streaming, mobile application serta sindikasi Teresterial Radio di beberapa kota di Indonesia, MUGOS hadir dengan memberikan konten-konten yang fresh, percakapan interaktif melalui layanan chat box dengan penyiar, terkini dan entertaining tanpa melupakan ciri khas kekayaan Indonesia.</div>
					</div>
					<div class="faq__item">
						<div class="faq__question">Q: What is Mugos?</div>
						<div class="faq__answer"><span>A:</span> Dengan tayangan real time melalui website streaming, mobile application serta sindikasi Teresterial Radio di beberapa kota di Indonesia, MUGOS hadir dengan memberikan konten-konten yang fresh, percakapan interaktif melalui layanan chat box dengan penyiar, terkini dan entertaining tanpa melupakan ciri khas kekayaan Indonesia.</div>
					</div>
					<div class="faq__item">
						<div class="faq__question">Q: What is Mugos?</div>
						<div class="faq__answer"><span>A:</span> Dengan tayangan real time melalui website streaming, mobile application serta sindikasi Teresterial Radio di beberapa kota di Indonesia, MUGOS hadir dengan memberikan konten-konten yang fresh, percakapan interaktif melalui layanan chat box dengan penyiar, terkini dan entertaining tanpa melupakan ciri khas kekayaan Indonesia.</div>
					</div>
					<div class="faq__item">
						<div class="faq__question">Q: What is Mugos?</div>
						<div class="faq__answer"><span>A:</span> Dengan tayangan real time melalui website streaming, mobile application serta sindikasi Teresterial Radio di beberapa kota di Indonesia, MUGOS hadir dengan memberikan konten-konten yang fresh, percakapan interaktif melalui layanan chat box dengan penyiar, terkini dan entertaining tanpa melupakan ciri khas kekayaan Indonesia.</div>
					</div>
					<div class="faq__item">
						<div class="faq__question">Q: What is Mugos?</div>
						<div class="faq__answer"><span>A:</span> Dengan tayangan real time melalui website streaming, mobile application serta sindikasi Teresterial Radio di beberapa kota di Indonesia, MUGOS hadir dengan memberikan konten-konten yang fresh, percakapan interaktif melalui layanan chat box dengan penyiar, terkini dan entertaining tanpa melupakan ciri khas kekayaan Indonesia.</div>
					</div>
					<div class="faq__item">
						<div class="faq__question">Q: What is Mugos?</div>
						<div class="faq__answer"><span>A:</span> Dengan tayangan real time melalui website streaming, mobile application serta sindikasi Teresterial Radio di beberapa kota di Indonesia, MUGOS hadir dengan memberikan konten-konten yang fresh, percakapan interaktif melalui layanan chat box dengan penyiar, terkini dan entertaining tanpa melupakan ciri khas kekayaan Indonesia.</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 clearfix">

			<!-- top user -->
			{{> top_frentos}}

			<!-- top host -->
			{{> top_host}}
		</div>
	</div>
</div>

<!-- footer -->
{{> footer}}
</body>
</html>
