<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>

<!-- header -->
{{> header active="gift"}}

<div id="overlay"></div>
<!-- main -->
<div class="main container clearfix">
	<div class="row col-offset-fluid clearfix">
		<div class="col-md-12">
			<!-- title section -->
			<div class="title title--page title--inline">Gift Shop</div>
		</div>
	</div>
	<div class="row col-offset-fluid clearfix">
		<div class="col-md-12 clearfix">
			<!-- gift -->
			<div class="giftstore clearfix">
				<ul class="giftstore__wrap clearfix">
					<li class="giftstore__item col-md-3 col-sm-4">
						<div class="giftstore__bg">
							<div class="giftstore__img">
								<img src="images/dummy/liked_gitar.gif" alt="">
							</div>
							<div class="giftstore__title">Teddy Bear</div>
							<div class="giftstore__info">
								<div class="giftstore__coin"><span class="icon-coin"></span> 100 Coin</div>
								<a href="topup.html" class="giftstore__topup">Top Up</a>
							</div>
						</div>
					</li>
					<li class="giftstore__item col-md-3 col-sm-4">
						<div class="giftstore__bg">
							<div class="giftstore__img">
								<img src="images/dummy/liked_gitar.gif" alt="">
							</div>
							<div class="giftstore__title">Teddy Bear</div>
							<div class="giftstore__info">
								<div class="giftstore__coin"><span class="icon-coin"></span> 100 Coin</div>
								<a href="topup.html" class="giftstore__topup">Top Up</a>
							</div>
						</div>
					</li>
					<li class="giftstore__item col-md-3 col-sm-4">
						<div class="giftstore__bg">
							<div class="giftstore__img">
								<img src="images/dummy/liked_gitar.gif" alt="">
							</div>
							<div class="giftstore__title">Teddy Bear</div>
							<div class="giftstore__info">
								<div class="giftstore__coin"><span class="icon-coin"></span> 100 Coin</div>
								<a href="topup.html" class="giftstore__topup">Top Up</a>
							</div>
						</div>
					</li>
					<li class="giftstore__item col-md-3 col-sm-4">
						<div class="giftstore__bg">
							<div class="giftstore__img">
								<img src="images/dummy/liked_gitar.gif" alt="">
							</div>
							<div class="giftstore__title">Teddy Bear</div>
							<div class="giftstore__info">
								<div class="giftstore__coin"><span class="icon-coin"></span> 100 Coin</div>
								<a href="topup.html" class="giftstore__topup">Top Up</a>
							</div>
						</div>
					</li>
					<li class="giftstore__item col-md-3 col-sm-4">
						<div class="giftstore__bg">
							<div class="giftstore__img">
								<img src="images/dummy/liked_gitar.gif" alt="">
							</div>
							<div class="giftstore__title">Teddy Bear</div>
							<div class="giftstore__info">
								<div class="giftstore__coin"><span class="icon-coin"></span> 100 Coin</div>
								<a href="topup.html" class="giftstore__topup">Top Up</a>
							</div>
						</div>
					</li>
					<li class="giftstore__item col-md-3 col-sm-4">
						<div class="giftstore__bg">
							<div class="giftstore__img">
								<img src="images/dummy/liked_gitar.gif" alt="">
							</div>
							<div class="giftstore__title">Teddy Bear</div>
							<div class="giftstore__info">
								<div class="giftstore__coin"><span class="icon-coin"></span> 100 Coin</div>
								<a href="topup.html" class="giftstore__topup">Top Up</a>
							</div>
						</div>
					</li>
					<li class="giftstore__item col-md-3 col-sm-4">
						<div class="giftstore__bg">
							<div class="giftstore__img">
								<img src="images/dummy/liked_gitar.gif" alt="">
							</div>
							<div class="giftstore__title">Teddy Bear</div>
							<div class="giftstore__info">
								<div class="giftstore__coin"><span class="icon-coin"></span> 100 Coin</div>
								<a href="topup.html" class="giftstore__topup">Top Up</a>
							</div>
						</div>
					</li>
					<li class="giftstore__item col-md-3 col-sm-4">
						<div class="giftstore__bg">
							<div class="giftstore__img">
								<img src="images/dummy/liked_gitar.gif" alt="">
							</div>
							<div class="giftstore__title">Teddy Bear</div>
							<div class="giftstore__info">
								<div class="giftstore__coin"><span class="icon-coin"></span> 100 Coin</div>
								<a href="topup.html" class="giftstore__topup">Top Up</a>
							</div>
						</div>
					</li>
				</ul>
			</div>

		</div>
		<!-- 
		<div class="col-md-4 clearfix">

			gift info 
			<div class="most__top">
				<div class="title title--schedule title--inline"><span>Coin</span>Info</div>
			</div>
			<div class="giftstore__side clearfix">
				*Nilai tukar coin adalah: 
				<br />
				<br />
				<span class="icon-coin"></span> 1 Coin = Rp 10.000,00
			</div>

		</div>
		-->
	</div>
</div>

<!-- footer -->
{{> footer}}
</body>
</html>
