<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>

<!-- header -->
{{> header active="index"}}

<div id="overlay"></div>
<!-- main -->
<div class="main container clearfix">
	<div class="row col-offset-fluid clearfix">
		<div class="col-md-12">
			<!-- trending -->
			<div class="trending row clearfix">
				<div class="col-md-2 col-sm-3 trending__title"><span>Trending</span> Now</div>
				<div class="col-md-10 col-sm-9 trending__content">
					<ul class="trending__row js-trending__now clearfix">
						<li class="trending__item">
							<a href="index.html" class="trending__link">Kelly Clarkson on Covering a 'Hamilton' Song While Pregnant</a>
						</li>
						<li class="trending__item">
							<a href="index.html" class="trending__link">Najwa Shihab Menjawab Pertanyaan dari Vincent Desta Secara Cepat</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row clearfix">

		<!-- <h1 class="video__title">Kelly Clarkson on Covering a 'Hamilton' Song While Pregnant</h1> -->
		<div class="col-md-8 col-offset-0 js-video-stacked">
			<!-- video -->
			<div class="js-video"></div>
			<div class="video clearfix">
				<div class="video__player">
						<img src="images/dummy/player.jpg" alt="">
						<!-- <script src="http://mugos.alikuro.com/html/plugins/jwplayer-7.8.6/jwplayer.js"></script>
						<script>jwplayer.key="yy6AAcagzpplvgHL3bVGiOXUzwXEcQRbUFZrgg==";</script>
						<div id="myElement">Loading the player...</div>
						<script type="text/javascript">
							var playerInstance = jwplayer("myElement");
							playerInstance.setup({
							    sources:[

								    {
								        file:"http://techslides.com/demos/sample-videos/small.mp4",
								        label:"240"
								    }
								],
							    image: "https://cbsradionews.files.wordpress.com/2016/11/raelynn-by-maria-ives.jpg?w=640&h=360&crop=1",
							    title: 'Basic Video Embed',
							    description: 'A video with a basic title and description!',
							    advertising: {
									client: 'googima',
									tag: 'https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/single_ad_samples&ciu_szs=300x250&impl=s&gdfp_req=1&env=vp&output=vast&unviewed_position_start=1&cust_params=deployment%3Ddevsite%26sample_ct%3Dskippablelinear&correlator='
								},
								width: "100%",
								aspectratio: "16:9"
							    //mediaid: '123456'
							});
						</script> -->
				</div>
			</div>
		</div>
		<div class="col-md-4 col-offset-0 js-chatbox-stacked">
			<!-- chatbox -->
			<div class="chatbox clearfix">
				<div class="chatbox__title">
					<div class="title title--inline"><span>Live</span>Chat</div>
					<div class="chatbox__info">
						<div class="share--inline">
							<ul class="share__wrap clearfix">
								<li class="share__item">
									<a href="#" target="_blank" class="share__link share__link--facebook"><span class="icon-facebook"></span></a>
								</li>
								<li class="share__item">
									<a href="#" target="_blank" class="share__link share__link--twitter"><span class="icon-twitter"></span></a>
								</li>
								<li class="share__item">
									<a href="#" target="_blank" class="share__link share__link--google-plus"><span class="icon-google-plus"></span></a>
								</li>
								<li class="share__item">
									<a href="#" target="_blank" class="share__link share__link--whatsapp"><span class="icon-whatsapp"></span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="chatbox__box clearfix" id="chat">
					<div class="row chatbox__item clearfix">
						<div class="col-md-2 col-sm-1 col-xs-2">
							<div class="chatbox__userimg">
								<img src="images/avatar-female.png" alt="">
							</div>
						</div>
						<div class="col-md-10 col-sm-11 col-xs-10">
							<div class="chatbox__message clearfix">
								<div class="chatbox__username">Danilla Riyadi</div>
								As it is shown in the example, if you don’t create the menu div container, the plugin will create it for you.
							</div>
						</div>
					</div>
					<div class="row chatbox__item clearfix">
						<div class="col-md-2 col-sm-1 col-xs-2">
							<div class="chatbox__userimg">
								<img src="images/avatar-male.png" alt="">
							</div>
						</div>
						<div class="col-md-10 col-sm-11 col-xs-10">
							<div class="chatbox__message clearfix">
								<div class="chatbox__username">Anakin Skywalker</div>
								Please enjoy some of our work within the video
							</div>
						</div>
					</div>
					<div class="row chatbox__item clearfix">
						<div class="col-md-2 col-sm-1 col-xs-2">
							<div class="chatbox__userimg">
								<img src="images/avatar-female.png" alt="">
							</div>
						</div>
						<div class="col-md-10 col-sm-11 col-xs-10">
							<div class="chatbox__message clearfix">
								<div class="chatbox__username">Danilla Riyadi</div>
								As it is shown in the example, if you don’t create the menu div container, the plugin will create it for you.
							</div>
						</div>
					</div>
					<div class="row chatbox__item clearfix">
						<div class="col-md-2 col-sm-1 col-xs-2">
							<div class="chatbox__userimg">
								<img src="images/avatar-male.png" alt="">
							</div>
						</div>
						<div class="col-md-10 col-sm-11 col-xs-10">
							<div class="chatbox__message clearfix">
								<div class="chatbox__username">Anakin Skywalker</div>
								Please enjoy some of our work within the video
							</div>
						</div>
					</div>
					<div class="row chatbox__item clearfix">
						<div class="col-md-2 col-sm-1 col-xs-2">
							<div class="chatbox__userimg">
								<img src="images/avatar-female.png" alt="">
							</div>
						</div>
						<div class="col-md-10 col-sm-11 col-xs-10">
							<div class="chatbox__message clearfix">
								<div class="chatbox__username">Danilla Riyadi</div>
								As it is shown in the example, if you don’t create the menu div container, the plugin will create it for you.
							</div>
						</div>
					</div>
					<div class="row chatbox__item clearfix">
						<div class="col-md-2 col-sm-1 col-xs-2">
							<div class="chatbox__userimg">
								<img src="images/avatar-male.png" alt="">
							</div>
						</div>
						<div class="col-md-10 col-sm-11 col-xs-10">
							<div class="chatbox__message clearfix">
								<div class="chatbox__username">Anakin Skywalker</div>
								Please enjoy some of our work within the video
							</div>
						</div>
					</div>
					<div class="row chatbox__item clearfix">
						<div class="col-md-2 col-sm-1 col-xs-2">
							<div class="chatbox__userimg">
								<img src="images/avatar-female.png" alt="">
							</div>
						</div>
						<div class="col-md-10 col-sm-11 col-xs-10">
							<div class="chatbox__message clearfix">
								<div class="chatbox__username">Danilla Riyadi</div>
								As it is shown in the example, if you don’t create the menu div container, the plugin will create it for you.
							</div>
						</div>
					</div>
					<div class="row chatbox__item chatbox__item--sender clearfix">
						<div class="col-md-10 col-sm-11 col-xs-10">
							<div class="chatbox__message clearfix">
								<div class="chatbox__username">You</div>
								This is awesome!!
							</div>
						</div>
						<div class="col-md-2 col-sm-1 col-xs-2">
							<div class="chatbox__userimg">
								<img src="images/avatar-male.png" alt="">
							</div>
						</div>
					</div>
					<div class="row chatbox__item clearfix">
						<div class="col-md-2 col-sm-1 col-xs-2">
							<div class="chatbox__userimg">
								<img src="images/avatar-male.png" alt="">
							</div>
						</div>
						<div class="col-md-10 col-sm-11 col-xs-10">
							<div class="chatbox__message clearfix">
								<div class="chatbox__username">Anakin Skywalker</div>
									<img class="chatbox__sticker" src="images/dummy/liked_gitar.gif" alt="">
							</div>
						</div>
					</div>
					<div class="row chatbox__item clearfix">
						<div class="col-md-2 col-sm-1 col-xs-2">
							<div class="chatbox__userimg">
								<img src="images/avatar-female.png" alt="">
							</div>
						</div>
						<div class="col-md-10 col-sm-11 col-xs-10">
							<div class="chatbox__message clearfix">
								<div class="chatbox__username">Danilla Riyadi</div>
								As it is shown in the example, if you don’t create the menu div container, the plugin will create it for you.
							</div>
						</div>
					</div>
					<div class="row chatbox__item clearfix">
						<div class="col-xs-12">
							<div class="chatbox__label">
								<span><i>Joni</i> has join this group</span>
							</div>
						</div>
					</div>
					<div class="row chatbox__item clearfix">
						<div class="col-xs-12">
							<div class="chatbox__label">
								<span><i>Joni</i> has join this group</span>
							</div>
						</div>
					</div>
					<div class="row chatbox__item clearfix">
						<div class="col-md-2 col-sm-1 col-xs-2">
							<div class="chatbox__userimg">
								<img src="images/avatar-male.png" alt="">
							</div>
						</div>
						<div class="col-md-10 col-sm-11 col-xs-10">
							<div class="chatbox__message clearfix">
								<div class="chatbox__username">Anakin Skywalker</div>
								Please enjoy some of our work within the video
							</div>
						</div>
					</div>
					<!-- opsi 1 -->
					<div class="row chatbox__item clearfix">
						<div class="col-md-12">
							<div class="chatbox__message chatbox__message--full clearfix">
								<div class="chatbox__username chatbox__username--inline">Anakin Skywalker:</div>
								Please enjoy some of our work within the video
								<div class="chat-stamp-l">9:11 PM</div>
							</div>
						</div>
					</div>
					<div class="row chatbox__item chatbox__item--sender clearfix">
						<div class="col-md-12">
							<div class="chatbox__message chatbox__message--full clearfix">
								<div class="chatbox__username chatbox__username--inline">You:</div>
								This is awesome!!
							</div>
						</div>
					</div>
					<div class="row chatbox__item clearfix">
						<div class="col-md-12">
							<div class="chatbox__message chatbox__message--full clearfix">
								<div class="chatbox__username chatbox__username--inline">Danilla Riyadi:</div>
								Hahahaha
								<div class="chat-stamp-l">9:11 PM</div>
							</div>
						</div>
					</div>

					<!-- opsi 2 -->
					<div class="row chatbox__item clearfix">
						<div class="col-md-12">
							<div class="chatbox__message chatbox__message--full clearfix">
								<div class="chatbox__username js-chatbox-avatar">
									<div class="chatbox__avatar chatbox__avatar--hide">
										<div class="chatbox__userimg">
											<a href="#">
												<img src="images/avatar-male.png" alt="">
											</a>
										</div>
									</div>
									Anakin Skywalker:
								</div>
								Please enjoy some of our work within the video
								<div class="chat-stamp-l">9:11 PM</div>
							</div>
						</div>
					</div>
					<div class="row chatbox__item clearfix">
						<div class="col-md-12">
							<div class="chatbox__message chatbox__message--full clearfix">
								<div class="chatbox__username">Lukman Sardi:</div>
									<img class="chatbox__sticker" src="images/dummy/liked_gitar.gif" alt="">
								<div class="chat-stamp-l">9:11 PM</div>
							</div>
						</div>
					</div>
					<div class="row chatbox__item clearfix">
						<div class="col-md-12">
							<div class="chatbox__message chatbox__message--full clearfix">
								<div class="chatbox__username">Danilla Riyadi:</div>
								Hahahaha
								<div class="chat-stamp-l">9:11 PM</div>
							</div>
						</div>
					</div>

					<!-- opsi 3 -->
					<div class="row chatbox__item clearfix">
						<div class="col-md-12">
							<div class="chatbox__message chatbox__message--clean clearfix">
								<div class="chatbox__username js-chatbox-avatar">
									<div class="chatbox__avatar chatbox__avatar--hide">
										<div class="chatbox__userimg">
											<a href="#">
												<img src="images/avatar-male.png" alt="">
											</a>
										</div>
									</div>
									Anakin Skywalker:
								</div>
								Please enjoy some of our work within the video
								<div class="chat-stamp-l">9:11 PM</div>
							</div>
						</div>
					</div>
					<div class="row chatbox__item clearfix">
						<div class="col-md-12">
							<div class="chatbox__message chatbox__message--clean clearfix">
								<div class="chatbox__username">Danilla Riyadi:</div>
								Hahahaha
								<div class="chat-stamp-l">9:11 PM</div>
							</div>
						</div>
					</div>
					<div class="row chatbox__item clearfix">
						<div class="col-md-12">
							<div class="chatbox__message chatbox__message--clean clearfix">
								<div class="chatbox__username js-chatbox-avatar">
									<div class="chatbox__avatar chatbox__avatar--hide">
										<div class="chatbox__userimg">
											<a href="#">
												<img src="images/avatar-male.png" alt="">
											</a>
										</div>
									</div>
									Leonardo Fagundes:
								</div>
								It's a litle bit awesome If you know what I mean. Sometimes if we want to know 😊
								<div class="chat-stamp-l">9:11 PM</div>
							</div>
						</div>
					</div>
					<div class="row chatbox__item clearfix">
						<div class="col-md-12">
							<div class="chatbox__message chatbox__message--clean clearfix">
								<div class="chatbox__username">Didi Ryadi:</div>
									<img class="chatbox__sticker" src="images/dummy/liked_gitar.gif" alt="">
								<div class="chat-stamp-l">9:11 PM</div>
							</div>
						</div>
					</div>
					<div class="row chatbox__item clearfix">
						<div class="col-md-12">
							<div class="chatbox__message chatbox__message--clean clearfix">
								<div class="chatbox__username">Iis Saraswati:</div>
								Yang main poker﻿ online ada?
								<div class="chat-stamp-l">9:11 PM</div>
							</div>
						</div>
					</div>

				</div>
				<div class="js-chatbox--pos"></div>
				<div class="chatbox__form is--stacked--bottom clearfix">
					<form action="#" class="form--chat">
						<input type="text" class="form__input form__input--chat" placeholder="Type here to chat.." contentEditable="true" />
						<div class="chatbox__emoji">
							<a href="#" class="emoji__btn js-emoji-btn">
								<span class="icon-emoji"></span>
							</a>
							<div class="emoji__table emoji__table--hide js-emoji-table">
								<div class="emoji__wrap">
									<ul class="emoji__content clearfix">
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😄 ">😄</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😃 ">😃</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😀 ">😀</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😊 ">😊</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😉 ">😉</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😍 ">😍</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😘 ">😘</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😚 ">😚</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😗 ">😗</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😙 ">😙</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😜 ">😜</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😝 ">😝</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😛 ">😛</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😳 ">😳</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😁 ">😁</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😔 ">😔</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😌 ">😌</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😒 ">😒</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😞 ">😞</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😣 ">😣</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😢 ">😢</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😂 ">😂</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😭 ">😭</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😪 ">😪</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😥 ">😥</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😰 ">😰</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😅 ">😅</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😓 ">😓</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😩 ">😩</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😫 ">😫</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😨 ">😨</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😱 ">😱</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😠 ">😠</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😡 ">😡</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😤 ">😤</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😖 ">😖</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😆 ">😆</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😋 ">😋</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😷 ">😷</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😎 ">😎</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😴 ">😴</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😵 ">😵</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😲 ">😲</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😟 ">😟</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😦 ">😦</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😧 ">😧</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😈 ">😈</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="👿 ">👿</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😮 ">😮</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😬 ">😬</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😐 ">😐</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😕 ">😕</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😯 ">😯</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😶 ">😶</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😇 ">😇</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😏 ">😏</a>
										</li>
										<li class="emoji__item">
											<a href="#" class="emoji__item__select" data-emoji="😑 ">😑</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="chatbox__gift">
							<a href="#" class="gift__btn js-gift-btn">
								<span class="icon-gift"></span>
							</a>
							<div class="gift__table gift__table--hide js-gift-table">
								<div class="gift__wrap">
									<!-- menu gift -->
									<div class="gift__top">
										<ul class="gift__category clearfix" data-type="tabs">
											<li class="gift__category__item">
												<a href="#js-gift__category--like" class="gift__category__link">Like</a>
											</li>
											<li class="gift__category__item">
												<a href="#js-gift__category--dislike" class="gift__category__link">Dislike</a>
											</li>
										</ul>
									</div>
									<!-- isi gift -->
									<div class="gift__content">
										<div class="gift__content__item" id="js-gift__category--like">
											<ul class="gift__icon__wrap clearfix">
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
											</ul>
										</div>
										<div class="gift__content__item" id="js-gift__category--dislike">
											<ul class="gift__icon__wrap clearfix">
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
												<li class="gift__icon__item">
													<a href="#" class="gift__icon__span">
														<img src="images/dummy/liked_gitar.gif" alt="">
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="chatbox__btn">
							<input type="submit" name="submit" class="form__button form__button--chat" value="" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row col-offset-fluid clearfix">
		<div class="col-md-8 clearfix">
			<!-- live schedule -->
			{{> live_schedule}}

			<!-- m-news -->
			{{> box_news}}

			<!-- m-video -->
			{{> box_video}}
		</div>
		<div class="col-md-4 clearfix">

			<!-- top user -->
			{{!> top_frentos}}

			<!-- ads -->
			<div class="ads ads__banner">
				<img src="images/dummy/sift.gif" alt="">
			</div>

			<!-- info pensi -->
			{{> info_pensi}}

			<!-- top host -->
			{{!> top_host}}

		</div>
	</div>
</div>

<!-- footer -->
{{> footer}}
</body>
</html>
