<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>

<!-- header -->
{{> header active="infopensi"}}

<div id="overlay"></div>
<!-- main -->
<div class="main container clearfix">
	<div class="row col-offset-fluid clearfix">
		<div class="col-md-12">
			<!-- title section -->
			<div class="title title--page title--inline">M-CONCERT</div>
		</div>
	</div>
	<div class="row col-offset-fluid clearfix">
		<div class="col-md-8 clearfix">

			<!-- m-news title -->
			<div class="mnews__header mt2 clearfix">
				<div class="mnews__header__title">Youth Fest Indonesia 2019</div>
				<div class="mnews__header__subtitle">The Biggest Karaoke Land #YouthFestID</div>
				<div class="mnews__header__info">
					<div class="mnews__author"><span>by</span>Danila Riyadi</div>
					<div class="mnews__date">13/02/2017 23.34</div>
					<div class="mnews__comment">No Comment</div>
				</div>
				<div class="mnews__header__share">
					<div class="share--inline share--read">
						<ul class="share__wrap clearfix">
							<li class="share__item">
								<a href="#" target="_blank" class="share__link share__link--facebook"><span class="icon-facebook"></span></a>
							</li>
							<li class="share__item">
								<a href="#" target="_blank" class="share__link share__link--twitter"><span class="icon-twitter"></span></a>
							</li>
							<li class="share__item">
								<a href="#" target="_blank" class="share__link share__link--google-plus"><span class="icon-google-plus"></span></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="mnews__media">
					<img src="images/dummy/img-20190511-wa0002.jpg" alt="">
				</div>
			</div>

			<!-- m-news read -->
			<div class="mnews__read clearfix">
				<div class="pensi__info">
					<div class="pensi__date">
						<span class="icon icon-time"></span> Rabu, 12 September 2019
					</div>
					<div class="pensi__location">
						<span class="icon icon-map"></span> Lapangan Blok S, Jl. Senopati. Jakarta Selatan
					</div>
				</div>
				<div class="page__content mnews__content clearfix">
					<p>The Biggest Karaoke Land #YouthFestID</p>
					<p>Guest star Naif, Stars & Rabbit, Sisitipsi</p>
					<p>22-24 September 2019</p>
					<p>Open Gate : 10.00 - 22.00 WIB</p>
					<p>Info dan Kontak:</p>
					<p>Mella 08976542356</p>
					<p>Nurul 09877554423</p>
					<p>@youth.festid</p>
					<p></p>
				</div>
				<!-- tagging -->
				<div class="mnews__tag clearfix">
					<ul class="mnews__tag__wrap clearfix">
						<li class="mnews__tag__item"><a href="#" class="mnews__tag__link">Lifestyle</a></li>
						<li class="mnews__tag__item"><a href="#" class="mnews__tag__link">Mugos</a></li>
						<li class="mnews__tag__item"><a href="#" class="mnews__tag__link">Iwan Fals</a></li>
						<li class="mnews__tag__item"><a href="#" class="mnews__tag__link">Mugos TV</a></li>
						<li class="mnews__tag__item"><a href="#" class="mnews__tag__link">Selena Gomez</a></li>
						<li class="mnews__tag__item"><a href="#" class="mnews__tag__link">News</a></li>
						<li class="mnews__tag__item"><a href="#" class="mnews__tag__link">Sosial Media</a></li>
						<li class="mnews__tag__item"><a href="#" class="mnews__tag__link">Mugos</a></li>
						<li class="mnews__tag__item"><a href="#" class="mnews__tag__link">Lifestyle</a></li>
						<li class="mnews__tag__item"><a href="#" class="mnews__tag__link">Mugos</a></li>
						<li class="mnews__tag__item"><a href="#" class="mnews__tag__link">Lifestyle</a></li>
						<li class="mnews__tag__item"><a href="#" class="mnews__tag__link">Mugos</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4 clearfix">

			<!-- m-news archive -->
			<div class="mnews mnews--archive clearfix">
				<div class="title title--sidebar title--inline">M-News<span>Archive</span></div>
				<div class="mnews__wrap">
					<div class="mnews__article clearfix">
						<div class="col-md-5 col-sm-5 col-offset-0">
							<a href="mnews_read.html" class="mnews__article__link">
								<div class="mnews__img" style="background-image: url('http://assets.kompas.com/crop/0x0:1000x667/750x500/data/photo/2017/04/11/3983638905.jpg');">
								</div>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="mnews__article__wrap">
								<a href="mnews_read.html" class="mnews__article__link">
									<div class="mnews__title">Altra's First Smart Shoe Will Change The Way You Run</div>
								</a>
								<div class="mnews__info">
									<div class="mnews__date">2 days ago</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mnews__article clearfix">
						<div class="col-md-5 col-sm-5 col-offset-0">
							<a href="mnews_read.html" class="mnews__article__link">
								<div class="mnews__img" style="background-image: url('http://assets.kompas.com/crop/0x0:780x390/780x390/data/photo/2016/12/16/1902559bungy-jumping2780x390.jpg');">
								</div>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="mnews__article__wrap">
								<a href="mnews_read.html" class="mnews__article__link">
									<div class="mnews__title">The Great Tourism Squeeze: Tourists cruise into Akaroa in their droves</div>
								</a>
								<div class="mnews__info">
									<div class="mnews__date">2 days ago</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mnews__article clearfix">
						<div class="col-md-5 col-sm-5 col-offset-0">
							<a href="mnews_read.html" class="mnews__article__link">
								<div class="mnews__img" style="background-image: url('http://assets.kompas.com/crop/0x39:1000x539/780x390/data/photo/2017/04/04/1405128361.jpg');">
								</div>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="mnews__article__wrap">
								<a href="mnews_read.html" class="mnews__article__link">
									<div class="mnews__title">WV Book Team: Celebrate books with Latin American roots</div>
								</a>
								<div class="mnews__info">
									<div class="mnews__date">2 days ago</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mnews__article clearfix">
						<div class="col-md-5 col-sm-5 col-offset-0">
							<a href="mnews_read.html" class="mnews__article__link">
								<span class="mnews__icon--video"></span>
								<div class="mnews__img" style="background-image: url('http://assets.kompas.com/crop/18x12:1000x667/740x500/data/photo/2017/04/21/144461648.jpg');">
								</div>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="mnews__article__wrap">
								<a href="mnews_read.html" class="mnews__article__link">
									<div class="mnews__title">Xiaomi Explains Why the Mi 6 Doesn't Have a Headphone Jack</div>
								</a>
								<div class="mnews__info">
									<div class="mnews__date">2 days ago</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- footer -->
{{> footer}}
</body>
</html>
