<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>

<!-- header -->
{{> header active="infopensi"}}

<div id="overlay"></div>
<!-- main -->
<div class="main container clearfix">
	<div class="row col-offset-fluid clearfix">
		<div class="col-md-12">
			<!-- title section -->
			<div class="title title--page title--inline">M-CONCERT</div>
		</div>
	</div>
	<div class="row col-offset-fluid clearfix">
		<div class="col-md-8 clearfix">
			<!-- m-news -->
			<div class="mnews mnews--infopensi clearfix">
				<div class="mnews__wrap">
					<div class="mnews__article clearfix">
						<div class="col-md-5 col-sm-5 col-offset-0">
							<a href="infopensi_read.html" class="mnews__article__link">
								<div class="mnews__img" style="background-image: url('images/dummy/b179d225-4188-463c-87de-f16a24ba4782-jpg-1557661314.jpeg');">
								</div>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="mnews__article__wrap">
								<div class="mnews__subtitle">M-Concert</div>
								<a href="infopensi_read.html" class="mnews__article__link">
									<div class="mnews__title">9th Jazz Ramadan Festival</div>
								</a>
								<div class="mnews__lead">
									It happened in 1967 but Orange, a Minnesotan who has criss-crossed the United States sleeping rough for three years, could feel the glow 50 years later. “People here treat you as an actual human being unlike anywhere else in the country.”
								</div>
								<div class="pensi__info">
									<div class="pensi__date">
										<span class="icon icon-time"></span> Rabu, 12 September 2019
									</div>
									<div class="pensi__location">
										<span class="icon icon-map"></span> JCC Senayan Jakarta
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mnews__article clearfix">
						<div class="col-md-5 col-sm-5 col-offset-0">
							<a href="infopensi_read.html" class="mnews__article__link">
								<div class="mnews__img" style="background-image: url('images/dummy/jurgen-klopp-jpg-1557813964.jpeg');">
								</div>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="mnews__article__wrap">
								<div class="mnews__subtitle">M-Concert</div>
								<a href="infopensi_read.html" class="mnews__article__link">
									<div class="mnews__title">Indie Clothing Carnival Sale</div>
								</a>
								<div class="mnews__lead">
									It happened in 1967 but Orange, a Minnesotan who has criss-crossed the United States sleeping rough for three years, could feel the glow 50 years later. “People here treat you as an actual human being unlike anywhere else in the country.”
								</div>
								<div class="pensi__info">
									<div class="pensi__date">
										<span class="icon icon-time"></span> Rabu, 12 September 2019
									</div>
									<div class="pensi__location">
										<span class="icon icon-map"></span> Parkir Timur Senayan Jakarta
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mnews__article clearfix">
						<div class="col-md-5 col-sm-5 col-offset-0">
							<a href="infopensi_read.html" class="mnews__article__link">
								<div class="mnews__img" style="background-image: url('images/dummy/3765a61d-869e-4c0e-846d-177ee1f0345d-getty-997740432-jpg-1557820555.jpeg');">
								</div>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="mnews__article__wrap">
								<div class="mnews__subtitle">M-Concert</div>
								<a href="infopensi_read.html" class="mnews__article__link">
									<div class="mnews__title">Youth Fest 2019</div>
								</a>
								<div class="mnews__lead">
									It happened in 1967 but Orange, a Minnesotan who has criss-crossed the United States sleeping rough for three years, could feel the glow 50 years later. “People here treat you as an actual human being unlike anywhere else in the country.”
								</div>
								<div class="pensi__info">
									<div class="pensi__date">
										<span class="icon icon-time"></span> Rabu, 12 September 2019
									</div>
									<div class="pensi__location">
										<span class="icon icon-map"></span> Lapangan Blok S, Jl. Senopati. Jakarta Selatan
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mnews__article clearfix">
						<div class="col-md-5 col-sm-5 col-offset-0">
							<a href="infopensi_read.html" class="mnews__article__link">
								<div class="mnews__img" style="background-image: url('images/dummy/4c05ae0e3837e064a370889b9756c6ea-jpg-1557659397.jpeg');">
								</div>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="mnews__article__wrap">
								<div class="mnews__subtitle">M-Concert</div>
								<a href="infopensi_read.html" class="mnews__article__link">
									<div class="mnews__title">Trisakti School Of Management - REVOLUTION 2019</div>
								</a>
								<div class="mnews__lead">
									It happened in 1967 but Orange, a Minnesotan who has criss-crossed the United States sleeping rough for three years, could feel the glow 50 years later. “People here treat you as an actual human being unlike anywhere else in the country.”
								</div>
								<div class="pensi__info">
									<div class="pensi__date">
										<span class="icon icon-time"></span> Rabu, 12 September 2019
									</div>
									<div class="pensi__location">
										<span class="icon icon-map"></span> Lapangan Blok S, Jl. Senopati. Jakarta Selatan
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mnews__article clearfix">
						<div class="col-md-5 col-sm-5 col-offset-0">
							<a href="infopensi_read.html" class="mnews__article__link">
								<div class="mnews__img" style="background-image: url('images/dummy/b179d225-4188-463c-87de-f16a24ba4782-jpg-1557661314.jpeg');">
								</div>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="mnews__article__wrap">
								<div class="mnews__subtitle">M-Concert</div>
								<a href="infopensi_read.html" class="mnews__article__link">
									<div class="mnews__title">SMAN 2 Tangerang Selatan - Moonzher Cup</div>
								</a>
								<div class="mnews__lead">
									It happened in 1967 but Orange, a Minnesotan who has criss-crossed the United States sleeping rough for three years, could feel the glow 50 years later. “People here treat you as an actual human being unlike anywhere else in the country.”
								</div>
								<div class="pensi__info">
									<div class="pensi__date">
										<span class="icon icon-time"></span> Rabu, 12 September 2019
									</div>
									<div class="pensi__location">
										<span class="icon icon-map"></span> Lapangan Blok S, Jl. Senopati. Jakarta Selatan
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mnews__article clearfix">
						<div class="col-md-5 col-sm-5 col-offset-0">
							<a href="infopensi_read.html" class="mnews__article__link">
								<div class="mnews__img" style="background-image: url('images/dummy/jurgen-klopp-jpg-1557813964.jpeg');">
								</div>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="mnews__article__wrap">
								<div class="mnews__subtitle">M-Concert</div>
								<a href="infopensi_read.html" class="mnews__article__link">
									<div class="mnews__title">SMAN 28 Jakarta - Thalassic 2019</div>
								</a>
								<div class="mnews__lead">
									It happened in 1967 but Orange, a Minnesotan who has criss-crossed the United States sleeping rough for three years, could feel the glow 50 years later. “People here treat you as an actual human being unlike anywhere else in the country.”
								</div>
								<div class="pensi__info">
									<div class="pensi__date">
										<span class="icon icon-time"></span> Rabu, 12 September 2019
									</div>
									<div class="pensi__location">
										<span class="icon icon-map"></span> Lapangan Blok S, Jl. Senopati. Jakarta Selatan
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mnews__article clearfix">
						<div class="col-md-5 col-sm-5 col-offset-0">
							<a href="infopensi_read.html" class="mnews__article__link">
								<div class="mnews__img" style="background-image: url('images/dummy/4c05ae0e3837e064a370889b9756c6ea-jpg-1557659397.jpeg');">
								</div>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="mnews__article__wrap">
								<div class="mnews__subtitle">M-Concert</div>
								<a href="infopensi_read.html" class="mnews__article__link">
									<div class="mnews__title">Universitas Atma Jaya Jakarta - Lawfest 2019</div>
								</a>
								<div class="mnews__lead">
									It happened in 1967 but Orange, a Minnesotan who has criss-crossed the United States sleeping rough for three years, could feel the glow 50 years later. “People here treat you as an actual human being unlike anywhere else in the country.”
								</div>
								<div class="pensi__info">
									<div class="pensi__date">
										<span class="icon icon-time"></span> Rabu, 12 September 2019
									</div>
									<div class="pensi__location">
										<span class="icon icon-map"></span> Lapangan Blok S, Jl. Senopati. Jakarta Selatan
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mnews__article clearfix">
						<div class="col-md-5 col-sm-5 col-offset-0">
							<a href="infopensi_read.html" class="mnews__article__link">
								<div class="mnews__img" style="background-image: url('images/dummy/jurgen-klopp-jpg-1557813964.jpeg');">
								</div>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="mnews__article__wrap">
								<div class="mnews__subtitle">M-Concert</div>
								<a href="infopensi_read.html" class="mnews__article__link">
									<div class="mnews__title">Meranoia Festival</div>
								</a>
								<div class="mnews__lead">
									It happened in 1967 but Orange, a Minnesotan who has criss-crossed the United States sleeping rough for three years, could feel the glow 50 years later. “People here treat you as an actual human being unlike anywhere else in the country.”
								</div>
								<div class="pensi__info">
									<div class="pensi__date">
										<span class="icon icon-time"></span> Rabu, 12 September 2019
									</div>
									<div class="pensi__location">
										<span class="icon icon-map"></span> Lapangan Blok S, Jl. Senopati. Jakarta Selatan
									</div>
								</div>
							</div>
						</div>
					</div>
					<a href="#" class="button button--more">More</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 clearfix">

			<!-- ads -->
			<div class="ads ads__banner">
				<img src="images/dummy/sift.gif" alt="">
			</div>

			<!-- info pensi -->
			{{> info_pensi}}

			<!-- top host -->
			{{> top_host}}

		</div>
	</div>
</div>

<!-- footer -->
{{> footer}}
</body>
</html>
