<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>

<!-- header -->
{{> header active="live"}}

<div id="overlay"></div>
<!-- main -->
<div class="main container clearfix">
	<div class="row col-offset-fluid clearfix">
		<div class="col-md-12 clearfix">
			<div class="schedule clearfix">
				<div class="schedule__top">
					<div class="title title--schedule title--inline"><span>Live</span>Schedule</div>
					<!-- kategori -->
					<div class="schedule__tab schedule__tab--inline--right">
						<a href="#" class="schedule__tab__setting js-tab-setting"><span class="icon-setting"></span></a>
						<ul class="schedule__tab__row schedule__tab__row--hide clearfix" data-type="tabs">
							<li class="schedule__tab__item">
								<a href="#js-tab-all" class="schedule__tab__link">All</a>
							</li>
							<li class="schedule__tab__item">
								<a href="#js-tab-business" class="schedule__tab__link">Bussiness</a>
							</li>
							<li class="schedule__tab__item">
								<a href="#js-tab-gadgets" class="schedule__tab__link">Gadgets</a>
							</li>
							<li class="schedule__tab__item">
								<a href="#js-tab-design" class="schedule__tab__link">Design</a>
							</li>
							<li class="schedule__tab__item">
								<a href="#js-tab-fashion" class="schedule__tab__link">Fashion</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="schedule__wrap" id="js-tabContent">
					<div id="js-tab-all">
						<ul class="schedule__row" id="holder">
							<li class="schedule__item col-md-3 col-sm-6 col-offset-0">
								<a href="#schedule1" class="schedule__link ovr-schedule__link js-schedule__link"
									style="background-image: url('images/dummy/ce09f8be_p.jpg?v=146');">
									<div class="schedule__title"><span>VAPE CHAMBERS</span></div>
								</a>
								<a href="#" id="schedule_like_0" class="schedule__like__button " data-type="tooltips" data-text="Like"
									onclick="rating('ce09f8be', 'VAPE CHAMBERS', '0', 'like');">
									<span class="icon-heart"></span>
									<div class="tooltips"><span>Like</span></div>
								</a>
								<div id="schedule1" class="white-popup white-popup--schedule mfp-hide">
									<div class="schedule__detail">
										<!-- <div class="title title--live"><span>Live</span>Schedule</div> -->
										<div class="schedule__detail__wrap clearfix">
											<div class="col-md-5 col-sm-5">
												<div class="schedule__img">
													<img src="images/dummy/ce09f8be_p.jpg?v=146"
														alt="VAPE CHAMBERS" title="VAPE CHAMBERS">
												</div>
											</div>
											<div class="col-md-7 col-sm-7">
												<div class="schedule__detail__title">VAPE CHAMBERS</div>
												<div class="schedule__detail__time">
													Wednesday
													<br>
													08:00PM
													- 10:00PM
													WIB
												</div>
												<div class="schedule__detail__description">It's all about Vape Culture, with @de3kayg,
													@fatriio, and @agungdossantos
												</div>
												<div class="schedule__detail__like">
													<a href="#" id="schedule_like_0" class="schedule__like__button "
														data-type="tooltips" data-text="Like"
														onclick="rating('ce09f8be', 'VAPE CHAMBERS', '0', 'like');">
														<span class="icon-heart"></span>
														<div class="tooltips"><span>Like</span></div>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="schedule__item col-md-3 col-sm-6 col-offset-0">
								<a href="#schedule2" class="schedule__link ovr-schedule__link js-schedule__link"
									style="background-image: url('images/dummy/1420580e_p.jpg?v=765');">
									<div class="schedule__title"><span>Club Inc.</span></div>
								</a>
								<a href="#" id="schedule_like_1" class="schedule__like__button " data-type="tooltips" data-text="Like"
									onclick="rating('1420580e', 'Club Inc.', '1', 'like');">
									<span class="icon-heart"></span>
									<div class="tooltips"><span>Like</span></div>
								</a>
								<div id="schedule2" class="white-popup white-popup--schedule mfp-hide">
									<div class="schedule__detail">
										<!-- <div class="title title--live"><span>Live</span>Schedule</div> -->
										<div class="schedule__detail__wrap clearfix">
											<div class="col-md-5 col-sm-5">
												<div class="schedule__img">
													<img src="images/dummy/1420580e_p.jpg?v=765" alt="Club Inc."
														title="Club Inc.">
												</div>
											</div>
											<div class="col-md-7 col-sm-7">
												<div class="schedule__detail__title">Club Inc.</div>
												<div class="schedule__detail__time">
													Friday
													<br>
													07:00PM
													- 10:00PM
													WIB
												</div>
												<div class="schedule__detail__description">Bukan sekedar Hura-Hura, tapi disini kita
													bicara Karya. Bukan sekedar Gaya, tapi disini kita bicara keselarasan Irama. Temukan
													sisi lain dari dunia yang selama ini dianggap hanya hura-hura dan pamer gaya bersama
													DJ Barto dan DJ Dimz hanya di program CLUB INC.
												</div>
												<div class="schedule__detail__like">
													<a href="#" id="schedule_like_1" class="schedule__like__button "
														data-type="tooltips" data-text="Like"
														onclick="rating('1420580e', 'Club Inc.', '1', 'like');">
														<span class="icon-heart"></span>
														<div class="tooltips"><span>Like</span></div>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="schedule__item col-md-3 col-sm-6 col-offset-0">
								<a href="#schedule3" class="schedule__link ovr-schedule__link js-schedule__link"
									style="background-image: url('images/dummy/fd4c4870_p.jpeg');">
									<div class="schedule__title"><span>INDIKATOR</span></div>
								</a>
								<a href="#" id="schedule_like_2" class="schedule__like__button schedule__liked" data-type="tooltips"
									data-text="Like" onclick="rating('fd4c4870', 'INDIKATOR', '2', 'dislike');">
									<span class="icon-heart"></span>
									<div class="tooltips"><span>Like</span></div>
								</a>
								<div id="schedule3" class="white-popup white-popup--schedule mfp-hide">
									<div class="schedule__detail">
										<!-- <div class="title title--live"><span>Live</span>Schedule</div> -->
										<div class="schedule__detail__wrap clearfix">
											<div class="col-md-5 col-sm-5">
												<div class="schedule__img">
													<img src="images/dummy/fd4c4870_p.jpeg" alt="INDIKATOR"
														title="INDIKATOR">
												</div>
											</div>
											<div class="col-md-7 col-sm-7">
												<div class="schedule__detail__title">INDIKATOR</div>
												<div class="schedule__detail__time">
													Thursday
													<br>
													09:00PM
													- 12:00PM
													WIB
												</div>
												<div class="schedule__detail__description">Mereka punya gaya dan cara pandang berbeda.
													Ekspresi musik yang berbeda, networking yang berbeda, penampilan yang berbeda, dan
													segala hal yang berbeda. Tetapi mereka punya karya yang mereka persembahkan untuk
													kebesaran Indonesia. Daniel Mardhany, Berry Manoch dan Alvin Yunata akan menjadi
													motor dalam program INDIKATOR.</div>
												<div class="schedule__detail__like">
													<a href="#" id="schedule_like_2" class="schedule__like__button  schedule__liked "
														data-type="tooltips" data-text="Like"
														onclick="rating('fd4c4870', 'INDIKATOR', '2', 'dislike');">
														<span class="icon-heart"></span>
														<div class="tooltips"><span>Like</span></div>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="schedule__item col-md-3 col-sm-6 col-offset-0">
								<a href="#schedule4" class="schedule__link ovr-schedule__link js-schedule__link"
									style="background-image: url('images/dummy/30f58ddd_p.jpeg?v=769');">
									<div class="schedule__title"><span>Brandsetter</span></div>
								</a>
								<a href="#" id="schedule_like_3" class="schedule__like__button " data-type="tooltips" data-text="Like"
									onclick="rating('30f58ddd', 'Brandsetter', '3', 'like');">
									<span class="icon-heart"></span>
									<div class="tooltips"><span>Like</span></div>
								</a>
								<div id="schedule4" class="white-popup white-popup--schedule mfp-hide">
									<div class="schedule__detail">
										<!-- <div class="title title--live"><span>Live</span>Schedule</div> -->
										<div class="schedule__detail__wrap clearfix">
											<div class="col-md-5 col-sm-5">
												<div class="schedule__img">
													<img src="images/dummy/30f58ddd_p.jpeg?v=769" alt="Brandsetter"
														title="Brandsetter">
												</div>
											</div>
											<div class="col-md-7 col-sm-7">
												<div class="schedule__detail__title">Brandsetter</div>
												<div class="schedule__detail__time">
													Tuesday
													<br>
													10:00PM
													- 12:00AM
													WIB
												</div>
												<div class="schedule__detail__description">Program yang dibawakan oleh Arrie Iye dan
													Reegi Regani yang akan membahas tentang fashion, footwear dan culture.</div>
												<div class="schedule__detail__like">
													<a href="#" id="schedule_like_3" class="schedule__like__button "
														data-type="tooltips" data-text="Like"
														onclick="rating('30f58ddd', 'Brandsetter', '3', 'like');">
														<span class="icon-heart"></span>
														<div class="tooltips"><span>Like</span></div>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="schedule__item col-md-3 col-sm-6 col-offset-0">
								<a href="#schedule5" class="schedule__link ovr-schedule__link js-schedule__link"
									style="background-image: url('images/dummy/e7a165fa_p.jpeg?v=249');">
									<div class="schedule__title"><span>Hip Hop Hore</span></div>
								</a>
								<a href="#" id="schedule_like_4" class="schedule__like__button schedule__liked" data-type="tooltips"
									data-text="Like" onclick="rating('e7a165fa', 'Hip Hop Hore', '4', 'dislike');">
									<span class="icon-heart"></span>
									<div class="tooltips"><span>Like</span></div>
								</a>
								<div id="schedule5" class="white-popup white-popup--schedule mfp-hide">
									<div class="schedule__detail">
										<!-- <div class="title title--live"><span>Live</span>Schedule</div> -->
										<div class="schedule__detail__wrap clearfix">
											<div class="col-md-5 col-sm-5">
												<div class="schedule__img">
													<img src="images/dummy/e7a165fa_p.jpeg?v=249"
														alt="Hip Hop Hore" title="Hip Hop Hore">
												</div>
											</div>
											<div class="col-md-7 col-sm-7">
												<div class="schedule__detail__title">Hip Hop Hore</div>
												<div class="schedule__detail__time">
													Tuesday
													<br>
													07:00PM
													- 10:00PM
													WIB
												</div>
												<div class="schedule__detail__description">Bicara diiringi ketukan penuh rasa, rangkaian
													kata-kata penuh makna yang disampaikan dengan irama. Mereka bertukar berita seputar
													gaya, karya, nostalgia dan sebagainya.
													John Parapat dan Yacko akan menemani kita di Minggu sore dalam program HIP HOP HORE.
												</div>
												<div class="schedule__detail__like">
													<a href="#" id="schedule_like_4" class="schedule__like__button  schedule__liked "
														data-type="tooltips" data-text="Like"
														onclick="rating('e7a165fa', 'Hip Hop Hore', '4', 'dislike');">
														<span class="icon-heart"></span>
														<div class="tooltips"><span>Like</span></div>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="schedule__item col-md-3 col-sm-6 col-offset-0">
								<a href="#schedule6" class="schedule__link ovr-schedule__link js-schedule__link"
									style="background-image: url('images/dummy/b2f762bb_p.jpeg?v=6');">
									<div class="schedule__title"><span>JAZZ BE FREE</span></div>
								</a>
								<a href="#" id="schedule_like_5" class="schedule__like__button " data-type="tooltips" data-text="Like"
									onclick="rating('b2f762bb', 'JAZZ BE FREE', '5', 'like');">
									<span class="icon-heart"></span>
									<div class="tooltips"><span>Like</span></div>
								</a>
								<div id="schedule6" class="white-popup white-popup--schedule mfp-hide">
									<div class="schedule__detail">
										<!-- <div class="title title--live"><span>Live</span>Schedule</div> -->
										<div class="schedule__detail__wrap clearfix">
											<div class="col-md-5 col-sm-5">
												<div class="schedule__img">
													<img src="images/dummy/b2f762bb_p.jpeg?v=6" alt="JAZZ BE FREE"
														title="JAZZ BE FREE">
												</div>
											</div>
											<div class="col-md-7 col-sm-7">
												<div class="schedule__detail__title">JAZZ BE FREE</div>
												<div class="schedule__detail__time">
													Monday
													<br>
													07:00PM
													- 10:00PM
													WIB
												</div>
												<div class="schedule__detail__description">Febry Senar Senja dan Ava Victoria membahas
													bukan hanya tentang musik Jazz, Tapi tentang kebebasan dalam bermusik. </div>
												<div class="schedule__detail__like">
													<a href="#" id="schedule_like_5" class="schedule__like__button "
														data-type="tooltips" data-text="Like"
														onclick="rating('b2f762bb', 'JAZZ BE FREE', '5', 'like');">
														<span class="icon-heart"></span>
														<div class="tooltips"><span>Like</span></div>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="schedule__item col-md-3 col-sm-6 col-offset-0">
								<a href="#schedule7" class="schedule__link ovr-schedule__link js-schedule__link"
									style="background-image: url('images/dummy/905c9503_p.jpg?v=762');">
									<div class="schedule__title"><span>SOSMED ABOUT YOU</span></div>
								</a>
								<a href="#" id="schedule_like_6" class="schedule__like__button schedule__liked" data-type="tooltips"
									data-text="Like" onclick="rating('905c9503', 'SOSMED ABOUT YOU', '6', 'dislike');">
									<span class="icon-heart"></span>
									<div class="tooltips"><span>Like</span></div>
								</a>
								<div id="schedule7" class="white-popup white-popup--schedule mfp-hide">
									<div class="schedule__detail">
										<!-- <div class="title title--live"><span>Live</span>Schedule</div> -->
										<div class="schedule__detail__wrap clearfix">
											<div class="col-md-5 col-sm-5">
												<div class="schedule__img">
													<img src="images/dummy/905c9503_p.jpg?v=762"
														alt="SOSMED ABOUT YOU" title="SOSMED ABOUT YOU">
												</div>
											</div>
											<div class="col-md-7 col-sm-7">
												<div class="schedule__detail__title">SOSMED ABOUT YOU</div>
												<div class="schedule__detail__time">
													Wednesday
													<br>
													07:00PM
													- 10:00PM
													WIB
												</div>
												<div class="schedule__detail__description">Sosial media bukan hanya tentang teknologi
													tetapi tentang komunikasi dan eksistensi.</div>
												<div class="schedule__detail__like">
													<a href="#" id="schedule_like_6" class="schedule__like__button  schedule__liked "
														data-type="tooltips" data-text="Like"
														onclick="rating('905c9503', 'SOSMED ABOUT YOU', '6', 'dislike');">
														<span class="icon-heart"></span>
														<div class="tooltips"><span>Like</span></div>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="schedule__item col-md-3 col-sm-6 col-offset-0">
								<a href="#schedule8" class="schedule__link ovr-schedule__link js-schedule__link"
									style="background-image: url('images/dummy/659d9d1b_p.jpeg');">
									<div class="schedule__title"><span>ZONA ABU ABU</span></div>
								</a>
								<a href="#" id="schedule_like_7" class="schedule__like__button " data-type="tooltips" data-text="Like"
									onclick="rating('659d9d1b', 'ZONA ABU ABU', '7', 'like');">
									<span class="icon-heart"></span>
									<div class="tooltips"><span>Like</span></div>
								</a>
								<div id="schedule8" class="white-popup white-popup--schedule mfp-hide">
									<div class="schedule__detail">
										<!-- <div class="title title--live"><span>Live</span>Schedule</div> -->
										<div class="schedule__detail__wrap clearfix">
											<div class="col-md-5 col-sm-5">
												<div class="schedule__img">
													<img src="images/dummy/659d9d1b_p.jpeg" alt="ZONA ABU ABU"
														title="ZONA ABU ABU">
												</div>
											</div>
											<div class="col-md-7 col-sm-7">
												<div class="schedule__detail__title">ZONA ABU ABU</div>
												<div class="schedule__detail__time">
													Wednesday
													<br>
													05:00PM
													- 07:00PM
													WIB
												</div>
												<div class="schedule__detail__description">Program yang dibawakan oleh Ardian Eka Putra
													dan Ilham Parulian, siap mengeksplorasi dan mengekspos karya kalian siswa/siswi
													putih abu abu dari seluruh daerah di Indonesia.</div>
												<div class="schedule__detail__like">
													<a href="#" id="schedule_like_7" class="schedule__like__button "
														data-type="tooltips" data-text="Like"
														onclick="rating('659d9d1b', 'ZONA ABU ABU', '7', 'like');">
														<span class="icon-heart"></span>
														<div class="tooltips"><span>Like</span></div>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
						<a href="javascript:void(0)" class="button button--more" id="show_more" data-page="2">More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- footer -->
{{> footer}}
</body>
</html>
