<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>

<!-- header -->
{{> header active="mnews"}}

<div id="overlay"></div>
<!-- main -->
<div class="main container clearfix">
	<div class="row col-offset-fluid clearfix">
		<div class="col-md-12">
			<!-- title section -->
			<div class="title title--page title--inline">M-NEWS</div>
		</div>
	</div>
	<div class="row col-offset-fluid clearfix">
		<div class="col-md-8 clearfix">

			<!-- m-news title -->
			<div class="mnews__header mt2 clearfix">
				<div class="mnews__header__title">Mengungkap Andil Besar Game of Throne Kepada Kesuksesan Taylor Swift</div>
				<div class="mnews__header__info">
					<div class="mnews__author"><span>by</span>Danila Riyadi</div>
					<div class="mnews__date">13/02/2017 23.34</div>
					<div class="mnews__comment">No Comment</div>
				</div>
				<div class="mnews__header__share">
					<div class="share--inline share--read">
						<ul class="share__wrap clearfix">
							<li class="share__item">
								<a href="#" target="_blank" class="share__link share__link--facebook"><span class="icon-facebook"></span></a>
							</li>
							<li class="share__item">
								<a href="#" target="_blank" class="share__link share__link--twitter"><span class="icon-twitter"></span></a>
							</li>
							<li class="share__item">
								<a href="#" target="_blank" class="share__link share__link--google-plus"><span class="icon-google-plus"></span></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="mnews__media">
					<img src="images/dummy/lede-jpg-1557577138.jpeg" alt="">
				</div>
			</div>

			<!-- m-news read -->
			<div class="mnews__read clearfix">
				<div class="page__content mnews__content clearfix">
					<p>Dalam sebuah wawancara dengan <i>Entertaiment Weekly</i> penyanyi Taylor Swift mengungkapkan bahwa album  terbarunya<i> Reputation</i> sebenarnya  banyak dipengaruhi oleh <strong>Game of Thrones</strong>? Loh kok bisa? Jadi begini ceritanya  Frentos, Tay-Tay sudah mulai menonton serial televisi ini sejak tahun 2016,  akhirnya berdampak langsung kepada kisah yang ia ceritakan dalam musik dan lagi-lagunya.</p>
					<p>Mengutip dari kompas.com (11/05) Taylor Swift mengungkapkan “Begitu banyak imajinasi yang saya habiskan  pada game of thrones. Pada saat itu, saya membuat Reputation dan saya tidak membicarakannya dalam wawancara, jadi saya tidak mengungkapkan bahwa lagu saya  dipengaruhi oleh seri itu.”</p>
					<p>Masih menurut si pirang, <a href="#">setengah dari isi materi di albumnya berdasarkan dari kisah pribadinya di kehidupan nyata namun dalam sudut  pandang game of throne</a>, Gimana yah? Jadi misalnya begini, lagu Look What You Made Me Do katanya disebut mempunyai korelasi dengan daftar pembunuhan Arya Stark, sedangkan lagu King of My Hearth dipengaruhi oleh Khal Drogo dan Daenerys.</p>
					<p></p>
					<div class="mnews__media">
						<div class="img"><img src="images/dummy/1886044224-jpg-1557577194.jpeg" alt=""></div>
						<div class="title"></div>
	                </div>
					<br>
					<p></p>
					<p>Nah sedangkan untuk lagu I Do Something Bad ditulis setelah  si anu dan si anu berkonspirasi untuk melakukan anu. Ngerti ngak? Maklum bulan  puasa frentos, harus banyak bercanda. Jadi lagu tersebut ditulis setelah Arya  dan Sansa berkonspirasi melakukan pembunuhan kepada Litllefinger.</p>
					<ul>
						<li>Many parents feel pressured</li>
						<li>Now she makes beautiful earrings</li>
						<li>Hobbies are declining</li>
						<li>Such problems are a privilege</li>
						<li>Unstructured play brings creativity</li>
					</ul>
					<p>Nah obsesinya yang besar kepada Game of Throne inilah yang  akhirnya mempengaruhi imajinasi dan sudut pandang Tay-Tay dalam bermusik,  menabung dan bermain. (Yang dua setelahnya bukan hal yang serius). Hal ini  jugalah yang memotivasinya untuk mengambil sebuah pendekatan yang lebih samar  tentang bagaimana dirinya memberikan sebuah misteri kepada para  penggemarnya, “jadi saya menemukan cara untuk mendapatkan lebih banyak  informasi rahasia dan masih bisa berbagi pesan dengan para penggemar.” Ungkap  Swift</p>
					<p>Dari hal tersebut dapat disimpulkan bahwa seluruh  pandangannya tentang dunia dongeng dan bagaimana memberikan sebuah misteri dan  teka-teki di dalam karya-karyanya hampir seluruhnya ia dapatkan dari GoT. Terakhir Swift mengatakan  bahwa dirinya merasa sangat beruntung bisa eksis dan terus mengikuti  perkembangan GoT hingga saat ini, Jadi bisa dibilang GoT mempunyai andil yang  cukup besar dalam karier seorang Taylor Swift.</p> 					
				</div>
				<!-- tagging -->
				<div class="mnews__tag clearfix">
					<ul class="mnews__tag__wrap clearfix">
						<li class="mnews__tag__item"><a href="#" class="mnews__tag__link">game of throne</a></li>
						<li class="mnews__tag__item"><a href="#" class="mnews__tag__link">taylor swift</a></li>
						<li class="mnews__tag__item"><a href="#" class="mnews__tag__link">reputation</a></li>
						<li class="mnews__tag__item"><a href="#" class="mnews__tag__link">taylor swift me</a></li>
						<li class="mnews__tag__item"><a href="#" class="mnews__tag__link">Selena Gomez</a></li>
						<li class="mnews__tag__item"><a href="#" class="mnews__tag__link">News</a></li>
						<li class="mnews__tag__item"><a href="#" class="mnews__tag__link">Sosial Media</a></li>
						<li class="mnews__tag__item"><a href="#" class="mnews__tag__link">Mugos</a></li>
						<li class="mnews__tag__item"><a href="#" class="mnews__tag__link">Lifestyle</a></li>
						<li class="mnews__tag__item"><a href="#" class="mnews__tag__link">Mugos</a></li>
						<li class="mnews__tag__item"><a href="#" class="mnews__tag__link">Lifestyle</a></li>
						<li class="mnews__tag__item"><a href="#" class="mnews__tag__link">Mugos</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4 clearfix">

			<!-- m-news archive -->
			<div class="mnews mnews--archive clearfix">
				<div class="title title--sidebar title--inline">M-News<span>Archive</span></div>
				<div class="mnews__wrap">
					<div class="mnews__article clearfix">
						<div class="col-md-5 col-sm-5 col-offset-0">
							<a href="mnews_read.html" class="mnews__article__link">
								<div class="mnews__img" style="background-image: url('http://assets.kompas.com/crop/0x0:1000x667/750x500/data/photo/2017/04/11/3983638905.jpg');">
								</div>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="mnews__article__wrap">
								<a href="mnews_read.html" class="mnews__article__link">
									<div class="mnews__title">Altra's First Smart Shoe Will Change The Way You Run</div>
								</a>
								<div class="mnews__info">
									<div class="mnews__date">2 days ago</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mnews__article clearfix">
						<div class="col-md-5 col-sm-5 col-offset-0">
							<a href="mnews_read.html" class="mnews__article__link">
								<div class="mnews__img" style="background-image: url('http://assets.kompas.com/crop/0x0:780x390/780x390/data/photo/2016/12/16/1902559bungy-jumping2780x390.jpg');">
								</div>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="mnews__article__wrap">
								<a href="mnews_read.html" class="mnews__article__link">
									<div class="mnews__title">The Great Tourism Squeeze: Tourists cruise into Akaroa in their droves</div>
								</a>
								<div class="mnews__info">
									<div class="mnews__date">2 days ago</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mnews__article clearfix">
						<div class="col-md-5 col-sm-5 col-offset-0">
							<a href="mnews_read.html" class="mnews__article__link">
								<div class="mnews__img" style="background-image: url('http://assets.kompas.com/crop/0x39:1000x539/780x390/data/photo/2017/04/04/1405128361.jpg');">
								</div>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="mnews__article__wrap">
								<a href="mnews_read.html" class="mnews__article__link">
									<div class="mnews__title">WV Book Team: Celebrate books with Latin American roots</div>
								</a>
								<div class="mnews__info">
									<div class="mnews__date">2 days ago</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mnews__article clearfix">
						<div class="col-md-5 col-sm-5 col-offset-0">
							<a href="mnews_read.html" class="mnews__article__link">
								<span class="mnews__icon--video"></span>
								<div class="mnews__img" style="background-image: url('http://assets.kompas.com/crop/18x12:1000x667/740x500/data/photo/2017/04/21/144461648.jpg');">
								</div>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="mnews__article__wrap">
								<a href="mnews_read.html" class="mnews__article__link">
									<div class="mnews__title">Xiaomi Explains Why the Mi 6 Doesn't Have a Headphone Jack</div>
								</a>
								<div class="mnews__info">
									<div class="mnews__date">2 days ago</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- footer -->
{{> footer}}
</body>
</html>
