<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>

<!-- header -->
{{> header active="mnews"}}

<div id="overlay"></div>
<!-- main -->
<div class="main container clearfix">
	<div class="row col-offset-fluid clearfix">
		<div class="col-md-12">
			<!-- title section -->
			<div class="title title--page title--inline">M-NEWS</div>
		</div>
	</div>
	<div class="row col-offset-fluid clearfix">
		<div class="col-md-8 clearfix">
			<!-- m-news -->
			<div class="mnews clearfix">
				<div class="mnews__wrap">
					<div class="mnews__article clearfix">
						<div class="col-md-5 col-sm-5 col-offset-0">
							<a href="mnews_read.html" class="mnews__article__link">
								<div class="mnews__img" style="background-image: url('http://assets.kompas.com/crop/0x0:1000x667/750x500/data/photo/2017/04/11/3983638905.jpg');">
								</div>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="mnews__article__wrap">
								<div class="mnews__subtitle">Lifestyle</div>
								<a href="mnews_read.html" class="mnews__article__link">
									<div class="mnews__title">Altra's First Smart Shoe Will Change The Way You Run</div>
								</a>
								<div class="mnews__info">
									<div class="mnews__author"><span>by</span>Anthony Martial</div>
									<div class="mnews__date">13/02/2017 23.34</div>
									<div class="mnews__comment">3 Comment</div>
								</div>
								<div class="mnews__lead">
									It happened in 1967 but Orange, a Minnesotan who has criss-crossed the United States sleeping rough for three years, could feel the glow 50 years later. “People here treat you as an actual human being unlike anywhere else in the country.”
								</div>
							</div>
						</div>
					</div>
					<div class="mnews__article clearfix">
						<div class="col-md-5 col-sm-5 col-offset-0">
							<a href="mnews_read.html" class="mnews__article__link">
								<div class="mnews__img" style="background-image: url('http://assets.kompas.com/crop/0x0:780x390/780x390/data/photo/2016/12/16/1902559bungy-jumping2780x390.jpg');">
								</div>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="mnews__article__wrap">
								<div class="mnews__subtitle">Lifestyle</div>
								<a href="mnews_read.html" class="mnews__article__link">
									<div class="mnews__title">The Great Tourism Squeeze: Tourists cruise into Akaroa in their droves</div>
								</a>
								<div class="mnews__info">
									<div class="mnews__author"><span>by</span>Isyana Raisa Sarasvati</div>
									<div class="mnews__date">13/02/2017 23.34</div>
									<div class="mnews__comment">No Comment</div>
								</div>
								<div class="mnews__lead">
									It happened in 1967 but Orange, a Minnesotan who has criss-crossed the United States sleeping rough for three years, could feel the glow 50 years later. “People here treat you as an actual human being unlike anywhere else in the country.”
								</div>
							</div>
						</div>
					</div>
					<div class="mnews__article clearfix">
						<div class="col-md-5 col-sm-5 col-offset-0">
							<a href="mnews_read.html" class="mnews__article__link">
								<div class="mnews__img" style="background-image: url('http://assets.kompas.com/crop/0x39:1000x539/780x390/data/photo/2017/04/04/1405128361.jpg');">
								</div>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="mnews__article__wrap">
								<div class="mnews__subtitle">Lifestyle</div>
								<a href="mnews_read.html" class="mnews__article__link">
									<div class="mnews__title">WV Book Team: Celebrate books with Latin American roots</div>
								</a>
								<div class="mnews__info">
									<div class="mnews__author"><span>by</span>Danila Riyadi</div>
									<div class="mnews__date">13/02/2017 23.34</div>
									<div class="mnews__comment">No Comment</div>
								</div>
								<div class="mnews__lead">
									It happened in 1967 but Orange, a Minnesotan who has criss-crossed the United States sleeping rough for three years, could feel the glow 50 years later. “People here treat you as an actual human being unlike anywhere else in the country.”
								</div>
							</div>
						</div>
					</div>
					<div class="mnews__article clearfix">
						<div class="col-md-5 col-sm-5 col-offset-0">
							<a href="mnews_read.html" class="mnews__article__link">
								<span class="mnews__icon--video"></span>
								<div class="mnews__img" style="background-image: url('http://assets.kompas.com/crop/18x12:1000x667/740x500/data/photo/2017/04/21/144461648.jpg');">
								</div>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="mnews__article__wrap">
								<div class="mnews__subtitle">Lifestyle</div>
								<a href="mnews_read.html" class="mnews__article__link">
									<div class="mnews__title">Xiaomi Explains Why the Mi 6 Doesn't Have a Headphone Jack</div>
								</a>
								<div class="mnews__info">
									<div class="mnews__author"><span>by</span>Danila Riyadi</div>
									<div class="mnews__date">13/02/2017 23.34</div>
									<div class="mnews__comment">No Comment</div>
								</div>
								<div class="mnews__lead">
									It happened in 1967 but Orange, a Minnesotan who has criss-crossed the United States sleeping rough for three years, could feel the glow 50 years later. “People here treat you as an actual human being unlike anywhere else in the country.”
								</div>
							</div>
						</div>
					</div>
					<div class="mnews__article clearfix">
						<div class="col-md-5 col-sm-5 col-offset-0">
							<a href="mnews_read.html" class="mnews__article__link">
								<div class="mnews__img" style="background-image: url('http://assets.kompas.com/crop/0x0:1000x667/750x500/data/photo/2017/04/11/3983638905.jpg');">
								</div>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="mnews__article__wrap">
								<div class="mnews__subtitle">Lifestyle</div>
								<a href="mnews_read.html" class="mnews__article__link">
									<div class="mnews__title">Altra's First Smart Shoe Will Change The Way You Run</div>
								</a>
								<div class="mnews__info">
									<div class="mnews__author"><span>by</span>Anthony Martial</div>
									<div class="mnews__date">13/02/2017 23.34</div>
									<div class="mnews__comment">3 Comment</div>
								</div>
								<div class="mnews__lead">
									It happened in 1967 but Orange, a Minnesotan who has criss-crossed the United States sleeping rough for three years, could feel the glow 50 years later. “People here treat you as an actual human being unlike anywhere else in the country.”
								</div>
							</div>
						</div>
					</div>
					<div class="mnews__article clearfix">
						<div class="col-md-5 col-sm-5 col-offset-0">
							<a href="mnews_read.html" class="mnews__article__link">
								<div class="mnews__img" style="background-image: url('http://assets.kompas.com/crop/0x0:780x390/780x390/data/photo/2016/12/16/1902559bungy-jumping2780x390.jpg');">
								</div>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="mnews__article__wrap">
								<div class="mnews__subtitle">Lifestyle</div>
								<a href="mnews_read.html" class="mnews__article__link">
									<div class="mnews__title">The Great Tourism Squeeze: Tourists cruise into Akaroa in their droves</div>
								</a>
								<div class="mnews__info">
									<div class="mnews__author"><span>by</span>Isyana Raisa Sarasvati</div>
									<div class="mnews__date">13/02/2017 23.34</div>
									<div class="mnews__comment">No Comment</div>
								</div>
								<div class="mnews__lead">
									It happened in 1967 but Orange, a Minnesotan who has criss-crossed the United States sleeping rough for three years, could feel the glow 50 years later. “People here treat you as an actual human being unlike anywhere else in the country.”
								</div>
							</div>
						</div>
					</div>
					<div class="mnews__article clearfix">
						<div class="col-md-5 col-sm-5 col-offset-0">
							<a href="mnews_read.html" class="mnews__article__link">
								<div class="mnews__img" style="background-image: url('http://assets.kompas.com/crop/0x39:1000x539/780x390/data/photo/2017/04/04/1405128361.jpg');">
								</div>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="mnews__article__wrap">
								<div class="mnews__subtitle">Lifestyle</div>
								<a href="mnews_read.html" class="mnews__article__link">
									<div class="mnews__title">WV Book Team: Celebrate books with Latin American roots</div>
								</a>
								<div class="mnews__info">
									<div class="mnews__author"><span>by</span>Danila Riyadi</div>
									<div class="mnews__date">13/02/2017 23.34</div>
									<div class="mnews__comment">No Comment</div>
								</div>
								<div class="mnews__lead">
									It happened in 1967 but Orange, a Minnesotan who has criss-crossed the United States sleeping rough for three years, could feel the glow 50 years later. “People here treat you as an actual human being unlike anywhere else in the country.”
								</div>
							</div>
						</div>
					</div>
					<div class="mnews__article clearfix">
						<div class="col-md-5 col-sm-5 col-offset-0">
							<a href="mnews_read.html" class="mnews__article__link">
								<span class="mnews__icon--video"></span>
								<div class="mnews__img" style="background-image: url('http://assets.kompas.com/crop/18x12:1000x667/740x500/data/photo/2017/04/21/144461648.jpg');">
								</div>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="mnews__article__wrap">
								<div class="mnews__subtitle">Lifestyle</div>
								<a href="mnews_read.html" class="mnews__article__link">
									<div class="mnews__title">Xiaomi Explains Why the Mi 6 Doesn't Have a Headphone Jack</div>
								</a>
								<div class="mnews__info">
									<div class="mnews__author"><span>by</span>Danila Riyadi</div>
									<div class="mnews__date">13/02/2017 23.34</div>
									<div class="mnews__comment">No Comment</div>
								</div>
								<div class="mnews__lead">
									It happened in 1967 but Orange, a Minnesotan who has criss-crossed the United States sleeping rough for three years, could feel the glow 50 years later. “People here treat you as an actual human being unlike anywhere else in the country.”
								</div>
							</div>
						</div>
					</div>
					<a href="#" class="button button--more">More</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 clearfix">

			<!-- top user -->
			{{> top_frentos}}

			<!-- top host -->
			{{> top_host}}
		</div>
	</div>
</div>

<!-- footer -->
{{> footer}}
</body>
</html>
