<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>

<!-- header -->
{{> header active="index" state="logged"}}

<div id="overlay"></div>
<!-- main -->
<div class="main clearfix">
	<div class="row container clearfix">
		<div class="col-md-offset-1 col-md-3 clearfix">
			<div class="register register--fixed-height clearfix">
				<div class="register__top">
					<div class="title title--page text-center"><span>Profile</span></div>
				</div>
				<div class="register__row text-center">
					<div class="form__group clearfix">
						<div class="profile__img">
							<img src="images/avatar-female.png" alt="">
						</div>
					</div>
					<div class="form__group clearfix">
						<span>Last logged in</span>
						23th, September 2017, 12.33 PM
					</div>
					<div class="form__group clearfix">
						<div class="badge__item">
							<i class="icon-user"></i> Newbie
						</div>
					</div>
					<div class="register--line--bottom"></div>
				</div>
			</div>
		</div>
		<div class="col-md-5 clearfix">
			<div class="register register--fixed-height clearfix">
				<div class="register__row">
					<div class="form__group clearfix">
						<span>Email</span>
						danilla@gmail.com
					</div>
					<div class="form__group clearfix">
						<span>Full Name</span>
						Danilla Riyadi
					</div>
					<div class="form__group clearfix">
						<span>Gender</span>
						Female
					</div>
					<div class="form__group clearfix">
						<span>Birthday</span>
						17th, November 1988
					</div>
					<div class="form__group clearfix">
						<span>Mobile Phone</span>
						09876554224
					</div>
					<div class="form__group clearfix">
						<a href="edit_profile.html" class="button button--standart mt2 clearfix">Edit Profile</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- footer -->
{{> footer}}
</body>
</html>
