<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>

<!-- header -->
{{> header active="index"}}

<div id="overlay"></div>
<!-- main -->
<div class="main main--full clearfix">
	<div class="row container clearfix">
		<div class="col-md-offset-1 col-md-5 register__teaser clearfix">
			<div class="display-table">
				<div class="display-center text-left">
					<div class="register__row">
						<h2 class="register__title">Mugos.tv</h2>
						<div class="register__info">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-5 clearfix">
			<div class="register clearfix">
				<div class="register__top">
					<div class="title title--page title--inline"><span>Login</span></div>
				</div>
				<div class="register__row">
					<form action="profile.html" class="form--login">
						<div class="form__group clearfix">
							<input type="text" class="form__input col-xs-12" placeholder="Email address" />
						</div>
						<div class="form__group clearfix">
							<input type="password" class="form__input col-xs-12" placeholder="Password" />
						</div>
						<div class="form__group clearfix">
							<input type="submit" name="submit" class="form__button col-xs-4" value="Login" />
						</div>
					</form>
					<div class="login__sosmed">
						<div class="login__sosmed__title"><span>OR</span></div>
						<div class="login__sosmed__row clearfix">
							<a href="#" class="login__sosmed__link login__sosmed__link--facebook"><span class="icon-facebook"></span> Login with Facebook</a>
							<a href="#" class="login__sosmed__link login__sosmed__link--google-plus"><span class="icon-google-plus"></span> Login with Google+</a>
						</div>
					</div>
				</div>
			</div>
			<div class="register clearfix">
				<div class="register__top">
					<div class="register__info register__info--small">
						If you don’t have an account, please register by filling in the information below. Thank you.
					</div>
					<div class="title title--page title--inline"><span>Register</span></div>
				</div>
				<div class="register__row">
					<form action="#" class="form--register">
						<div class="form__group form--error clearfix">
							<input type="text" class="form__input col-xs-12" placeholder="Full name" />
							<label>You can't leave this empty.</label>
						</div>
						<div class="form__group clearfix">
							<input type="text" class="form__input col-xs-12" placeholder="Email address" />
						</div>
						<div class="form__group clearfix">
							<input type="password" class="form__input col-xs-12" placeholder="Password" />
						</div>
						<div class="form__group clearfix">
							<input type="password" class="form__input col-xs-12" placeholder="Re-type password" />
						</div>
						<div class="form__group clearfix">
							<span>Gender</span>
							<div class="col-md-4 col-xs-5">
								<label class="form__radio"><input type="radio" name="gender" value="other"><i></i> Male</label>
							</div>
							<div class="col-md-4 col-xs-5">
								<label class="form__radio"><input type="radio" name="gender" value="other"><i></i> Female</label>
							</div>
						</div>
						<div class="form__group clearfix">
							<span>Birthday</span>
							<select name="year" id="" class="form__option col-xs-4">
								<option value="">Year</option>
								<option value="1987">1987</option>
								<option value="1988">1988</option>
							</select>
							<select name="month" id="" class="form__option col-xs-3">
								<option value="">Month</option>
								<option value="01">01</option>
								<option value="02">02</option>
							</select>
							<select name="date" id="" class="form__option col-xs-3">
								<option value="">Date</option>
								<option value="1">1</option>
								<option value="2">2</option>
							</select>
						</div>
						<div class="form__group clearfix">
							<input type="text" class="form__input col-xs-12" placeholder="Mobile phone" />
						</div>
						<div class="form__group clearfix">
							<input type="submit" name="submit" class="form__button col-xs-4" value="Sign up" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- footer -->
{{> footer}}
</body>
</html>
