<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>

<!-- header -->
{{> header active="gift"}}

<div id="overlay"></div>
<!-- main -->
<div class="main container clearfix">
	<div class="row col-offset-fluid clearfix">
		<div class="col-md-12">
			<!-- title section -->
			<div class="title title--page title--inline">Top Up</div>
		</div>
	</div>
	<div class="row topup clearfix">
		<div class="col-md-6 clearfix">
			<!-- topup -->
			<div class="row clearfix">
				<div class="topup__item col-md-4 col-sm-4 col-xs-6">
					<label class="topup__radio">
						<input type="radio" name="coin" value="100">
						<div class="topup__row">
							<div class="topup__price">Rp 5.000,-</div>
							<div class="topup__coin">
								<span class="icon-coin"></span> 100 Coin
							</div>
						</div>
					</label>
				</div>
				<div class="topup__item col-md-4 col-sm-4 col-xs-6">
					<label class="topup__radio">
						<input type="radio" name="coin" value="100">
						<div class="topup__row">
							<div class="topup__price">Rp 5.000,-</div>
							<div class="topup__coin">
								<span class="icon-coin"></span> 100 Coin
							</div>
						</div>
					</label>
				</div>
				<div class="topup__item col-md-4 col-sm-4 col-xs-6">
					<label class="topup__radio">
						<input type="radio" name="coin" value="100">
						<div class="topup__row">
							<div class="topup__price">Rp 5.000,-</div>
							<div class="topup__coin">
								<span class="icon-coin"></span> 100 Coin
							</div>
						</div>
					</label>
				</div>
				<div class="topup__item col-md-4 col-sm-4 col-xs-6">
					<label class="topup__radio">
						<input type="radio" name="coin" value="100">
						<div class="topup__row">
							<div class="topup__price">Rp 5.000,-</div>
							<div class="topup__coin">
								<span class="icon-coin"></span> 100 Coin
							</div>
						</div>
					</label>
				</div>
				<div class="topup__item col-md-4 col-sm-4 col-xs-6">
					<label class="topup__radio">
						<input type="radio" name="coin" value="100">
						<div class="topup__row">
							<div class="topup__price">Rp 5.000,-</div>
							<div class="topup__coin">
								<span class="icon-coin"></span> 100 Coin
							</div>
						</div>
					</label>
				</div>
				<div class="topup__item col-md-4 col-sm-4 col-xs-6">
					<label class="topup__radio">
						<input type="radio" name="coin" value="100">
						<div class="topup__row">
							<div class="topup__price">Rp 5.000,-</div>
							<div class="topup__coin">
								<span class="icon-coin"></span> 100 Coin
							</div>
						</div>
					</label>
				</div>
				<div class="topup__item col-md-4 col-sm-4 col-xs-6">
					<label class="topup__radio">
						<input type="radio" name="coin" value="100">
						<div class="topup__row">
							<div class="topup__price">Rp 5.000,-</div>
							<div class="topup__coin">
								<span class="icon-coin"></span> 100 Coin
							</div>
						</div>
					</label>
				</div>
				<div class="topup__item col-md-4 col-sm-4 col-xs-6">
					<label class="topup__radio">
						<input type="radio" name="coin" value="100">
						<div class="topup__row">
							<div class="topup__price">Rp 5.000,-</div>
							<div class="topup__coin">
								<span class="icon-coin"></span> 100 Coin
							</div>
						</div>
					</label>
				</div>
			</div>
		</div>
		<div class="col-md-6 clearfix">
			<!-- buy -->
			<div class="topup__content clearfix">
				<div class="topup__teaser">Top up dengan pulsa</div>
				<div class="form__group form--error clearfix">
					<span>Phone number</span>
					<input type="text" class="form__input col-xs-12" placeholder="+6289830239">
					<label>You can't leave this empty.</label>
				</div>
				<div class="form__group clearfix">
					<input type="submit" name="submit" class="form__button col-md-3 col-sm-3 col-xs-5" value="Bayar">
				</div>
			</div>
			<div class="topup__content clearfix">
				<div class="title title--schedule title--clear"><span>Metode</span> Pembayaran</div>
				<div class="topup__teaser">*Saat ini kami hanya bekerja sama dengan PayPro</div>
				<div class="row col-offset-fluid clearfix">
					<div class="col-md-2 col-sm-2 col-xs-5">
						<div class="topup__partner">
							<a href="//www.paypro.id" class="topup__partner__link" target="_blank">
								<div class="topup__partner__img">
									<img src="./images/paypro.jpg" alt="">
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="title title--schedule title--clear"><span>Download</span> Aplikasinya</div>
				<div class="row col-offset-fluid clearfix">
					<div class="col-md-3 col-sm-3 col-xs-6">
						<div class="topup__partner">
							<a href="#" class="topup__partner__link" target="_blank">
								<div class="topup__partner__img">
									<img src="./images/google-play-badge.png" alt="">
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6">
						<div class="topup__partner">
							<a href="#" class="topup__partner__link" target="_blank">
								<div class="topup__partner__img">
									<img src="./images/apple-store-badge.png" alt="">
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- footer -->
{{> footer}}
</body>
</html>
