.bg {
	&--red {
		background: url('../images/bg.png') #C1272D;
		&--gradient {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1272d+0,9f363a+75,9f363a+75,9f363a+100 */
			background: url('../images/bg.png') #c1272d; /* Old browsers */
			background: url('../images/bg.png'), -moz-linear-gradient(top,  #c1272d 0%, #9f363a 75%, #9f363a 75%, #9f363a 100%); /* FF3.6-15 */
			background: url('../images/bg.png'), -webkit-linear-gradient(top,  #c1272d 0%,#9f363a 75%,#9f363a 75%,#9f363a 100%); /* Chrome10-25,Safari5.1-6 */
			background: url('../images/bg.png'), linear-gradient(to bottom,  #c1272d 0%,#9f363a 75%,#9f363a 75%,#9f363a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1272d', endColorstr='#9f363a',GradientType=0 ); /* IE6-9 */
		}
	}
	&--grey {
		background: url('../images/bg.png') #f1f1f1;
	}
	&--white {
		background: url('../images/bg.png') #fff;
	}
	&--darkgreen {
		background: url('../images/bg.png') #265A6D;
	}
	&--yellow {
		background: url('../images/bg.png') #FFC121;
	}
	&--green {
		background: url('../images/bg.png') #36A99D;
		&--gradient {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#abe5aa+0,60ccb8+75,60ccb8+100 */
			background: url('../images/bg.png') #abe5aa; /* Old browsers */
			background: url('../images/bg.png'), -moz-linear-gradient(top,  #abe5aa 0%, #60ccb8 75%, #60ccb8 100%); /* FF3.6-15 */
			background: url('../images/bg.png'), -webkit-linear-gradient(top,  #abe5aa 0%,#60ccb8 75%,#60ccb8 100%); /* Chrome10-25,Safari5.1-6 */
			background: url('../images/bg.png'), linear-gradient(to bottom,  #abe5aa 0%,#60ccb8 75%,#60ccb8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abe5aa', endColorstr='#60ccb8',GradientType=0 ); /* IE6-9 */
		}
	}
	&--blue {
		background: url('../images/bg.png') #7EDAF1;
		&--gradient {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7edaf1+0,c1d9fb+75,c1d9fb+100 */
			background: url('../images/bg.png') #7edaf1; /* Old browsers */
			background: url('../images/bg.png'), -moz-linear-gradient(top,  #7edaf1 0%, #c1d9fb 75%, #c1d9fb 100%); /* FF3.6-15 */
			background: url('../images/bg.png'), -webkit-linear-gradient(top,  #7edaf1 0%,#c1d9fb 75%,#c1d9fb 100%); /* Chrome10-25,Safari5.1-6 */
			background: url('../images/bg.png'), linear-gradient(to bottom,  #7edaf1 0%,#c1d9fb 75%,#c1d9fb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7edaf1', endColorstr='#c1d9fb',GradientType=0 ); /* IE6-9 */
		}
	}
}
