.credit {
	position: relative;
	color: #fff;
	text-align: left;
		font-family: $font_vik2;
	padding: 10vw 0px 10px;
	@include min-responsive($mxtablet) {
		padding: 5vw 20px 10px;
	}
	&__row {
		position: relative;
		padding-left: 120px;
		margin: 5px 0 8px;
		@include max-responsive($mxtablet) {
			padding-left: 110px;
		}
	}
	&__team {
		font-size: 14px;
		font-weight: 700;
		margin: 0;
		text-transform: uppercase;
		position: absolute;
		top: 0;
		left: 0;
	}
	&__member {
		font-size: 13px;
		font-weight: 300;
		// text-transform: uppercase;
		padding-left: 20px;
		// padding-top: 3px;
		position: relative;
		display: block;
		text-transform: uppercase;
		&:before {
			position: absolute;
			left: 0;
			top: -4px;
			content: ' › ';
			font-size: 20px;
			padding: 0 3px;
			color: #F79D19;
			line-height: 1;
			font-weight: 400;
		}
		span {
			display: inline-block;
		    padding: 0 0 2px;
			@include max-responsive(767px) {
				display: block;
			}
		}
	}
	&__disclaimer {
		margin: 0;
		font-size: 12px;
		font-style: italic;
	}
	&--bottom {
		background: #000;
		// @include display_full();
	}
	&--fixed {
		position: fixed;
		width: 100%;
		bottom: 0px;
		left: 0px;
		// opacity: 0;
		// display: none;
	}
	&--show {
		opacity: 1;
		// display: block;
	}
	&__logo {
		position: relative;
		padding: 30px 0;
		@include max-responsive($mxtablet) {
			text-align: center;
			padding: 0;
		}
		&--kompas,
		&--kompastv,
		&--kompascom {
			margin: 0 20px;
			@include max-responsive($mxtablet) {
				margin: 10px 10px 0;
				display: inline-block;
			}
		}
		&--kompascom {
			margin: 0 20px 0 0;
			@include max-responsive($mxtablet) {
				margin: 10px 0 0 0;
			}
		}
		&--kompascom img {
			width: 150px;
			@include max-responsive($mxtablet) {
				width: 120px;
			}
		}
		&--kompas img {
			width: 104px;
			@include max-responsive($mxtablet) {
				width: 96px;
			}
		}
		&--kompastv img {
			width: 115px;
			@include max-responsive($mxtablet) {
				width: 106px;
			}
		}
	}
}
.credit--style2 {
	.credit {
		text-align: center;
		@include min-responsive($mxtablet) {
		}
		&__row {
			margin: 0 0 20px;
			padding: 0;
			@include max-responsive($mxtablet) {
			}
		}
		&__team {
			position: relative;
			top: auto;
			left: auto;
			right: auto;
			padding: 0 0 2px;
			color: #f1ba1b;
			letter-spacing: 2px;
		}
		&__member {
			padding: 0;
			text-transform: none;
			&:before {
				content: '';
			}
		}
		&__disclaimer {
		}
		&--bottom {
		}
		&--fixed {
		}
		&--show {
		}
	}
}

