.intro {
	@include display_full();
	position: relative;
	background: #C1272D;
	background-position: center center;
	&__main {
		perspective: 2000px;
	}
	&__wrap {	
		@include display_full();
		z-index: 1;
	}
	&__subtitle {		
		font-family: $font_intro;
		color: #fff;
		display: block;
		font-size: 16px;
		font-weight: 300;
		margin: 0;
		padding: 0 0 0 45%;
	    text-align: right;
		text-transform: uppercase;
		text-shadow: 0px 0px 10px rgba(0,0,0,.5);
		@include min-responsive($mntablet) {
			padding: 0;
			font-size: 20px;
			// display: inline;
		}
	}
	&__title {
		font-size: 40px;
		font-family: $font_intro;
		color: #fff;
		margin: 20vw 0px 0;
		font-weight: 700;
		text-transform: uppercase;
	    line-height: 1;
	    // text-align: right;
		text-shadow: 0px 0px 10px rgba(0,0,0,.5);
		@include min-responsive($mntablet) {
			font-size: 100px;
			padding: 0;
			margin: 20vw 0 10px;
		}
		// &:after {
		// 	content: ",";
		// 	position: absolute;
		// 	right: -15px;
		// 	bottom: 0;
		// 	@include min-responsive($mntablet) {			
		// 		right: -25px;
		// 	}
		// }
	}
	&__lead {
		text-align: center;
		font-size: 16px;
		color: #fff;
		font-weight: 400;
		font-family: $font_title;
		// text-transform: uppercase;
		padding: 0;
		margin: 0;
		text-shadow: 0px 0px 10px rgba(0,0,0,.5);
		@include min-responsive($mntablet) {
			padding: 0 20%;
			font-size: 24px;
			line-height: 1;
			margin: 0;
		}
	}
	&__caption {
		font-size: 14px;
		color: #fff;
		text-align: center;
		@include min-responsive($mntablet) {
			margin: 20px 0 0;
		}
	}
	&__overlay {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: -moz-radial-gradient(center, ellipse cover, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
		/* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.8)));
		/* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
		/* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
		/* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
		/* IE10+ */
		background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
		/* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
		/* IE6-9 fallback on horizontal gradient */
	}
	&__black {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: rgba(0,0,0,.5);
	}
	&__video { 
		// position: fixed;
		// top: 50%;
		// left: 50%;
		// min-width: 100%;
		// min-height: 100%;
		// transform: translateX(-50%) translateY(-50%);
		// background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
		position: relative;
		width: 100%;
		@include min-responsive($mntablet) {
			background-size: cover;
			object-fit: cover;
			transition: 1s opacity;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -100;
		}
	}
	&__wraptitle {
		position: relative;
	}
	&__img {
		position: relative;
		width: 100%;
		padding: 0;
		margin: 0 auto;
		z-index: 3;
		// @include min-responsive($mntablet) {
		// 	padding: 0;
		// }
		&--title1 {
			z-index: 2;
			top: 35px;
			@include min-responsive($mntablet) {
				top: 70px;
			}
		}
		&--wrap {
			margin: 0 -6%;
			width: 112%;
			@include min-responsive($mntablet) {
				margin: -10vh 0 0;
				width: 100%;
			}
		}
	}
	&--title1--before {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0);
	}
	&--title2--before {
		opacity: 0;
		-webkit-transform: translate3d(0, 3000px, 0);
		transform: translate3d(0, 3000px, 0);
	}
	&--title1 {
		-webkit-animation: bounceInDown .5s linear;
		animation: bounceInDown .5s linear;
	}
	&--title2 {
		-webkit-animation: bounceInUp .5s linear;
		animation: bounceInUp .5s linear;
	}
}
