.is {
	&--scroll {
		.header {
			position: fixed;
			top: 0;
			z-index: 9;
			-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
			box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
		}
		.header__block {
			display: none;
		}
		.nav__stack {
			padding-left: 150px;
			// @include range-responsive($screen-sm-min, $screen-md-min) {
			// 	margin: 0 -10px;
			// }
			@include range-responsive($screen-sm-min, ($screen-md-min)-1) {
				padding-left: 10px;
				margin: 0 -10px;
			}
		}
		.nav__link {
			@include min-responsive($screen-md-min) {
				margin: 0 6px;
			}
		}
		.main {
			margin-top: 208px;
			@include range-responsive($screen-sm-min, $screen-md-min) {
				margin-top: 182px;
			}
		}
		.logo--small {
			visibility: visible;
			opacity: 1;
			@include range-responsive($screen-sm-min, ($screen-md-min)-1) {
				visibility: hidden;
				opacity: 0;
			}
		}
	}
	@include max-responsive(($screen-sm-min)-1) {
		&--stacked {
			position: fixed;
			width: 100%;
			left: 0;
			z-index: 6;
			&--bottom {
				@extend .is--stacked;
				bottom: 0;
				// &:after {
				// 	content: '';
				// 	position: absolute;
				// 	z-index: 1;
				// 	width: 100%;
				// 	height: 100%;
				// 	top: 0;
				// 	left: 0;
				// 	background: transparent;
				// }
			}
		}
	}
}