
@font-face {
    font-family: 'AvenirNext-Regular';
    src: url('../fonts/fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/fonts/AvenirNext-Regular.woff') format('woff'), url('../fonts/fonts/AvenirNext-Regular.ttf')  format('truetype'), url('../fonts/fonts/AvenirNext-Regular.svg#AvenirNext-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  

@font-face {
    font-family: 'AvenirNext-DemiBold';
    src: url('../fonts/fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/fonts/AvenirNext-DemiBold.woff') format('woff'), url('../fonts/fonts/AvenirNext-DemiBold.ttf')  format('truetype'), url('../fonts/fonts/AvenirNext-DemiBold.svg#AvenirNext-DemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'AvenirNext-Medium';
    src: url('../fonts/fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/fonts/AvenirNext-Medium.woff') format('woff'), url('../fonts/fonts/AvenirNext-Medium.ttf')  format('truetype'), url('../fonts/fonts/AvenirNext-Medium.svg#AvenirNext-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'AvenirNext-Bold';
    src: url('../fonts/fonts/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/fonts/AvenirNext-Bold.woff') format('woff'), url('../fonts/fonts/AvenirNext-Bold.ttf')  format('truetype'), url('../fonts/fonts/AvenirNext-Bold.svg#AvenirNext-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  