$bg_base: #ebebeb;

$font_vik: 'Black Ops One', cursive;
$font_vik2: 'Open Sans',sans-serif;
$font_body: 'AvenirNext-Regular', sans-serif;
$font_body_demi: 'AvenirNext-DemiBold', sans-serif;
$font_body_medium: 'AvenirNext-Medium', sans-serif;
$font_body_bold: 'AvenirNext-Bold', sans-serif;
$font_title: 'bebas_neue_regularregular', sans-serif;
$font_title2: 'bebas_neuebold', sans-serif;
$font_intro: 'Ubuntu', sans-serif;
$font_icon: 'icomoon';

$cl_primary: #2a2a2a;

$cl_orange: #E54210;
$cl_grey: #8c8c8c;
$cl_red: #FF0000;
$cl_white: #fff;
$cl_1: #72d0eb;
$cl_2: #f69100;
$cl_3: #ef477e;
$cl_4: #18527c;
$cl_5: #86C89A;

//  warna sosial media
$cl_fb: #3b5998;
$cl_tw: #4099FF;
$cl_gp: #d34836;
$cl_wa: #43d854;
$cl_ig: #405de6;
$cl_yt: #cd201f;
$cl_ln: #0077b5;

$cl_mugos1: #ef2178;
// $cl_mugos1: #ed008c;
$cl_mugos2: #56084f;
// $cl_mugos2: #812991;

$grid_desktop: 640px;
$grid_desktop_large: 900px;
$grid_mobile: 100%;

$size_small: 12.32px;

// break tablet
$mntablet: 768px; 
$mdtablet: 990px; 
$mxtablet: 1024px;

// sidr
$sidebar-width: 81%;
$sidebar-width-neg: -81%;

// bootstrap
//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
// $screen-md:                  992px !default;
$screen-md:                  1278px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1500px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         20px !default;
$grid-gutter-width-edge:    10px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (760px + $grid-gutter-width-edge) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
// $container-desktop:            (940px + $grid-gutter-width-edge) !default;
$container-desktop:            (1268px + $grid-gutter-width-edge) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1490px + $grid-gutter-width-edge) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;
