<div class="mnews mt2 clearfix">
	<div class="mnews__top">
		<div class="title title--schedule title--inline"><span>M</span>-News</div>
		<a href="mnews.html" class="button button--index pull--right">+index</a>
	</div>
	<div class="mnews__wrap">
		<ul class="mnews__row">
			<li class="mnews__item col-md-4 col-sm-4 col-offset-0">
				<a href="mnews_read.html" class="mnews__link" style="background-image: url('images/dummy/b179d225-4188-463c-87de-f16a24ba4782-jpg-1557661314.jpeg');">
					<div class="mnews__title--front">
						<span>Altra's First Smart Shoe Will Change The Way You Run</span>
					</div>
				</a>
			</li>
			<li class="mnews__item col-md-4 col-sm-4 col-offset-0">
				<a href="mnews_read.html" class="mnews__link" style="background-image: url('images/dummy/jurgen-klopp-jpg-1557813964.jpeg');">
					<div class="mnews__title--front">
						<span>The Great Tourism Squeeze: Tourists cruise into Akaroa in their droves</span>
					</div>
				</a>
			</li>
			<li class="mnews__item col-md-4 col-sm-4 col-offset-0">
				<a href="mnews_read.html" class="mnews__link" style="background-image: url('images/dummy/3765a61d-869e-4c0e-846d-177ee1f0345d-getty-997740432-jpg-1557820555.jpeg');">
					<span class="mnews__icon--video"></span>
					<div class="mnews__title--front">
						<span>WV Book Team: Celebrate books with Latin American roots</span>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
