<div class="header header--fixed clearfix">
	<div class="row container header__block clearfix">
		<div class="col-md-4">
			<!-- menu mobile -->
			<div class="menu menu--mobile clearfix">
				<a class="menu__main js-menu" id="js-menu" href="#sidr"><i></i></a>
			</div>
			<!-- logo -->
			<div class="logo">
				<a href="index.html" class="logo__img">
					<img src="images/logo.png" alt="" />
				</a>
			</div>
			<!-- login mobile -->
			<div class="menu menu--account clearfix">
				<a class="menu__account js-menu-login" id="js-menu-login" href="#js-mfp-login">
					<span class="icon-user"></span>
				</a>
			</div>
		</div>
		<div class="col-md-8">
			<!-- ads top -->
			<div class="ads ads__top">
				<img src="//placehold.it/728x90" />
			</div>
		</div>
	</div>
	<div class="nav__block clearfix">
		<div class="row container col-offset-0 clearfix">
			<div class="col-md-9 col-sm-9">
				<div class="logo logo--small">
					<a href="index.html" class="logo__img--small">
						<img src="images/logo.png" alt="" />
					</a>
				</div>
				<!-- nav -->
				<div class="nav" id="sidr-menu">
					<!-- <div class="nav__sidr">
						<div class="nav__sidr__menu">
							<div class="title">Menu</div>
							<img src="images/menu.png" alt="">
						</div>
						<div class="nav__sidr__close">
							<a href="#" class="nav__sidr__button nav__sidr__button--right js-menu-close"><span class="icon-arrow_back"></span></a>
						</div>
					</div> -->
					<ul class="nav__stack clearfix">
						<li class="nav__item"><a class="nav__link" href="index.html">Home</a></li>
						<li class="nav__item"><a class="nav__link" href="live.html">Live<span>Schedule</span></a></li>
						<li class="nav__item"><a class="nav__link" href="mnews.html">M-<span>News</span></a></li>
						<li class="nav__item"><a class="nav__link" href="mvideo.html">M-<span>Video</span></a></li>
						<li class="nav__item"><a class="nav__link" href="infopensi.html">M-<span>Concert</span></a></li>
						<li class="nav__item"><a class="nav__link" href="about.html">About</a></li>
						<li class="nav__item"><a class="nav__link" href="faq.html">FAQ</a></li>
						<li class="nav__item"><a class="nav__link" href="contact.html">Contact</a></li>
						<li class="nav__item"><a class="nav__link" href="gift.html">Gift<span>Shop</span></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="nav--account">

					<!-- login -->
					<ul class="nav--account__stack clearfix">
						<li class="nav--account__item"><a class="nav--account__link" href="register.html">Register</a></li>
						<li class="nav--account__item"><a class="nav--account__link js-login" href="#js-mfp-login" data-effect="mfp-zoom-in"><span class="icon-user"></span> Login</a></li>
					</ul>

					<div id="sidr-account">
						<!-- <div class="nav__sidr">
							<div class="nav__sidr__menu">
								<div class="title">Account</div>
								<img src="images/account.png" alt="">
							</div>
							<div class="nav__sidr__close">
								<a href="#" class="nav__sidr__button nav__sidr__button--left js-menu-close"><span class="icon-arrow_forward"></span></a>
							</div>
						</div> -->


						<!-- form login -->
						<div id="js-mfp-login" class="white-popup mfp-hide">
							<div class="login__form">
								<form action="profile.html" class="form--login">
									<div class="title title--inline title--clear"><span>Login</span></div>
									<div class="form__group clearfix">
										<input type="text" class="form__input col-xs-12" placeholder="Email address" />
									</div>
									<div class="form__group clearfix">
										<input type="password" class="form__input col-xs-12" placeholder="Password" />
									</div>
									<div class="form__group clearfix">
										<input type="submit" name="submit" class="form__button col-xs-12" value="Login" />
									</div>
									<div class="login__info">
										Not registered? <a href="register.html" class="">Create an account</a>
									</div>
								</form>
								<div class="login__sosmed">
									<div class="login__sosmed__title"><span>OR</span></div>
									<div class="login__sosmed__row clearfix">
										<a href="#" class="login__sosmed__link login__sosmed__link--facebook"><span class="icon-facebook"></span> Login with Facebook</a>
										<a href="#" class="login__sosmed__link login__sosmed__link--google-plus"><span class="icon-google-plus"></span> Login with Google+</a>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
