<div class="pensi clearfix">
	<div class="pensi__top">
		<div class="title title--schedule title--inline"><span>M-</span>Concert</div>
	</div>
	<div class="pensi__wrap clearfix">
		<div class="pensi__box clearfix">
			<a href="infopensi_read.html" class="pensi__link">
				<div class="pensi__img" style="background-image:url('images/dummy/8a0afe109044bd2ba2533a850a611f59b689d64d-jpg-1557944582.jpeg')"></div>
				<div class="pensi__title">Crevolution 8, Pensi SMAN 67 Jakarta</div>
				<div class="pensi__info">
					<div class="pensi__date">
						<span class="icon icon-time"></span> Rabu, 12 September 2019
					</div>
					<div class="pensi__location">
						<span class="icon icon-map"></span> Lapangan Blok S, Jl. Senopati. Jakarta Selatan
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
