.slick-slider {
    margin-bottom: 0;
}
.slick-prev,
.slick-next {
	top: 35%;
	z-index: 1;
}
.slick-next {
	right: 5px;
}
.slick-prev {
	left: 5px;
}
.slick-list {
	z-index: 2;
	position: relative;
}
.slick-prev::before, .slick-next::before {
	color: #000;
	font-size: 14px;
	line-height: 1;
	@include min-responsive($screen-md-min) {
		font-size: 14px;
	}
}
.slick-prev, .slick-next {
	top: 50%;
	height: auto;
	z-index: 3;
	border: 1px solid #3f3f3f;
	border-radius: 20px;
	width: 22px;
	height: 22px;
	display: none!important;
	@include min-responsive($screen-md-min) {
		display: inline-block!important;
		top: 50%;
	}
}
.trending__row {
	.slick-next {
		right: 0px;
		@include min-responsive($screen-md-min) {
			right: 5px;
		}
		&:before {
			content: '\e907';
			font-family: $font_icon;
		}
	}
	.slick-prev {
		left: unset;
		right: 25px;
		@include min-responsive($screen-md-min) {
			right: 30px;
		}
		&:before {
			content: '\e909';
			font-family: $font_icon;
		}
	}
}

/* slider schedule */
.schedule {
	.slick-prev,
	.slick-next {
		border: 1px solid transparent;
		width: auto;
		height: auto;
		padding: 0px 17px;
		border-radius: 100%;
		background: rgba(0,0,0,.2);
		display: inline-block!important;
		@include min-responsive($screen-sm-min) {
			//display: inline-block!important;
			padding: 0 15px;
			height: 100%;
			background: rgba(0,0,0,0);
		}
	}
	.slick-prev:before, 
	.slick-next:before {
		color: #fff;
		opacity: 1;
		font-size: 50px;
	}
	.slick-next {
		right: 0;
		// @include min-responsive($screen-md-min) {
		// 	right: 5px;
		//}
		&:before {
			content: '\f105';
			font-family: $font_icon;
		}
	}
	.slick-prev {
		left: 0;
		// @include min-responsive($screen-md-min) {
		// 	left: 5px;
		// }
		&:before {
			content: '\f104';
			font-family: $font_icon;
		}
	}		
}
.schedule__row.slick-slider {
	&:before,
	&:after {
		content: '';
		position: absolute;
		width: 50px;
		height: 100%;
		top: 0;
		background: rgba(0,0,0,0);
		//pointer-events: none;
		z-index: -1;
		@include min-responsive($screen-sm-min) {
			z-index: 2;
			background: rgba(0,0,0,.8);
		}
	}
	&:before {
		left: 0;
		@include min-responsive($screen-sm-min) {
			z-index: 3;
		}
	}
	&:after {
		right: 0;
	}
}