// default transisi
@mixin base_transition($t) {
	-webkit-transition: $t .2s ease;
	-moz-transition: $t .2s ease;
	-ms-transition: $t .2s ease;
	-o-transition: $t .2s ease;
	transition: $t .2s ease;
}
// border radius
@mixin border_radius($x) {
	-webkit-border-radius: $x;
	-moz-border-radius: $x;
	-ms-border-radius: $x;
	-o-border-radius: $x;
	border-radius: $x;
}
// skala
@mixin base_scale($x) {
    -ms-transform: scale($x); /* IE 9 */
    -webkit-transform: scale($x); /* Safari */
    transform: scale($x);
}
// reset style ul
@mixin reset_ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
// 100%
@mixin display_full {
	width: 100%;
	height: 100%;
}
// untuk overflow judul pada list berita
@mixin title_overflow($height, $max-height) {
	height: $height;
	max-height: $max-height;
	overflow: hidden;
}
// media
@mixin max-responsive ($media) {
  @media (max-width: $media) { @content; }
}
@mixin min-responsive ($media) {
  @media (min-width: $media) { @content; }
}
@mixin range-responsive ($media, $media2) {
  @media (min-width: $media) and (max-width: $media2) { @content; }
}
