<div class="mnews mt2 clearfix">
	<div class="mnews__top">
		<div class="title title--schedule title--inline"><span>M</span>-Video</div>
		<a href="mvideo.html" class="button button--index pull--right">+index</a>
	</div>
	<div class="mnews__video clearfix">
		<ul class="mnews__row clearfix">
			<li class="mnews__item col-md-3 col-sm-3 col-offset-0">
				<a href="mvideo_read.html" class="mnews__link">
					<div class="mnews__video__img" style="background-image: url('images/dummy/b179d225-4188-463c-87de-f16a24ba4782-jpg-1557661314.jpeg');">
						<span class="mnews__icon--video"></span>
						<span class="mnews__video__time">03:40</span>
					</div>
					<div class="mnews__video__title">
						<span>Altra's First Smart Shoe Will Change The Way You Run</span>
					</div>
				</a>
			</li>
			<li class="mnews__item col-md-3 col-sm-3 col-offset-0">
				<a href="mvideo_read.html" class="mnews__link">
					<div class="mnews__video__img" style="background-image: url('images/dummy/jurgen-klopp-jpg-1557813964.jpeg');">
						<span class="mnews__icon--video"></span>
						<span class="mnews__video__time">03:40</span>
					</div>
					<div class="mnews__video__title">
						<span>The Great Tourism Squeeze: Tourists cruise into Akaroa in their droves</span>
					</div>
				</a>
			</li>
			<li class="mnews__item col-md-3 col-sm-3 col-offset-0">
				<a href="mvideo_read.html" class="mnews__link" >
					<div class="mnews__video__img" style="background-image: url('images/dummy/4c05ae0e3837e064a370889b9756c6ea-jpg-1557659397.jpeg');">
						<span class="mnews__icon--video"></span>
						<span class="mnews__video__time">03:40</span>
					</div>
					<div class="mnews__video__title">
						<span>Iwan Fals Berbicara Mengenai Hudan dan Ibukota Baru</span>
					</div>
				</a>
			</li>
			<li class="mnews__item col-md-3 col-sm-3 col-offset-0">
				<a href="mvideo_read.html" class="mnews__link">
					<div class="mnews__video__img" style="background-image: url('images/dummy/3765a61d-869e-4c0e-846d-177ee1f0345d-getty-997740432-jpg-1557820555.jpeg');">
						<span class="mnews__icon--video"></span>
						<span class="mnews__video__time">03:40</span>
					</div>
					<div class="mnews__video__title">
						<span>WV Book Team: Celebrate books with Latin American roots</span>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
