<div class="footer footer--top clearfix">
	<div class="row container clearfix">
		<div class="col-md-4 col-sm-6">
			<div class="footer__logo">
				<img src="images/logo-footer.png" alt="">
			</div>
			<div class="footer__content">
				Livestreaming radio masakini. Menyajikan musik populer yang sedang hits ataupun yang pernah hits serta informasi seputar aktifitas selebriti. Interaktif dengan chat dan video call, "EVERYBODY CAN BE ON TV"
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="footer__sosmed share--center">
				<ul class="share__wrap clearfix">
					<li class="share__item">
						<a href="#" class="share__link share__link--footer share__link--facebook"><span class="icon-facebook"></span></a>
					</li>
					<li class="share__item">
						<a href="#" class="share__link share__link--footer share__link--google-plus"><span class="icon-google-plus"></span></a>
					</li>
					<li class="share__item">
						<a href="#" class="share__link share__link--footer share__link--twitter"><span class="icon-twitter"></span></a>
					</li>
					<li class="share__item">
						<a href="#" class="share__link share__link--footer share__link--youtube"><span class="icon-youtube"></span></a>
					</li>
					<li class="share__item">
						<a href="#" class="share__link share__link--footer share__link--instagram"><span class="icon-instagram"></span></a>
					</li>
					<li class="share__item">
						<a href="#" class="share__link share__link--footer share__link--linkedin"><span class="icon-linkedin"></span></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-4 col-sm-12">
			<div class="footer__form">
				<div class="title title--footer">Subscribe</div>
				<form action="#" class="form--footer">				
					<input type="text" class="form__input form__input--footer col-md-8 col-xs-8" placeholder="Email address" />
					<input type="submit" name="submit" class="form__button form__button--footer col-md-3 col-xs-3 js-popup" value="SEND" href="#js-mfp-popup" data-effect="mfp-zoom-in" />
				</form>
			</div>
		</div>
	</div>
</div>
<div class="footer footer--bottom clearfix">
	<div class="row container clearfix">
		<div class="col-md-6 col-sm-6">
			<ul class="footer__menu footer__menu--main clearfix">
				<li class="footer__menuitem">
					<a href="#" class="footer__link">HOME</a>
				</li>
				<li class="footer__menuitem">
					<a href="#" class="footer__link">LIVE SCHEDULE</a>
				</li>
				<li class="footer__menuitem">
					<a href="#" class="footer__link">ABOUT</a>
				</li>
				<li class="footer__menuitem">
					<a href="#" class="footer__link">CONTACT</a>
				</li>
			</ul>
		</div>
		<div class="col-md-6 col-sm-6 footer--right">
			<ul class="footer__menu clearfix">
				<li class="footer__menuitem">
					<a href="#" class="footer__link footer__link--light">Terms</a>
				</li>
				<li class="footer__menuitem">
					<a href="#" class="footer__link footer__link--light">Privacy</a>
				</li>
			</ul>
			<div class="footer__copy">&copy; Copyright Mugos Media 2017</div>
		</div>
	</div>
</div>

<!-- back top -->
<div class="back-top js-back-btn display--hide">
	<a id="js-back-top" href="#" class="button button--top"><span class="icon-arrow_upward"></span></a>
</div>


<!-- modal -->
<div id="js-mfp-popup" class="white-popup mfp-hide">
	<div class="modal__wrap clearfix">
		<div class="title title--live">Confirm</div>
		<div class="modal__content">
			Would you like to recieve dailly mail from us?
		</div>
		<div class="modal__action clearfix">
			<a href="#" class="button button--medium">Oke</a>
			<a href="#" class="button button--medium button--cancel js-popup-close">Cancel</a>
		</div>
	</div>
</div>

<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.sidr.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/main-rev.js"></script>
