<div class="most most--host clearfix">
	<div class="most__top">
		<div class="title title--schedule title--inline"><span>Top</span>Host</div>
	</div>
	<div class="most__wrap clearfix">
		<ul class="most__row clearfix">
			<li class="most__item clearfix">
				<div class="most__no">1</div>
				<div class="most__img">
					<img src="images/avatar-female.png" alt="">
				</div>
				<div class="most__info">
					<div class="most__name">Danilla Riyadi</div>
					<div class="most__point">12242 pt</div>
				</div>
			</li>
			<li class="most__item clearfix">
				<div class="most__no">2</div>
				<div class="most__img">
					<img src="images/avatar-male.png" alt="">
				</div>
				<div class="most__info">
					<div class="most__name">Anakin Skywalker</div>
					<div class="most__point">12242 pt</div>
				</div>
			</li>
			<li class="most__item clearfix">
				<div class="most__no">3</div>
				<div class="most__img">
					<img src="images/avatar-default.png" alt="">
				</div>
				<div class="most__info">
					<div class="most__name">Muhammad Khoirul Huda</div>
					<div class="most__point">12242 pt</div>
				</div>
			</li>
			<li class="most__item clearfix">
				<div class="most__no">4</div>
				<div class="most__img">
					<img src="images/avatar-female.png" alt="">
				</div>
				<div class="most__info">
					<div class="most__name">Raisa Andriana</div>
					<div class="most__point">12242 pt</div>
				</div>
			</li>
			<li class="most__item clearfix">
				<div class="most__no">5</div>
				<div class="most__img">
					<img src="images/avatar-male.png" alt="">
				</div>
				<div class="most__info">
					<div class="most__name">Raisyana Andriana Sarasvati</div>
					<div class="most__point">12242 pt</div>
				</div>
			</li>
		</ul>
	</div>
</div>
