/*balance*/
.balance--icon i {
    padding-right: 5px;
    font-size: 20px;
    vertical-align: text-top;
    color: #c78a00;
}
.table__wrap {
    overflow-x: scroll;
}
.table {
    padding: 10px;
    width: 100%;
    overflow-x: scroll;
    tr:hover {
        background: #f0f0f0;
    }
    th {
        background: #dfdfdf;
    }
    th,
    td {
        border: 1px solid #d8d8d8;
        text-align: center;
        padding: 5px;
        font-size: 12px;
        @include min-responsive($screen-sm-min) {
            padding: 10px;
            font-size: 13px;
        }
    }
}
