.button {
	position: relative;
	&--disabled {
		cursor: not-allowed;
		&:hover {
			// background: inherit;
		}
	}
	&--article {
		background: #0a2b38;
		padding: 10px 15px;
		font-size: 14px;
		color: #fff;
		border: none;
		border-radius: 5px;
		display: inline-block;
		&:hover {
			color: #fff;
			background: #0f5069;
		}
		@include min-responsive($screen-sm-min) {
			padding: 12px 30px;
			font-size: 18px;
		}
	}
	&--edit {
		&--avatar {
			display: inline-block;
			width: 100%;
			height: 100%;
			// background: rgba(0,0,0,.5);
			color: #fff;
			font-family: $font_body_demi;
			font-size: 12px;
			padding: 20px 15px;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			visibility: hidden;
			opacity: 0;
			&:hover {
				color: #fff;
			}
			span {
				display: block;
				font-size: 18px;
				padding: 5px 0;
			}
		}
	}
	&--unfollow,
	&--follow {
		border: none;
		display: inline-block;
		padding: 6px 12px;
		border-radius: 12px;
		text-align: center;
		background: #00cf70;
		color: #fff;
		font-family: $font_body_demi;
		font-size: 12px;
		margin-bottom: 5px;
		&:hover {
			color: #fff;
			background: darken(#00cf70, 7%);
		}
	}
	&--unfollow {
		background: #e4003b;
		&:hover {
			color: #fff;
			background: darken(#e4003b, 7%);
		}
	}
	&--compose {
		border: none;
		display: inline-block;
		padding: 10px 15px;
		border-radius: 15px;
		text-align: center;
		background: #344dd2;
		color: #fff;
		font-family: $font_body_demi;
		font-size: 14px;
		margin-bottom: 15px;
		&:hover {
			color: #fff;
			background: darken(#344dd2, 7%);
		}
	}
	&--more {
		display: block;
		margin: 0 auto;
		width: 120px;
		padding: 10px;
		border-radius: 5px;
		text-align: center;
		background: $cl_mugos1;
		color: #fff;
		font-family: $font_body_demi;
		font-size: 16px;
		&:hover {
			color: #fff;
			background: darken($cl_mugos1, 7%);
		}
	}
	&--standart {
		@extend .button--more;
		margin: 0;
	}
	&--medium {
		display: inline-block;
		margin: 0;
		width: 100px;
		min-width: 100px;
		padding: 8px;
		border-radius: 5px;
		text-align: center;
		color: #fff;
		font-family: $font_body_demi;
		font-size: 14px;
		background: $cl_mugos1;
		&:hover {
			color: #fff;
			background: darken($cl_mugos1, 7%);
		}
	}
	&--cancel {
		background: #999;
		&:hover {
			color: #fff;
			background: darken(#999, 7%);
		}
	}
	&--top {
		width: 36px;
		height: 36px;
		padding: 3px;
		margin: 0;
		line-height: 1;
		font-size: 26px;
		background: #ebebeb;
		border-radius: 30px;
		color: #000;
		text-align: center;
		vertical-align: middle;
		border: 0px solid #000;
		display: block;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
		&:hover {
			color: #fff;
			background: darken($cl_mugos1, 7%);
		}
	}
	&--index {
		display: block;
		padding: 5px;
		margin: 20px 10px 10px;
		font-size: 12px;
		font-family: $font_body_demi;
		color: #000;	
	}
}
