.chatbox {
	margin: 0 -10px 20px;
	background: #fff;
	@include min-responsive($screen-sm-min) {
		margin: 0 0 20px;
	}
	@include min-responsive($screen-md-min) {
		margin: 0 0 70px; 
	}
	&__wrap {
		position: relative;
		// @include reset_ul;
		// position: absolute;
		// width: 100%;
		// bottom: 0;
		// left: 0;
		// height: auto;
	}
	&__item {
		display: block;
		position: relative;
		float: left;
		padding: 10px 0 0;
		width: 100%;
		@include min-responsive($screen-sm-min) {
			padding: 10px 10px 0;
	    }
	}
	&__title {
		background: #fff;
		height: 50px;
		border-bottom: 1px solid #f0f0f0;
	}
	&__info {
		display: inline-block;
		float: right;
		padding: 10px;
	}
	&__label {
		text-align: center;
		span {
			display: inline-block;
			margin: 0 auto;
			padding: 0 0 5px 0;
			border-radius: 10px;
			color: $cl_mugos1;
			// background: #ffdbef;
			font-size: 11px;
		}
		i {
			font-style: normal;
			font-family: $font_body_demi;
		}
	}
	&__box {
		position: relative;
		height: auto;
		min-height: 280px;
		overflow-y: scroll;
		padding-bottom: 20px;
		@include min-responsive($screen-sm-min) {
			height: 380px;
		}
		@include min-responsive($screen-lg-min) {
			height: 455px;
		}
		@include range-responsive($screen-sm-min, $screen-md-min) {
			margin-bottom: 50px;
		}
	}
	&__form {
		position: relative;
		height: 50px;
		padding: 5px;
		border-top: 1px solid #f0f0f0;
		background: $cl_mugos1;
		@include min-responsive($screen-sm-min) {
			position: absolute;
			width: 100%;
			bottom: -30px;
			left: 0;
		}
		@include range-responsive($screen-sm-min, $screen-md-min) {
			bottom: 0;
		}
		@include min-responsive($screen-md-min) {
			bottom: 20px;
		}
		&--is {
			&--stacked {
				@include max-responsive($screen-sm-min) {
					position: fixed;
					width: 100%;
					bottom: 0;
					left: 0;
					z-index: 8;
				}
			}
		}
	}
	&__btn {
		//position: relative;
		//padding-left: 7px;
		position: absolute;
		top: 0;
		right: 5px;
		&:after {
			font-family: $font_icon;
			background: $cl_mugos2;
			content: '\e901';
			position: absolute;
			left: 0;
			top: 0;
			font-size: 22px;
			width: 35px;
			height: 35px;
			padding: 2px;
			text-align: center;
			border-radius: 20px;
			color: #fff;
			margin-top: 2px;
			@include min-responsive($screen-sm-min) {
				/*	font-size: 25px;
				width: 40px;
				height: 40px;
				padding: 4px;
				margin-top: 0;
				*/
			}
		}
		&:hover {
			&:after {
				background: darken($cl_mugos2, 5%);
			}
		}
	}
	&__userimg {
		width: 30px;
		height: 30px;
		border-radius: 40px;
		overflow: hidden;
		@include min-responsive($screen-sm-min) {
			width: 45px;
			height: 45px;
		}
	}
	&__message {
		padding: 10px 13px;
		background: #f0f0f0;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-o-border-radius: 5px;
		-webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
		box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
		display: inline-block;
		position: relative;
		margin-bottom: 5px;
		&:before {
			position: absolute;
			left: -8px;
			width: 10px;
			height: 10px;
			content: '\f0d9';
			font-family: $font_icon;
			color: #f0f0f0;
			font-size: 25px;
			top: 15px;
			text-shadow: -1px 2px 1px #e6e6e6;
			@include min-responsive($screen-sm-min) {
				font-size: 30px;
				top: 20px;
				left: -10px;
			}
		}
		&--full {
			width: 100%;
			&:before {
				content: '';
			}
		}
		&--clean {
			width: 100%;
			padding: 0;
			background: transparent;
			box-shadow: none;
			margin-bottom: 10px;
			&:before {
				content: '';
			}
			.chat-stamp-l {
				margin: 3px 0 0 12px;
			}
		}
	}
	&__sticker {
		width: 100px;
	}
	&__username {
		display: block;
		padding: 0 0 5px;
		font-family: $font_body_demi;
		color: #000;
		position: relative;
		&--inline {
			display: inline-block;
		}
	}
	// override
	&__item {
		&--sender {
			.chatbox__message {
				float: right;
				background: #dedede;
			}
			.chatbox__message--full {
				text-align: right;
				width: auto;
			}
			.chatbox__message:before {
				color: #dedede;
				left: auto;
				right: -10px;
				content: '\f0da';
			    text-shadow: 1px 2px 1px #e6e6e6;
			}
			.chatbox__message--full:before {
				content: '';
			}
		}
	}
}