.comment {
	&__item {
		padding: 15px 0 15px;
		border-bottom: 1px solid #d5d9e0;
		margin: 0 0 20px;
		@include min-responsive($screen-md-min) {
			padding: 15px 0 15px 16.777777777%
		}
	}
	&__detail {
		padding: 50px 0 20px;
		margin: 0 -10px;
		@include min-responsive($screen-md-min) {
			margin: 0;
		}
	}
	&__user {
		width: 60px;
		height: 60px;
		overflow: hidden;
		border-radius: 30px;
		float: left;
		margin-right: 10px;
		border: 1px solid #fff;
		&--reply {
			@include min-responsive($screen-md-min) {
				float: none;
				position: absolute;
				top: 0;
				left: -106px;
			}
		}
	}
	&__title {
		font-weight: 700;
		font-size: 18px;
		padding: 10px 0 20px;
	}
	&__username {
		font-weight: 600;
		font-size: 16px;
		padding: 5px 0 0;
		color: #2d3353;
		display: block;
		@include min-responsive($screen-md-min) {
			padding: 5px 0;
			display: inline-block;
		}
	}
	&__time {
		font-weight: 400;
		padding: 2px 0 0;
		font-size: 12px;
		color: #a6abbd;
		span {
			color: #a6abbd;
			vertical-align: baseline;
		}
		@include min-responsive($screen-md-min) {
			padding: 5px 10px;
		}
	}
	&__content {
		padding: 5px 0 10px;
		color: #000;
		line-height: 1.5;
		word-wrap: break-word;
	}
	&__bar {
		display: block;
		padding: 10px 0;
	}
	&__button {
		display: inline-block;
		padding: 5px 0;
		font-size: 12px;
		&:after {
			content: ' - ';
			padding: 0 5px;
		}
		&:last-child {
			&:after {
				content: '';
			}
		}
	}
	&__mobile {
		&--hide {
			display: none;
	        @include min-responsive($screen-md-min) {
	        	display: block;
	        }
		}
	}
}