/*emoji*/
.chatbox__emoji {
    position: absolute;
    top: 0;
    right: 120px;
    z-index: 1;
}
.emoji {
    &__btn {
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 auto;
        padding: 5px;
        text-align: center;
        color: #fff;
        position: absolute;
        left: 2px;
        top: 0;
    }
    &__btn--active:after {
        font-family: "icomoon";
        color: #fff;
        position: absolute;
        height: 55px;
        top: -52px;
        right: -3px;
        z-index: 1;
        font-size: 80px;
        line-height: 1;
        content: '\f0d7';
        -webkit-text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
        text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    }
    &__btn:hover {
        color: #fff;
    }
    &__btn span {
        font-size: 30px;
    }
    &__table {
        background: #fff;
        position: absolute;
        bottom: 20px;
        right: -115px;
        width: 300px;
        height: 180px;
        visibility: visible;
        opacity: 1;
        @include base_transition(all);
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        /*z-index: 10;*/
        @include min-responsive($screen-sm-min) {
            right: -110px;
            width: 400px;
            height: 200px;
        }
        &--hide {
            visibility: hidden;
            opacity: 0;
        }
    }
    &__wrap {
        margin-top: 6px;
        height: 170px;
        width: 100%;
        position: relative;
        overflow-y: scroll;
        @include min-responsive($screen-sm-min) {
            height: 190px;
        }
    }
    &__content {
        padding: 10px;
    }
    &__item {
        float: left;
        padding: 5px;
        width: 14.2857143%;
        text-align: center;
        font-size: 30px;
        line-height: 1;
    }
}
.chatbox__avatar {
    position: absolute;
    bottom: 30px;
    left: 10px;
    padding: 10px;
    background: #fff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    visibility: hidden;
    border-radius: 40px;
    opacity: 0;
    @include base_transition(all);
    /*  visibility: visible;
  opacity: 1;
*/
}
.chatbox__avatar:before {
    font-family: "icomoon";
    color: #fff;
    position: absolute;
    bottom: -21px;
    left: 14px;
    z-index: 1;
    font-size: 40px;
    line-height: 1;
    content: '\f0d7';
    -webkit-text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
    .chatbox__avatar:before {
        left: 21px;
    }
}
.js-chatbox-avatar {
    cursor: pointer;
}
/*.chatbox__avatar--hide {
}*/
.chatbox__userimg a {
    display: block;
}
.js-chatbox-avatar:hover .chatbox__avatar {
    visibility: visible;
    opacity: 1;
}