/*faq*/
.faq {
    background: #fff;
    padding: 20px;
    margin: 0 -15px 20px;
    @include min-responsive($screen-sm-min) {
        margin: 0 0 20px;
        padding: 20px 30px;
    }
    &__item {
        padding: 0 0 25px;
        margin: 0 0 20px;
        border-bottom: 1px solid #f0f0f0;
        &:last-child {
            border: none;
            margin: 0;
        }
    }
    &__question {
        font-size: 20px;
		font-family: $font_body_bold;
        padding: 10px 0;
        color: #56084f;
    }
    &__answer {
        font-size: 14px;
        line-height: 1.5;
        span {
            font-size: 20px;
            font-family: $font_body_bold;
            color: #ef2178;
        }
    }
}
