.form {
	position: relative;
	&__group {
		margin: 0 0 10px;
		span {
			display: block;
			font-size: 16px;
			font-family: $font_body_demi;
			color: #56084f;
			padding: 5px 0;
		}
	}
	&__input {
		display: block;
		// width: 100%;
		height: 40px;
		padding: 6px 12px;
		font-size: 16px;
		line-height: 1.42857143;
		color: #85949a;
		background-color: #fff;
		background-image: none;
		border: 1px solid #b7c4c8;
		border-radius: 4px;
		@include base_transition(all);
		// &--search {
		// 	padding: 6px 10px;
		// 	border: 1px solid #c4c3c9;
		// 	color: #999;
		// 	background-color: #e8eff2;
		// }
		&:focus {
			font-size: 16px;
			border: 1px solid $cl_mugos2;
			-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.2);
					box-shadow: 0px 0px 5px rgba(0,0,0,.2);
		}
		&--chat {
			border: transparent;
			background: #f0f0f0;
			color: #000;
			width: 100%;
			&::placeholder {
				color: #000;
			}
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: #000;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: #000;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: #000;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: #000;
			}
			&:focus {
				border: transparent;
				box-shadow: none;
				-webkit-box-shadow: none;
			}
		}
		&--footer {
			// border-radius: 0px;
			background: lighten($cl_mugos2, 10%);
			color: #fff;
			border: transparent;
			margin-right: 5px;
			&::placeholder {
				color: #fff;
			}
			&:focus {
				border: transparent;
			}
		}
	}
	&__option {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none; 
		display: block;
		// width: 100%;
		height: 40px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #85949a;
		background-color: #fff;
		background-image: none;
		border: 1px solid #b7c4c8;
		border-radius: 4px;
		margin: 0 10px 0 0;
		@include base_transition(all);
		&:focus {
			outline: 0;
			border: 1px solid $cl_mugos2;
			-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.2);
					box-shadow: 0px 0px 5px rgba(0,0,0,.2);
		}
	}
	&__textarea {
		outline: 0;
		min-height: 100px;
		max-width: 100%;
		display: block;
		width: 100%;
		padding: 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #85949a;
		background-color: #fff;
		background-image: none;
		border: 1px solid #b7c4c8;
		border-radius: 4px;
		@include base_transition(all);
		&:focus {
			border: 1px solid #818a8d;
			-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.2);
					box-shadow: 0px 0px 5px rgba(0,0,0,.2);
		}
		// &--reply {
		// 	min-height: 30px;
		// 	background: #e8eff1;
		// 	color: #999;
		// 	border: 1px solid transparent;
		// }
		// &--message {
		// 	min-height: 200px;
		// }
	}
	&__radio {
		height: 30px;
		display: inline-block;
		padding: 5px 0;
		position: relative;
		font-size: 16px;
		input {
			visibility: hidden;
		}
		i {
			position: relative;
			&:before {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				margin-right: 10px;
				position: absolute;
				left: -22px;
				top: 0px;
				background-color: transparent;
				border: 1px solid #6b007d;
				border-radius: 16px;
			}
		}
		input[type="radio"]:checked + i:before {
			background: #6b007d;
			content: '\f00c';
			line-height: 1;
			color: #fff;
			font-family: $font_icon;
			font-style: normal;
			font-size: 15px;
			text-align: center;
			line-height: 19px;
		}
	}
	&__file {
		height: 40px;
		padding: 10px 0;
	}
	&__button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none; 
		outline: 0;
		cursor: pointer;
		background: $cl_mugos1;
		padding: 9px 15px;
		font-size: 14px;
		font-family: $font_body_demi;
		color: #fff;
		border: none;
		border-radius: 5px;
		height: 40px;
		@include base_transition(all);
		&:hover {
			background: darken($cl_mugos1, 10%);
		}
		// &--search {
		// 	-webkit-appearance: none;
		// 	appearance: none;
		// 	border: none;
		// 	cursor: pointer;
		// 	color: transparent;
		// 	width: 35px;
		// 	height: 40px;
		// 	padding: 0;
		// 	position: absolute;
		// 	top: 0;
		// 	right: 0;
		// 	background: transparent;
		// 	z-index: 2;
		// 	&:hover {
		// 		background: transparent;
		// 	}
		// }
		&--chat {
			width: 35px;
			height: 35px;
			border-radius: 20px;
			background: transparent;
			cursor: pointer;
			position: relative;
			z-index: 1;
			margin-top: 2px;
			&:hover {
				background: transparent;
			}
			@include min-responsive($screen-sm-min) {
				//width: 40px;
				//height: 40px;
				margin-top: 0;
			}
		}
		&--footer {
			height: 40px;
			// border-radius: 0px;
			background: $cl_mugos1;
		}
	}
	&--error {
		.form__radio i:before,
		select,
		input {
			border: 1px solid #f00;
		}
		label {
			display: block;
			padding: 5px;
			float: left;
			width: 100%;
			color: #f00;
			font-size: 13px;
		}
	}
	&--disabled {
		background: #f0f0f0;
		&:focus {
			border: 1px solid #b7c4c8;
		}
	}
	&--chat {
		position: relative;
		padding: 0 120px 0 0;
	}
}