.share--read .share__item {
    display: inline-block;
    margin: 0 5px 5px;
}
.share--read .share__link {
    padding: 10px;
    font-size: 16px;
    line-height: 1;
    border-radius: 40px;
    width: 40px;
    height: 40px;
}
.share--read .share__link span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    width: auto;
    height: auto;
}
/*gift*/
.chat__box {
    text-align: center;
}
.chatbox__gift {
    position: absolute;
    top: 0;
    right: 85px;
    z-index: 1;
}
.gift {
    &__btn {
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 auto;
        padding: 5px;
        text-align: center;
        color: #fff;
        position: absolute;
        left: 2px;
        top: 0;
        &:hover {
            color: #fff;
        }
        &--active {
            color: #fff;
            &:after {
                font-family: "icomoon";
                color: #fff;
                position: absolute;
                height: 55px;
                top: -52px;
                right: -3px;
                z-index: 1;
                font-size: 80px;
                line-height: 1;
                content: '\f0d7';
                -webkit-text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
                text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
            }
        }
        span {
            font-size: 30px;
        }
    }
    &__table {
        background: #fff;
        position: absolute;
        bottom: 20px;
        right: -80px;
        width: 300px;
        height: 250px;
        visibility: visible;
        opacity: 1;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        /*z-index: 10;*/
        @include min-responsive($screen-sm-min) {
            right: -80px;
            width: 400px;
            height: 200px;
        }
        &--hide {
            visibility: hidden;
            opacity: 0;
        }
    }
    &__top {
        background: #f0f0f0;
    }
    &__category {
        position: relative;
        &__item {
            display: inline-block;
            float: left;
        }
        &__link {
            padding: 10px 20px;
            display: block;
            font-size: 14px;
            font-family: $font_body_demi;
            &--active {
                background: #fff;
            }
        }
    }
    &__wrap {
        height: 100%;
        width: 100%;
        position: relative;
    }
    &__content {
        margin-top: 6px;
        height: 200px;
        width: 100%;
        position: relative;
        overflow-y: scroll;
        @include min-responsive($screen-sm-min) {
            margin-top: 6px;
            height: 75%;
        }
    }
    &__icon__item {
        float: left;
        padding: 7px;
        width: 20%;
        @include min-responsive($screen-sm-min) {
            padding: 15px;
        }
    }
}
/*gift*/
.giftstore {
    background: transparent;
    &__wrap {
        margin: 0 -10px;
        @include min-responsive($screen-sm-min) {
            margin: 0 -10px;
        }
    }
    &__bg {
        background: #fff;
    }
    &__title {
        text-align: center;
        font-size: 16px;
		font-family: $font_body_bold;
        padding: 0;
        margin: 0 0 10px;
        @include min-responsive($screen-sm-min) {
            height: 22px;
            overflow: hidden;
        }
    }
    &__img {
        padding: 10px;
        text-align: center;
    }
    &__coin {
        text-align: center;
        font-size: 14px;
        padding: 10px 0;
        color: #000;
        span {
            padding-right: 5px;
            color: #c78a00;
        }
    }
    &__info {
        margin: 0 0 20px;
        padding: 0 0 20px;
    }
    &__topup {
        display: block;
        margin: 0 auto;
        width: 100px;
        padding: 7px;
        background: #ef2178;
        font-size: 14px;
        font-family: $font_body_demi;
        color: #fff;
        border-radius: 5px;
        text-align: center;
        &:hover {
            background: #b70969;
            color: #fff;
        }
    }
    &__side {
        background: #fff;
        text-align: left;
        padding: 20px;
    }
}
