@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bwby9h');
  src:  url('../fonts/icomoon.eot?bwby9h#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bwby9h') format('truetype'),
    url('../fonts/icomoon.woff?bwby9h') format('woff'),
    url('../fonts/icomoon.svg?bwby9h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quotes-right:before {
  content: "\e900";
}
.icon-quotes-left:before {
  content: "\e901";
}
.icon-ig:before {
  content: "\e49c";
}
.icon-tw:before {
  content: "\e49d";
}
.icon-in:before {
  content: "\e4cf";
}
.icon-wa:before {
  content: "\e605";
}
.icon-kompas-bw:before {
  content: "\e611";
}
.icon-fb:before {
  content: "\e614";
}
.icon-gp2:before {
  content: "\e904";
}
.icon-play:before {
  content: "\e906";
}
.icon-search:before {
  content: "\f002";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-plus-circle:before {
  content: "\f055";
}
.icon-minus-circle:before {
  content: "\f056";
}
.icon-forward:before {
  content: "\f064";
}
.icon-menu:before {
  content: "\f0c9";
}
.icon-angle-double-up:before {
  content: "\f102";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-share:before {
  content: "\f1e0";
}

