.login {
	&__form {
		padding: 0 20px;
		background: #f0f0f0;
		@include min-responsive($screen-sm-min) {
			background: #fff;
			padding: 50px;
		}
	}
	&__info {
		text-align: center;
		a {
			color: $cl_mugos1;
			&:hover {
				color: $cl_mugos2;
			}
		}
	}
	&__sosmed {
		position: relative;
		&__row {
			padding: 0;
			@include min-responsive($screen-sm-min) {
				margin: 0 -1%;
			}
		}
		&__title {
			position: relative;
			text-align: center;
			padding: 20px 0;
			// @include min-responsive($screen-sm-min) {
				// padding: 30px 0;
			// }
			span {
				position: relative;
				background: #fff;
				padding: 5px 10px;
				z-index: 2;
				color: #999;
				@include min-responsive($screen-sm-min) {
					background: #fff;
				}
			}
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				bottom: 28px;
				left: 0;
				border-bottom: 1px solid #f1f1f1;
				z-index: 1;
				// @include min-responsive($screen-sm-min) {
				// 	border-bottom: 1px solid #f1f1f1;
				// 	// bottom: 38px;
				// }
			}
		}
		&__link {
			display: block;
			padding: 11px 20px;
			text-align: center;
			margin: 0 0 10px;
			border-radius: 5px;
			color: #fff;
			@include min-responsive($screen-sm-min) {
				float: left;
				width: 48%;
				margin: 0 1%;
			}
			span {
				display: inline-block;
				margin-right: 5px;
				vertical-align: middle;
			}
			&:hover {
				color: #fff;
			}
			&--facebook {
				background: $cl_fb;
				&:hover {
					background: darken($cl_fb, 10%);
				}
			}
			&--google-plus {
				background: $cl_gp;
				&:hover {
					background: darken($cl_gp, 10%);
				}
			}
		}
	}
}