.message {
	position: relative;
	margin: 0 0 20px;
	&--detail {
		&__sender {
			padding: 0;
			font-size: 18px;
			font-weight: 600;
			span {
				font-size: 14px;
				font-weight: 300;
			}
		}
		&__date {
			font-size: 11px;
			padding: 0;
			color: #9ba1a3;
		}
		&__content {
			background: #fff;
			border: 1px solid #cfd9dc;
			border-radius: 5px;
			// border-bottom: 1px solid #cfd9dc;
			padding: 20px 15px 40px;
			margin: 20px 0 20px;
			@include min-responsive($screen-md-min) {
				padding: 20px 20px 40px;
			}
		}
		&__img {
			float: left;
			margin-right: 10px;
			width: 50px;
			height: 50px;
			overflow: hidden;
			border-radius: 50px;
			&--reply {
				display: none;
				@include min-responsive($screen-md-min) {
					display: block;
				}
			}
		}
	}
	&__wrap {
	    width: 100%;
	    position: relative;
		background: #fff;
		@include min-responsive($screen-sm-min) {
			border-radius: 5px;
			overflow: hidden;
		}
	}
	&__item {
		width: 100%;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid #f0f0f0;
		position: relative;
		@include base_transition(all);
		&:hover {
			background: #e9e9e9;
		}
		&:last-child {
			border-bottom: transparent;
		}
		&--unread {
			background: #f0f0f0;
		}
	}
	&__link {
		padding: 15px 40px 15px 0;
		display: block;
		&:hover {
			color: inherit;
		}
		@include min-responsive($screen-md-min) {
			padding: 15px 0;
		}
	}
	&__sender {
		font-weight: 700;
		font-size: 15px;
		padding: 5px 0;
		@include min-responsive($screen-md-min) {
			padding: 0 5px;
		}
	}
	&__action {
		position: absolute;
		font-size: 20px;
		line-height: 1;
		padding: 5px 8px;
		color: #fff;
		border-radius: 5px;
		&--delete {
			background: #df1b4e;
			right: 10px;
			top: 15px;
			@include min-responsive($screen-sm-min) {
				top: 10px;
			}
		}
		&:hover {
			color: #fff;
			background: darken(#df1b4e, 7%);
		}
	}
	&__compose {
		&__img {
			width: 40px;
			height: 40px;
			overflow: hidden;
			border-radius: 20px;
		}
	}


	&__box {
		border-radius: 5px;
		padding: 10px 15px;
		position: relative;
		margin: 0 -10px;
		border: 1px solid #fff;
		@include base_transition(all);
		@include min-responsive($screen-md-min) {
			padding: 10px 15px 10px 80px;
			margin: 0;
		}
		&--unread {
			background: #f0f0f0;
			border: 1px solid #cfd9dc;
		}
	}
	&__userphoto {
		width: 50px;
		height: 50px;
		overflow: hidden;
		border: 2px solid #fff;
		border-radius: 40px;
		margin-right: 5px;
		float: left;
		@include min-responsive($screen-sm-min) {
			margin-right: 15px;
			// padding-left: 0 0 0 70px;
			width: 60px;
			height: 60px;
			position: absolute;
			top: 10px;
			left: 10px;
			float: none;
		}
	}
	&__username {
		font-size: 16px;
		font-weight: 700;
		color: #000;
		display: inline-block;
	}
	&__date {
		padding: 5px 0;
		font-size: 12px;
		color: #999;
		@include min-responsive($screen-md-min) {
			padding: 0;
		}
	}
	&__img {
		padding: 10px 0;
	}
	&__content {
		// font-weight: 300;
		// font-size: 24px;
		// padding-bottom: 5px;
		color: #49565b;
	}
}

