.modal {
	position: relative;
	&__wrap {
		padding: 20px;
		@include min-responsive($screen-sm-min) {
			padding: 20px;
		}
	}
	&__content {
		padding: 10px 0 30px;
	}
	&__action {
		border-top: 1px solid #dfdfdf;
		padding: 20px 0 0;
		text-align: right;
		.button {
			margin: 0 0 0 5px;
		}
	}
}