.most {
    position: relative;
    margin: 0 -10px 20px;
    background: #fff;
    @include min-responsive($screen-sm-min) {
        margin: 0 0 20px;
    }
    &__top {
        background: #fff;
    }
    &__wrap {
        position: relative;
    }
    &__row {
        position: relative;
        padding: 0 0 20px;
    }
    &__item {
        position: relative;
        padding: 11px 0 11px 60px;
        @include min-responsive($screen-sm-min) {
            padding: 11px 0 11px 70px;
        }
    }
    &__no {
        position: absolute;
        font-size: 30px;
		font-family: $font_body_bold;
        font-style: italic;
        color: #dfdfdf;
        left: 20px;
        @include min-responsive($screen-sm-min) {
            left: 30px;
        }
    }
    &__img {
        float: left;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50px;
    }
    &__info {
        width: 80%;
        float: left;
        padding: 0 0 0 20px;
    }
    &__name {
        font-size: 16px;
		font-family: $font_body_demi;
        padding: 0 0 5px;
    }
    &__point {
        font-size: 12px;
    }
}
