/* update */

.mnews {
	position: relative;
	margin: 0 -10px 20px;
	@include min-responsive($screen-sm-min) {
		margin: 0 0 40px;
	}
	&__top {
		background: #fff;
	}
	&__wrap {
		position: relative;
	}
	&__item {
		position: relative;
	}
	&__link {
		height: 200px;
		display: block;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		position: relative;
		color: #fff;
		font-size: 16px;
		&:hover {
			color: #fff;
		}	
		@include min-responsive($screen-sm-min) {
			height: 180px;
		}
	}
	&__title {
		&--front span {
				display: block;
				padding: 0 15px;
				margin: 15px 0;
				max-height: 132px;
				overflow: hidden;
				font-family: $font_body_bold;
		}
		&--front {
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			@include base_transition(all);
			z-index: 2;		
		}
	}
	&__link {
		.mnews__title--front {
			    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#56084f+0,56084f+40,56084f+100&0+0,0.6+40,1+100 */
				background: -moz-linear-gradient(top, rgba(86, 8, 79, 0) 0%, rgba(86, 8, 79, 0.6) 40%, rgba(86, 8, 79, 1) 100%);
				/* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(86, 8, 79, 0) 0%, rgba(86, 8, 79, 0.6) 40%, rgba(86, 8, 79, 1) 100%);
				/* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(86, 8, 79, 0) 0%, rgba(86, 8, 79, 0.6) 40%, rgba(86, 8, 79, 1) 100%);
				/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0056084f', endColorstr='#56084f', GradientType=0);
				/* IE6-9 */			
		}
		&:hover .mnews__title--front {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2f042b+0,2f042b+40,2f042b+100&0+0,0.6+40,1+100 */
			background: -moz-linear-gradient(top, rgba(47, 4, 43, 0) 0%, rgba(47, 4, 43, 0.6) 40%, rgba(47, 4, 43, 1) 100%);
			/* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(47, 4, 43, 0) 0%, rgba(47, 4, 43, 0.6) 40%, rgba(47, 4, 43, 1) 100%);
			/* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(47, 4, 43, 0) 0%, rgba(47, 4, 43, 0.6) 40%, rgba(47, 4, 43, 1) 100%);
			/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f042b', endColorstr='#2f042b', GradientType=0);
			/* IE6-9 */			
		}
	}
	&__article {
		position: relative;
		background: #fff;
		margin: 0 0 25px;
		&__link {
			display: block;
			position: relative;
			color: $cl_mugos2;
		}	
		&__wrap {
			padding: 20px 5px;
			@include min-responsive($screen-sm-min) {
				padding: 20px;
			}
		}
	}
	&__subtitle {
		text-transform: uppercase;
		font-size: 13px;
		font-family: $font_body_medium;
		color: $cl_mugos1;
	}
	&__title {
		font-size: 22px;
		margin: 10px 0;
		font-family: $font_body_bold;
		//letter-spacing: -0.030em;	
		@include min-responsive($screen-sm-min) {
			font-size: 24px;
			max-height: 65px;
			overflow: hidden;
		}
	}
	&__img {
		min-height: 200px;
		background-repeat: none;
		background-size: cover;
		background-position: center center;
		position: relative;	
		@include min-responsive($screen-sm-min) {
			min-height: 240px;
		}
	}
	&__info {
		position: relative;
		padding: 3px 0;
		color: #666;	
	}
	&__author {
		display: block;
		//font-size: 12px;
		color: #000;
		font-family: $font_body_demi;
		padding: 0 0 10px;	
		@include min-responsive($screen-sm-min) {
			padding: 0;
			display: inline-block;
		}
		span {
			color: #666;
			font-family: $font_body;
			padding: 0 4px 0 0;		
		}
	}
	&__date {
		display: inline-block;
		//font-size: 12px;
		padding: 5px 10px 0 0;	
		@include min-responsive($screen-sm-min) {
			padding: 0 15px;
		}
	}
	&__comment {
		//font-size: 12px;
		display: inline-block;
	}
	&__lead {
		margin: 10px 0 0;
		line-height: 1.4;
		font-size: 16px;
		@include min-responsive($screen-sm-min) {
			max-height: 67px;
			overflow: hidden;
		}
	}
	&__icon {
		&--video {
			position: absolute;
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			@include base_transition(all);
			width: 75px;
			height: 75px;
			z-index: 1;
			opacity: .8;
			&:before {
				content: "";
				position: absolute;
				width: 75px;
				height: 75px;
				border-radius: 75px;
				background: #ef2178;
			}
			&:after {
				content: "";
				position: absolute;
				top: 19px;
				left: 24px;
				border-style: solid;
				border-width: 18px 0 18px 36px;
				border-color: transparent transparent transparent #fff;			
			}
		}
	}
	&__article {
		&__link {
			&:hover {
				.mnews__icon--video {
					opacity: 1;
				}
			}
		}
    }
    &--archive {
        padding: 0 20px;
        margin: 0 -10px 20px;
        background: #fff;
        @include min-responsive($screen-sm-min) {
            padding: 0 30px;
            margin: 0 0 20px;
        }
        .mnews__img {
            min-height: 200px;
            @include min-responsive($screen-sm-min) {
				min-height: 100px;
            }
            @include range-responsive($screen-sm-min, $screen-md-min) {
				min-height: 150px;
            }
        }
		.mnews__article {
			margin: 0 -20px 25px;
			@include min-responsive($screen-sm-min) {
				margin: 0 0 20px;
			}
		}
		.mnews__article__wrap {
			padding: 0;
		}
		.mnews__title {
			font-size: 20px;
			margin: 10px 0;
			padding: 0;
			@include min-responsive($screen-sm-min) {
				font-size: 14px;
				padding: 0 10px;
				margin: 0 0 10px;
				max-height: 56px;
				overflow: hidden;
			}
			@include range-responsive($screen-sm-min, $screen-md-min) {
				font-size: 20px;
				max-height: 75px;
				overflow: hidden;
			}
		}
		.mnews__date {
			padding: 0 10px;
		}
		.mnews__info {
			margin: 0 -10px;
			@include min-responsive($screen-sm-min) {
				padding: 0;
				margin: 0;
			}
		}
		@include min-responsive($screen-md-min) {
			.mnews__icon--video:before,
			.mnews__icon--video {
				width: 40px;
				height: 40px;
			}
			.mnews__icon--video:after {
				top: 10px;
				left: 13px;
				border-width: 10px 0 10px 20px;
			}
		}
		.mnews__article__link {
			color: #2a2a2a;
			&:hover {
				color: $cl_mugos2;
			}
		}
    }
	&__header {
		background: #fff;
		padding: 20px 10px 0;
		margin: 0 -10px;
		& > div {
			text-align: center;
		}
		@include min-responsive($screen-sm-min) {
			margin: 0;
		}
		&__title {
			margin: 0 10px 20px;
			font-size: 26px;
			line-height: 32px;
			font-family: $font_body_bold;
			letter-spacing: -0.02em;
			//letter-spacing: -0.030em;
			color: $cl_mugos2;
			@include min-responsive($screen-sm-min) {
				font-size: 30px;
				line-height: 42px;
				padding: 0 60px;
			}
			@include min-responsive($screen-md-min) {
				line-height: 45px;
				font-size: 40px;
				margin: 20px 60px;
				padding: 0;
			}
		}
		&__subtitle {
			padding: 0 0 20px;
			font-size: 16px;
			line-height: normal;
			@include min-responsive($screen-sm-min) {
				font-size: 18px;
			}
		}
		&__info {
			margin: 0 0 20px;
			@include min-responsive($screen-sm-min) {
				margin: 0 20px 20px;
			}
		}
		&__share {
			margin: 0 0 20px;
			@include min-responsive($screen-sm-min) {
				margin: 0 20px 20px;
			}
		}
	}
	&__media {
		margin: 0 -10px;
		.title {
			font-size: 14px;
			text-transform: inherit;
			padding: 5px 20px;
			color: #999;
			font-family: $font_body_medium;
			&:empty {
				padding: 0;
			}
		}
		img {
			width: 100%;
		}
		iframe {
			width: 100%;
		}
		.video {
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 25px;
			height: 0;
			margin: 0;
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;			
			}		
		} 
	}
	&__read {
		position: relative;
		background: #fff;
		padding: 0 20px 30px;
		margin: 0 -10px;
		@include min-responsive($screen-sm-min) {
			margin: 0;
			padding: 0 70px 30px;
		}
		.mnews__media {
			margin: 0 -20px;
		}
		.pensi__info > div {
			margin: 10px 0;
		}
		.pensi__info {
			font-family: $font_body_demi;
			padding: 25px 0 0 20px;
			font-size: 16px;
			@include min-responsive($screen-sm-min) {
				padding: 30px 0 0 25px;
				font-size: 18px;
				.icon {
					left: -25px;
					width: 16px;
					height: 20px;
				}
			}
		}
	}
	&__content {
		padding: 20px 0 0;
		line-height: 1.8;
		font-size: 16px;
		@include min-responsive($screen-sm-min) {
			font-size: 18px;
		}
		p {
			font-size: 16px;
			@include min-responsive($screen-sm-min) {
				font-size: 18px;
			}
		}
		b, strong {
			font-family: $font_body_bold;
		}
	}
	&__tag {
		position: relative;
		margin: 20px 0;
		&__wrap {
			position: relative;
		}
		&__item {
			position: relative;
			display: inline-block;
			margin: 0 5px 10px 0;
		}
		&__link {
			display: block;
			padding: 10px;
			background: #dfdfdf;
		}
	}
	&__video {
		position: relative;
		padding: 0 10px 25px;
		background: #fff;
		// @include min-responsive($screen-sm-min) {
		// 	padding: 0 10px 25px;
		// }
		&__title {
			color: #2a2a2a;
			font-size: 16px;
			font-family: $font_body_demi;
			max-height: none;
			overflow: hidden;
			//padding: 0 10px;
			@include min-responsive($screen-sm-min) {
				font-size: 14px;
				max-height: 56px;
				//padding: 0;
			}
		}
		&__img {
			position: relative;
			width: 100%;
			height: 160px;
			margin: 0 0 7px;
			background-size: cover;
			background-position: center center;
			@include min-responsive($screen-sm-min) {
				height: 120px;
			}
		}
		&__time {
			position: absolute;
			z-index: 1;
			bottom: 2px;
			right: 2px;
			line-height: 1;
			font-size: 12px;
			color: #fff;
			background: #000;
			padding: 4px 5px;
			border-radius: 5px;
		}
		.mnews__link {
			height: auto;
			//@include min-responsive($screen-md-min) {
				//height: 120px;
			//}
		}
		.mnews__item {
			padding: 0 0 20px;
			@include min-responsive($screen-sm-min) {
				padding: 0 2px;
			}
		}
		.mnews__icon--video {
			opacity: .7;
			@include min-responsive($screen-sm-min) {
				-webkit-transform: translate(-50%, -50%) scale(.65);
				transform: translate(-50%, -50%) scale(.65);
			}
		}
		.mnews__link:hover {
			.mnews__icon--video {
				opacity: .9;
			}
			.mnews__video__title {
				color: $cl_mugos2;
				@include base_transition(all);
			}
		}
	}
	&--infopensi {
		// .mnews__img {
		// 	min-height: 200px;
		// 	@include min-responsive($screen-sm-min) {
		// 		min-height: 250px;
		// 	}
		// }
		.mnews__subtitle {
			color: #2a2a2a;
		}
		.mnews__title {
			margin: 12px 0;
		}
		.mnews__lead {
			line-height: normal;
			@include min-responsive($screen-sm-min) {
				font-size: 16px;
				max-height: 46px;
				overflow: hidden;
			}
		}
		.pensi__date {
			margin: 2px 0;
		}
		.pensi__info {
			padding: 10px 15px 0 20px;
		}
	}
}

