/*paging*/
.paging {
    position: relative;
    padding: 20px 0 30px;
    &--center {
        text-align: center;
    }
    &__row {
        position: relative;
    }
    &__item {
        margin: 0px;
        display: inline-block;
    }
    &__link {
        padding: 10px 13px;
        background: transparent;
        font-size: 14px;
        border-radius: 20px;
        display: block;
        line-height: 1;
    }
    &__link:hover,
    &__link--active {
        background: #56084f;
        color: #fff;
    }
}
