.paging {
	position: relative;
	text-align: center;
	padding: 10px 0;
	span {
		padding: 5px;
		display: inline-block;
		vertical-align: top;
		font-weight: 600;
	}
	&__row {
		@include reset_ul();
		margin: 0 auto;
		display: inline-block;
	}
	&__item {
		float: left;
		margin: 0 2px;
	}
	&__link {
		display: block;
		padding: 5px 10px;
		color: #fff;
		background: #1cb4be;
		border-radius: 5px;
		&:hover {
			color: #fff;
			background: darken(#1cb4be, 7%);
		}
		&--active {
			background: darken(#1cb4be, 20%);
		}
	}
}
