.pensi {
	position: relative;
	padding: 0;
	background: #fff;
	margin: 0 -10px 20px;
	@include min-responsive($screen-sm-min) {
		margin: 0 0 20px;
	}
	&__top {
		position: relative;
	}
	&__wrap {
		padding: 0 20px;
		@include min-responsive($screen-sm-min) {
			padding: 0 25px;
		}
	}
	&__box {
		//border-radius: 10px;
		overflow: hidden;
		padding: 0 0 20px;
		margin: 30px 0;
		-webkit-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.07);
		box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.07);
		&:first-child {
			margin: 0 0 30px;
		}
	}
	&__img {
		height: 150px;
		position: relative;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
        @include range-responsive($screen-sm-min, ($screen-md-min)-1) {
			display: inline-block;
			width: 40%;
			min-height: 200px;
			float: left;
			margin-right: 20px;
			margin-bottom: -20px;
		}
	}
	&__title {
		margin: 0 15px 20px;
		padding: 15px 0;
		border-bottom: 1px solid #f0f0f0;
		font-size: 18px;
		font-family: $font_body_demi;
		line-height: normal;
	}
	&__row {
		position: relative;
		padding: 0 15px;
	}
	&__date {
		margin: 5px 0;
	}
	&__location {
		margin: 5px 0;
	}
	&__link {
		display: block;
		&:hover {
			color: inherit;
			.pensi__title {
				color: $cl_mugos2;
			}
		}
	}
	&__info {
		position: relative;
		padding: 0 15px 0 35px;
		font-size: 16px;
		& > div {
			position: relative;
		}
		.icon {
			position: absolute;
			z-index: 1;
			top: 2px;
			left: -20px;
			display: inline-block;
			width: 14px;
			height: 18px;
			background-position: top center;
			background-repeat: no-repeat;
			background-size: 100%;
		}
	}
	.title {
		padding: 20px 25px;
	}
}
