.profile {
	&__img {
		width: 120px;
		height: 120px;
		margin: 0 auto;
		border-radius: 80px;
		overflow: hidden;
		border: 2px solid $cl_mugos2;
		position: relative;
		@include min-responsive($screen-sm-min) {
			width: 150px;
			height: 150px;
		}
	}
}