.profile {
	text-align: center;
	padding: 0 0 10px;
	@include min-responsive($screen-sm-min) {
		padding: 0 0 20px;
	}
	&__cover {
		height: 80px;
		background-position: center center;
		background-size: cover;
	    @include min-responsive($screen-sm-min) {
			height: 140px;
	    }
	}
	&__img {
		width: 80px;
		height: 80px;
		margin: -40px auto 0;
		border-radius: 50px;
		overflow: hidden;
		border: 2px solid #fff;
		position: relative;
		@include min-responsive($screen-sm-min) {
			width: 100px;
			height: 100px;
			margin: -50px auto 0;
		}
	    &--edit {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			color: #fff;
			font-weight: 600;
			font-size: 12px;
			background: rgba(0,0,0,0);
			display: table;
			@include base_transition(all);
			&:hover {
				background: rgba(0,0,0,.5);
				& a.button--edit--avatar {
					@include base_transition(all);
					opacity: 1;
					visibility: visible;
				}
			}
			span {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
			}
			input {
				// visibility: hidden;
				display: block;
				width: 100%;
			}
	    }
	}
	&__username {
		color: #fff;
		font-size: 18px;
		padding: 5px 0;
		@include min-responsive($screen-sm-min) {
			padding: 10px 0;
		}
	}
	&__lastlogin {
		color: #7598a6;
		font-size: 12px;
		font-weight: 300;
		line-height: 1.3;
		span {
			display: block;
		}
	}
	&__stat {
		background: #021c27;
	}
	&__statitem {
		padding: 20px 10px;
		color: #9095aa;
		font-size: 11px;
		text-align: center;
		text-transform: uppercase;
		position: relative;
		&:first-child:after {
			content: '';
			border-right: 1px solid #9095aa;
			position: absolute;
			right: 0;
			top: 20px;
			width: 2px;
			height: 50%;
		}
		&--poin {
			background: #1cb4be;
			color: #fff;
			padding: 10px;
		}
	}
	&__statcount {
		display: block;
		line-height: 1;
		font-size: 24px;
		color: #fff;
		padding: 3px 0;
	}
	&__poin {
		padding-left: 20px;
		padding-right: 20px;
		&--poin {
			padding: 22px 0px;
		}
		&--total {
			font-size: 45px;
			font-weight: 300;
		}
	}
}