.register {
	position: relative;
	padding: 20px;
	background: #fff;
	margin: 0 -20px;
	@include min-responsive($screen-sm-min) {
		margin: 0 0 20px;
	}
	&--line {
		&--bottom {
			@include max-responsive($screen-sm-min) {
				position: absolute;
				bottom: -20px;
				left: 0;
				width: 100%;
				z-index: 1;
				border-bottom: 1px solid $cl_mugos1;
			}
		}
	}
	// &--fixed-height {
	// 	@include min-responsive($screen-sm-min) {
	// 		min-height: 400px;
	// 	}
	// }
	&__teaser {
		height: auto;
		color: #fff;
		@include min-responsive($screen-md-min) {
			min-height: 350px;
		}
	}
	&__title {
		font-family: $font_body_bold;
		padding: 0 0 20px;
		font-size: 55px;
	}
	&__row {
		// padding: 20px;
		position: relative;
	}
	&__info {
		font-size: 18px;
		padding: 0 0 20px;
		&--small {
			font-size: 14px;
			padding: 20px 0;
			border-top: 1px solid $cl_mugos1;
			@include min-responsive($screen-sm-min) {
				border-top: none;
				padding: 0 0 10px;
			}
		}
	}
}