.schedule {
	position: relative;
	margin: 0 -10px 20px;
	@include min-responsive($screen-sm-min) {
		margin: 0 0 20px;
	}
	&__row {
		position: relative;
	    overflow: hidden;
	    margin-bottom: 20px;
	    width: 100%;
	}
	&__item {
		margin: 0;
		padding: 0;
		vertical-align: top;
		position: relative;
		display: inline-block;
		@include max-responsive(($screen-sm-min)-1) {
			width: 100%;
		}
	}
	&__top {
		background: #fff;
	}
	&__link {
		height: 450px;
		display: block;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		position: relative;
		@include min-responsive($screen-sm-min) {
			height: 350px;
		}
	}
	&__title {
		opacity: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.8);
		color: #fff;
		display: block;
		vertical-align: middle;
		// text-align: center;
		@include base_transition(all);
		@include min-responsive($screen-sm-min) {
			opacity: 0;
		}
		span {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 20px;
			font-size: 16px;
			font-family: $font_body_bold;
			@include min-responsive($screen-sm-min) {
				font-size: 21px;
				opacity: 0;
			}
		}
	}
	&__item:hover .schedule__title {
		opacity: 0;
		@include min-responsive($screen-md-min) {
			opacity: 1;
		}
		span {
			@include min-responsive($screen-sm-min) {
				opacity: 1;
			}
		}
	}
	&__title {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ef2178+0,56084f+100&0.8+0,0.8+100 */
		// background: -moz-linear-gradient(-45deg,  rgba(239,33,120,0.6) 0%, rgba(86,8,79,0.6) 100%); /* FF3.6-15 */
		// background: -webkit-linear-gradient(-45deg,  rgba(239,33,120,0.6) 0%,rgba(86,8,79,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
		// background: linear-gradient(135deg,  rgba(239,33,120,0.6) 0%,rgba(86,8,79,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccef2178', endColorstr='#cc56084f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		// @include min-responsive($screen-sm-min) {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ef2178+0,56084f+100&0.8+0,0.8+100 */
			background: -moz-linear-gradient(-45deg, rgba(239, 33, 120, 0.5) 0%, rgba(86, 8, 79, 0.8) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(-45deg, rgba(239, 33, 120, 0.5) 0%, rgba(86, 8, 79, 0.8) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(135deg, rgba(239, 33, 120, 0.5) 0%, rgba(86, 8, 79, 0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccef2178', endColorstr='#cc56084f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		// }
	}
	&__like {
		&__button {
			position: absolute;
			width: auto;
			top: 20px;
			left: 20px;
			z-index: 4;
			display: inline-block;
			font-size: 30px;
			line-height: 1;
			color: #fff;
			opacity: 1;
			text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.51);
			@include min-responsive($screen-md-min) {
				font-size: 22px;
				opacity: 0;
				text-shadow: none;
			}
			&:hover {
				color: #dfdfdf;
			}
		}
	}
	&__liked,
	&__liked:hover {
		color: #f00!important;
	}
	&__item:hover .schedule__like__button {
		opacity: 1;
	}
	&__img {
		width: 100%;
		margin-bottom: 10px;
		// @include min-responsive($screen-sm-min) {
		// 	width: 250px;
		// 	position: absolute;
		// 	left: 0;
		// 	top: 0;
		// }
	}
	&__detail {
		padding: 20px;
		@include min-responsive($screen-sm-min) {
			padding: 30px;
		}
		&__wrap {
			padding: 0;
			position: relative;
			margin: 0 -10px;
			// @include min-responsive($screen-sm-min) {
			// 	padding: 0;
			// }
		}
		&__title {
			padding: 0 0 10px;
			font-family: $font_body_bold;
			font-size: 22px;
			color: $cl_mugos1;
		}
		&__time {
			padding: 0 0 5px;
			margin-bottom: 10px;
			// border-bottom: 1px solid #dfdfdf;
			font-size: 16px;
			color: #ff5ca1;
		}
		&__description {
			font-size: 16px;
			line-height: 1.4;
			padding: 0 0 20px;
		}
		&__link {
			a {
				color: $cl_mugos2;
			}
		}
		&__like {
			position: relative;
			padding: 20px 0;
			.schedule__like__button {
				position: relative;
				left: 0;
				top: 0;
				opacity: 1;
				color: #56084f;			
			}
		}
	}
	&__tab {
		position: relative;
		&--inline--right {
			display: inline-block;
			float: right;
			padding: 0 20px 0 0;
		}
		&__setting {
			display: inline-block;
			font-size: 20px;
			padding: 20px;
			margin: 0 -20px 0 0;
			@include min-responsive($screen-md-min) {
				display: none;
			}
		}
		&__row {
			position: relative;
			@include reset_ul();
			@include max-responsive($screen-md-min) {
				position: absolute;
				z-index: 2;
				background: rgba(0, 0, 0, .9);
				right: 5px;
				top: 50px;
				border-radius: 5px;
				padding: 10px 0;
				&:before {
					font-family: $font_icon;
					color: rgba(0, 0, 0, .9);
					position: absolute;
					top: -14px;
					right: 18px;
					font-size: 20px;
					line-height: 1;
					content: '\f0d8';
				}
				&--hide {					
					display: none;
				}
			}
		}
		&__item {
			display: block;
			float: left;
			width: 100%;
			@include min-responsive($screen-md-min) {
				display: inline-block;
				width: auto;
			}
		}
		&__link {
			display: block;
			padding: 10px 15px;
			font-size: 16px;
			color: #fff;
			text-transform: uppercase;
			min-width: 180px;
			text-align: right;
			@include min-responsive($screen-md-min) {
				color: #000;
				min-width: unset;
				padding: 22px 15px;
			}
			&--active {
				font-family: $font_body_bold;
				color: $cl_mugos1;
				@include min-responsive($screen-md-min) {
					color: $cl_mugos1;
					font-size: 20px;
					padding: 19px 15px;
				}
			}
		}
	}
}

