.share {
	&__title {
		position: relative;
		color: $cl_white;
		cursor: pointer;
		display: block;
		padding: 8px 10px;
		&:before {
			content: "\f1e0";
			font-family: $font_icon;
			font-size: 20px;
			line-height: 1;
		}
		// &:after {
		//     @include min-responsive($mdtablet) {
		// 		content: " Share";
		// 		font-size: 14px;
		//     }
		// }
	}
	&--inline {
		display: inline-block;
	}
	&--center {
		display: block;
		text-align: center;
	}
	&--right {
		display: inline-block;
		float: right;
	}
	&--fixed {
		position: fixed;
		//top: 40%;
		bottom: 13px;
		right: 55px;
		z-index: 9;
	}
	&__wrap {
		padding: 0;
		margin: 0;
		display: inline-block;
		vertical-align: top;
		&--float {
			position: absolute;
			top: 40px;
			right: 0;
			padding: 10px;
			background: rgba(0,0,0,.8);
			min-width: 130px;
			height: auto;
			& .share__link {
				color: #fff;
				background: transparent;
			}
			& .share__link:hover {
				background: transparent;
			}
			& .share__link--fb:hover span {
				color: $cl_fb;
			}
			& .share__link--tw:hover span {
				color: $cl_tw;
			}
			& .share__link--wa:hover span {
				color: $cl_wa;
			}
		}
	}
	&__item {
		padding: 0;
		margin: 0 2px;
		display: block;	
		float: left;	
	}
	&__link {
		margin: 0;
		line-height: 1;
		font-size: 12px;
		padding: 3px;
		border-radius: 20px;
		text-align: center;
		vertical-align: middle;
		display: block;
		color: #000;
		&:hover {
			color: #fff;
		}
		span {
			width: 16px;
			height: 16px;
			display: block;
			border-radius: 16px;
			line-height: 1.5;
		}
		&--facebook {
			color: #fff;
			background: $cl_fb;
			&:hover {
				background: darken($cl_fb, 20%);
			}
		}
		&--twitter {
			color: #fff;
			background: $cl_tw;
			&:hover {
				background: darken($cl_tw, 20%);
			}
		}
		&--whatsapp {
			color: #fff;
			background: $cl_wa;
			&:hover {
				background: darken($cl_wa, 20%);
			}
		}
		&--google-plus {
			color: #fff;
			background: $cl_gp;
			&:hover {
				background: darken($cl_gp, 20%);
			}
		}
		&--instagram {
			color: #fff;
			background: $cl_ig;
			&:hover {
				background: darken($cl_ig, 20%);
			}
		}
		&--youtube {
			color: #fff;
			background: $cl_yt;
			&:hover {
				background: darken($cl_yt, 20%);
			}
		}
		&--linkedin {
			color: #fff;
			background: $cl_ln;
			&:hover {
				background: darken($cl_ln, 20%);
			}
		}
		&--footer {
			background: #fff;
			color: $cl_mugos2;
			font-size: 22px;
			&:hover {
				background: $cl_mugos1;
			}
			span {
				width: 35px;
				height: 35px;
			}
		}
	}
	&__count {
		font-family: $font_vik2;
		display: inline-block;
		float: right;
		padding: 10px 5px 0 5px;
		display: block;
		font-weight: 400;
		font-size: 10px;
		color: #000;
		text-align: center;
	}
	&__total {
		line-height: 13px;
		font-weight: 800;
		font-size: 14px;
		display: block;
	}
}
