.tabs {
	font-family: $font_intro;
	padding: 0 0 0 3px;
	&--large {
		margin: 0;
		@include min-responsive($mdtablet) {
			margin: 0 -90px;
		}
	}
	&__wrap {
		font-family: $font_intro;
	    font-size: 17px;
		// width: 100%;
		padding: 20px;
		border: 1px solid #ccc;
		border-radius: 5px;
	    margin: -1px 0 0;
		position: relative;
		display: block;
		&--large {
			margin: 0;
			@include min-responsive($mdtablet) {
				margin: 0 -90px;
			}
		}
	}
	&__item {
		width: 100%;
		position: relative;
		display: block;
	}
	li {
		width: auto;
		@include min-responsive($mdtablet) {
			width: 15%;
		}
		float: left;
		vertical-align: bottom;
		&:last-child {
			border-right: 1px solid #ccc;			
		}
	}
	&--long {
		@include min-responsive($mdtablet) {
			width: 24% !important;
		}
	}
	&--medium {
		@include min-responsive($mdtablet) {
			width: 22% !important;
		}
	}
	&__button {
		display: block;
		border-left: 1px solid #ccc;
		border-top: 1px solid #ccc;
	    background: #EFEFEF;
		padding: 7px 10px;
		color: #2c3e50 !important;
		font-size: 13px;
		font-weight: 400!important;
		@include min-responsive($mdtablet) {
			font-size: 18px;
			font-weight: 700!important;
		}
		span {
			display: none;
			font-size: 11px;
			font-weight: 300;
			@include min-responsive($mdtablet) {
				display: block;
			}
		}
		&--active {
			border-top: 4px solid #2c3e50;
			padding: 6px 10px;
			color: #000 !important;
			background: #fff;
		}
	}
}