.title {
	font-family: $font_body_bold;
	text-transform: uppercase;
	position: relative;
	padding: 10px 20px;
	font-size: 20px;
	color: $cl_mugos1;
	// @include min-responsive($screen-sm-min) {
	// 	font-size: 20px;
	// }
	span {
		color: $cl_mugos2;
	}
	&--inline {
		display: inline-block;
	}
	&--schedule {
		padding: 20px;
	}
	&--sidebar {
		padding: 20px 0;
	}
	&--clear {
		padding: 10px 0;
	}
	&--footer {
		padding: 0 0 10px;
		color: #fff;
	}
	&--page {
		padding: 15px 0;
		font-size: 20px;
		color: #666;
	}
	&--live {
		padding: 10px 0;
		border-bottom: 1px solid $cl_mugos1;
		margin: 0 0 20px;
	}
}