/*ttooltips*/
.tooltips {
    position: absolute;
    top: 0;
    left: 100%;
    width: auto;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
	@include base_transition(all);
    cursor: default;
	&:before {
		content: '';
		position: absolute;
		bottom: 6px;
		left: 8px;
		width: 10px;
		height: 10px;
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		background: #000;
	}
	span {
		border-radius: 5px;
		background: #000;
		display: block;
		margin-left: 10px;
		padding: 6px 12px;
		color: #fff;
		font-size: 11px;
	}
	&--show {
		opacity: 1;
		visibility: visible;
	}
}
