/*topup*/
.topup {
    background: #fff;
    padding: 30px 0;
    margin: 0 -10px;
    @include min-responsive($screen-sm-min) {
        margin: 0;
    }
    &__item {
        margin: 0 0 20px;
    }
    &__select {
        display: block;
        padding: 15px;
    }
    &__radio {
        display: block;
        position: relative;
    }
    &__row {
        display: block;
        position: relative;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        background: #fff;
        border: 1px solid #56084f;
        text-align: center;
        @include base_transition(all);
    }
    &__radio input[type="radio"]:checked + &__row {
        border: 1px solid #56084f;
        color: #fff;
        background: #ef2178;
    }
    &__row:hover {
        color: #000;
        background: #f0f0f0;
        border: 1px solid #ef2178;
    }
    &__radio input {
        visibility: hidden;
        position: absolute;
    }
    &__price {
        font-size: 14px;
        font-family: $font_body_bold;
        padding: 0 0 5px;
    }
    &__coin {
        font-size: 14px;
    }
    &__coin span {
        padding-right: 5px;
        font-size: 18px;
        vertical-align: text-top;
        color: #c78a00;
    }
    &__radio input[type="radio"]:checked + &__row &__coin span {
        color: #fff;
    }
    &__content {
        /*background: #fff;*/
        padding: 0 10px 30px;
        @include min-responsive($screen-sm-min) {
            padding: 0 15px 30px;
        }
    }
    &__teaser {
        padding: 20px 0 20px;
        @include min-responsive($screen-sm-min) {
            padding: 0 0 20px;
        }
    }
    &__partner {
        padding: 10px 0 30px;
    }
}
