.trending {
	position: relative;
	padding-top: 0px;
	margin-bottom: 20px;
	background: #dedede;
	&__title {
		background: $cl_mugos2;
		color: #fff;
		padding: 11px;
		height: 40px;
		text-transform: uppercase;
		display: block;
		position: relative;
        @include min-responsive($screen-sm-min) {
			display: inline-block;
        }
		span {
			font-family: $font_body_bold;
		}
		&:after {
			position: absolute;
			right: -10px;
			top: 0;
		    border-top: 20px solid transparent;
		    border-left: 10px solid $cl_mugos2;
		    border-bottom: 20px solid transparent;
	        @include min-responsive($screen-sm-min) {
				content: '';
	        }
		}
	}
	&__content {
		overflow: hidden;
		padding-left: 0;
		padding-right: 0;
        @include min-responsive($screen-sm-min) {
			padding-left: 10px;
			padding-right: 10px;
			height: 40px;
			overflow: hidden;
        }
	}
	&__row {
		@include reset_ul();
		// text-align: center;
		padding: 0;
        @include min-responsive($screen-sm-min) {
			padding: 0 0 0 10px;
        }
	}
	&__item {
		@include reset_ul();
		display: inline-block;
		width: 100%;
	}
	&__link {
		display: block;
		padding: 11px;
	}
}