.video {
	position: relative;
	margin: 0 -10px 0;
	@include min-responsive($screen-sm-min) {
		margin: 0 0 20px;
	}
	&__player {
		position: relative;
	}
	&__title {
		padding: 0 0 20px;
		font-weight: 300;
		font-size: 25px;
		@include min-responsive($screen-sm-min) {
			padding: 10px 0 20px;
			font-size: 40px;
		}
	}
	&__dummy {
		position: relative;
		width: 100%;
		height: 211px;
		background: #999;
		@include min-responsive($screen-sm-min) {
			height: 420px;
		}
		@include min-responsive($screen-md-min) {
			height: 478px;
		}
		@include min-responsive($screen-lg-min) {
			height: 557px;
		}
	}
}