@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lnmesv');
  src:  url('fonts/icomoon.eot?lnmesv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lnmesv') format('truetype'),
    url('fonts/icomoon.woff?lnmesv') format('woff'),
    url('fonts/icomoon.svg?lnmesv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart-o:before {
  content: "\e90d";
}
.icon-heart:before {
  content: "\e90e";
}
.icon-emoji:before {
  content: "\e90b";
}
.icon-coin:before {
  content: "\e90c";
}
.icon-comment-my:before {
  content: "\e900";
}
.icon-send:before {
  content: "\e901";
}
.icon-setting:before {
  content: "\e903";
}
.icon-comment:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-arrow_upward:before {
  content: "\e906";
}
.icon-arrow_forward:before {
  content: "\e907";
}
.icon-arrow_downward:before {
  content: "\e908";
}
.icon-arrow_back:before {
  content: "\e909";
}
.icon-cross:before {
  content: "\e90a";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-user:before {
  content: "\f007";
}
.icon-check:before {
  content: "\f00c";
}
.icon-power-off:before {
  content: "\f011";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-camera:before {
  content: "\f030";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-exclamation-circle:before {
  content: "\f06a";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-thumbs-o-down:before {
  content: "\f088";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-bell-o:before {
  content: "\f0a2";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-sort-desc:before {
  content: "\f0dd";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-angle-double-left:before {
  content: "\f100";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-double-up:before {
  content: "\f102";
}
.icon-angle-double-down:before {
  content: "\f103";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-mail-reply:before {
  content: "\f112";
}
.icon-info:before {
  content: "\f129";
}
.icon-thumbs-up:before {
  content: "\f164";
}
.icon-thumbs-down:before {
  content: "\f165";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-toggle-off:before {
  content: "\f204";
}
.icon-toggle-on:before {
  content: "\f205";
}
.icon-whatsapp:before {
  content: "\f232";
}
.icon-gift:before {
  content: "\e902";
}
